<div class="modal-body modal-btn-group">
  <xm-loader [showLoader]="showLoader"></xm-loader>

  <div class="form-group">
    <mat-form-field>
      <input (change)="onSearch()"
             [(ngModel)]="searchQuery"
             id="field_search"
             matInput
             name="search"
             placeholder="{{'xm-entity.link-detail-dialog.add.build-type-search' | translate}}"
             type="text">
    </mat-form-field>
  </div>

  <no-data [show]="!searchXmEntities || searchXmEntities?.length <= 0"></no-data>

  <div *ngIf="searchXmEntities?.length > 0" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th><span jhiTranslate="xm-entity.common.fields.name">Name</span></th>
        <th><span jhiTranslate="xm-entity.common.fields.description">Description</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let xmEntity of searchXmEntities">
        <td>
          <div class="xm-avatar-img-container">
            <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
            <i *ngIf="!xmEntity.avatarUrl && xmEntity && spec"
               class="material-icons">{{ xmEntity.typeKey | xmEntityIcon: spec}}</i>
          </div>
        </td>
        <td>{{xmEntity.name}}</td>
        <td>{{xmEntity.description}}</td>
        <td>
          <button (click)="onAdd(xmEntity)" class="btn btn-primary rounded-circle btn-sm">
            <span jhiTranslate="xm-entity.link-detail-dialog.add-link">add</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <button (click)="onShowMore()" *ngIf="searchXmEntities?.length < total" [disabled]="showLoader" class="btn btn-primary rounded-circle"
              mat-button>
        <span jhiTranslate="xm-entity.link-detail-dialog.show-more">Show more</span>
      </button>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onCancel()" class="btn ml-auto" data-dismiss="modal" mat-button type="button">
    <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
  </button>
</div>
