<div mat-dialog-title>
  <h4 class="modal-title text-left">
    <span jhiTranslate="xm-entity.link-detail-dialog.add.title">Add new Link for the</span> [<b>{{xmEntity.name}}</b>]
  </h4>
</div>

<div mat-dialog-content>
  <div *ngIf="linkSpec.builderType === 'NEW-OR-SEARCH'" class="raw col-sm-12 text-center">
    <div class="btn-group">
      <button (click)="mode = 'NEW';"
              [disabled]="mode === 'NEW'"
              class="btn btn-primary btn-sm rounded-circle"
              mat-button
              type="button">
        <span jhiTranslate="xm-entity.link-detail-dialog.add.build-type-new">New</span>
      </button>
      <button (click)="mode = 'SEARCH';"
              [disabled]="mode === 'SEARCH'"
              class="btn btn-primary btn-sm rounded-circle"
              mat-button
              type="button">
        <span jhiTranslate="xm-entity.link-detail-dialog.add.build-type-search">Search</span>
      </button>
    </div>
  </div>
</div>

<xm-link-detail-new-section *ngIf="mode === 'NEW' && spec" [linkSpec]="linkSpec" [sourceXmEntity]="sourceXmEntity"
                            [spec]="spec">
</xm-link-detail-new-section>

<xm-link-detail-search-section *ngIf="mode === 'SEARCH'" [linkSpec]="linkSpec" [sourceXmEntity]="sourceXmEntity"
                               [spec]="spec">
</xm-link-detail-search-section>
