<form #entityForm="ngForm" (ngSubmit)="onConfirmSave()" class="m-0" name="entityForm" novalidate role="form">
  <div class="modal-body modal-btn-group">
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div [hidden]="true" class="form-group">
      <label class="form-control-label" for="id">
        <span jhiTranslate="xm-entity.common.fields.id">ID</span>
      </label>
      <input [(ngModel)]="xmEntity.id" class="form-control" id="id" name="id" readonly type="text"/>
    </div>

    <div *ngIf="!isEdit" [hidden]="!(availableSpecs?.length > 1)" class="form-group">
      <mat-form-field>
        <mat-select #entityType="ngModel"
                    (selectionChange)="onChangeEntityType(xmEntity.typeKey)"
                    [(ngModel)]="xmEntity.typeKey"
                    id="field_typeKey"
                    name="typeKey"
                    placeholder="{{'xm-entity.entity-detail-dialog.add.choose-type' | translate}}"
                    required>
          <mat-option *ngFor="let spec of availableSpecs"
                      [selected]="spec.key == xmEntity.typeKey ? true : null"
                      [value]="spec.key">
            {{(spec.name | i18nName: principal)?.toUpperCase()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entityType.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!jsfAttributes?.entity?.hideNameAndDescription" class="form-group">
      <mat-form-field>
        <input #entityName="ngModel"
               [(ngModel)]="xmEntity.name"
               id="field_name"
               matInput
               name="name"
               placeholder="{{'xm-entity.common.fields.name' | translate}}"
               required
               type="text">
        <mat-error *ngIf="entityName.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!jsfAttributes?.entity?.hideNameAndDescription" class="form-group">
      <mat-form-field>
        <textarea [(ngModel)]="xmEntity.description"
                  matInput
                  name="description"
                  placeholder="{{'xm-entity.common.fields.description' | translate}}"
                  rows="4">
        </textarea>
      </mat-form-field>
    </div>

    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (isValid)="isJsonFormValid = $event"
                      (onChanges)="onChangeForm($event)"
                      *ngIf="!isEdit && jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf :principal"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf :principal"
                      [options]="jsfAttributes.options | i18nJsf :principal"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets"
                      class="json-form-hide-submit">
    </json-schema-form>
  </div>
  <div class="modal-footer">
    <button (click)="onCancel()" class="btn mr-1" data-dismiss="modal" mat-raised-button type="button">
      <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
    </button>
    <button [disabled]="entityForm.form.invalid || showLoader || !isJsonFormValid"
            class="btn btn-primary"
            mat-raised-button
            type="submit">
      <span jhiTranslate="xm-entity.common.save">Save</span>
    </button>
  </div>
</form>
