.card-title {
    margin-bottom: 0;
}

.form-control + .form-text {
    opacity: 0;
}

.form-control.ng-touched.ng-dirty.ng-invalid + .form-text {
    opacity: 1;
}

.attachments-list .attachment-element {
    position: relative;
    padding: 10px 30px 10px 10px;
}

.attachments-list .attachment-element:nth-child(odd) {
    background-color: #f5f5f5;
}

.attachments-list .remove-attachment {
    position: absolute;
    right: 4px;
    top: 9px;
}

.attachments-list .attach-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.attachments-list .attach-description {
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
