.offering-title {
    display:            -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:           hidden;
    text-overflow:      ellipsis;
}

.offering-description {
    font-size:          14px;
    display:            -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:           hidden;
    text-overflow:      ellipsis;
}
