<div class="header text-center" *ngIf="config.name">
  <h3 class="title">{{config.name}}</h3>
</div>

<div class="row" *ngFor="let i of rows">
  <div [ngClass]="'col-sm-' + (12 / rowSize)"
       *ngFor="let offering of offerings | slice:(i * rowSize):(i + 1) * rowSize">
    <div class="card card-product">
      <div class="card-header card-header-image">
        <img class="img" [src]="resolveAvatarUrl(offering)" *ngIf="resolveAvatarUrl(offering)">
      </div>
      <div class="card-body">
        <div class="card-actions">
          <button type="button" class="btn btn-danger btn-simple fix-broken-card">
            <i class="material-icons">build</i>
          </button>
        </div>
        <h4 class="card-title offering-title">
          <a>{{offering.name}}</a>
        </h4>
      </div>
      <div class="card-footer">
        <div class="card-description">
          <h4 class="offering-description">{{offering.description}}</h4>
          <button class="btn btn-primary btn-round" *ngIf="config.action?.enabled" (click)="onAction(offering)">
            {{config.action.name | i18nName: principal}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
