/**
 * Based on material and bootstrap
 */
@import 'mat-palette';

// Palette setup
$xm-set-palette-default:      500 !default;
$xm-set-palette-text-default: 500 !default;
$xm-set-palette-darker:       100 !default;
$xm-set-palette-lighter:      800 !default;
$xm-set-palette-text-darker:  800 !default;
$xm-set-palette-text-lighter: 0 !default;

// Text
$xm-text:                     rgba(black, 0.87) !default;
$xm-text-dark:                rgba(black, 0.87) !default;
$xm-text-light:               rgba(black, 0.87) !default;

// Divider
$xm-divider:                  rgba(black, 0.87) !default;

/*
 * Primary
 */

// map of material colors, where a key is an index and a value is a color
$xm-primary-palette:          $mat-white !default;
/* css gradient, such as linear-gradient */
//  todo: gradient
$xm-primary-gradient:         map-get($xm-primary-palette, $xm-set-palette-default) !default;
/* hex */
$xm-primary:                  map-get($xm-primary-palette, $xm-set-palette-default) !default;
$xm-primary-dark:             map-get($xm-primary-palette, $xm-set-palette-darker) !default;
$xm-primary-light:            map-get($xm-primary-palette, $xm-set-palette-lighter) !default;
$xm-text-primary:             map-get($xm-primary-palette, $xm-set-palette-text-default) !default;
$xm-text-primary-dark:        map-get($xm-primary-palette, $xm-set-palette-text-darker) !default;
$xm-text-primary-light:       map-get($xm-primary-palette, $xm-set-palette-text-lighter) !default;
$xm-text-on-primary:          #fff !default;
$xm-text-on-primary-dark:     $xm-text-light !default;
$xm-text-on-primary-light:    $xm-text-dark !default;

// secondary or accent
$xm-secondary-palette:        $mat-white !default;
$xm-secondary:                map-get($xm-secondary-palette, $xm-set-palette-default) !default;
$xm-text-on-secondary:        $xm-text !default;

// warning
$xm-warn-palette:             $xm-mat-red !default;
$xm-warn:                     map-get($xm-warn-palette, $xm-set-palette-default) !default;
$xm-text-on-warn:             $xm-text !default;

// error
$xm-error-palette:            $xm-warn-palette !default;
$xm-error:                    map-get($xm-error-palette, $xm-set-palette-default) !default;
$xm-text-on-error:            $xm-text !default;

// hint or info
$xm-hint-palette:             $xm-secondary-palette !default;
$xm-hint:                     map-get($xm-hint-palette, $xm-set-palette-default) !default;
$xm-text-on-hint:             $xm-text !default;

// success
$xm-success-palette:          $xm-primary-palette !default;
$xm-success:                  map-get($xm-success-palette, $xm-set-palette-default) !default;
$xm-text-on-success:          $xm-text !default;

// background
$xm-background:               #fafafa !default;
$xm-text-on-background:       $xm-text !default;

// surface or foreground
$xm-surface:                  #fff !default;
$xm-text-on-surface:          $xm-text !default;

// border-radius
$xm-set-enable-rounded:       true !default;
$border-radius:               4px !default;

$xm-theme:                    (
                                // Primary
                                primary: $xm-primary,
                                primary-palette: $xm-primary-palette,
                                on-primary: $xm-text-on-primary,
                                // Secondary
                                secondary: $xm-secondary,
                                secondary-palette: $xm-secondary-palette,
                                on-secondary: $xm-text-on-secondary,
                                // Warn
                                warn: $xm-warn,
                                warn-palette: $xm-warn-palette,
                                on-warn: $xm-text-on-warn,
                                // Error
                                error: $xm-error,
                                on-error: $xm-text-on-error,
                                // Hint
                                hint: $xm-hint,
                                on-hint: $xm-text-on-hint,
                                // Success
                                success: $xm-success,
                                on-success: $xm-text-on-success,
                                // Surface
                                surface: $xm-surface,
                                on-surface: $xm-text-on-success,
                                // Background
                                background: $xm-background,
                                text: $xm-text,
                              ) !default;
