/*
 * Typography
 */

$xm-font-size-xm: 11px !default;
$xm-font-size-sm: 13px !default;
$xm-font-size-md: 16px !default;
$xm-font-size-lg: 18px !default;
$xm-font-size-xl: 22px !default;

$xm-font-weight:  400 !default;
