/*
 * Z-index
 * @todo: research, Z-index in range of 900-1000 because angular overlay starts from 1000
 */
$zindex-dropdown:       900 !default;
$zindex-sticky:         920 !default;
$zindex-fixed:          930 !default;
$zindex-modal-backdrop: 940 !default;
$zindex-modal:          950 !default;
$zindex-popover:        960 !default;
$zindex-tooltip:        970 !default;

$z-indexes:             (
                          dropdown: $zindex-dropdown,
                          sticky: $zindex-sticky,
                          fixed: $zindex-fixed,
                          modalbackdrop: $zindex-modal-backdrop,
                          modal: $zindex-modal,
                          popover: $zindex-popover,
                          tooltip: $zindex-tooltip,
                        ) !default;
