::ng-deep {
    .comment-card {
        color: rgba(0, 0, 0, .87);

        margin-bottom: 25px;

        &__row {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
        }

        &__coll {
            flex: 1;

            &:nth-child(1) {
                flex: 0 0 80px;
                max-width: 80px;
            }
            &:nth-child(2) {
                padding-left: 35px;
            }
        }

        &__avatar {
            position: relative;
            display: block;
            width: 100%;
            max-width: 80px;

            border-radius: 100%;

            &:before {
                content: "";
                display: block;
                width: 100%;

                padding-bottom: 100%;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        &__detail {
            position: relative;

            background: #fff;
            border-radius: 6px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);

            padding: 20px;

            &:before, &:after {
                content: "";
                display: inline-block;
                position: absolute;
            }
            &:before {
                top: 26px;
                left: -16px;

                border-top: 15px solid transparent;
                border-left: 0;
                border-right: 15px solid #e4e4e4;
                border-bottom: 15px solid transparent;
            }
            &:after {
                border-top: 14px solid transparent;
                border-left: 0;
                border-right: 14px solid #fff;
                border-bottom: 14px solid transparent;

                top: 27px;
                left: -14px;
            }

            &-header {
                display: flex;
                align-items: center;
            }

            &-content {
                padding: 12px 0 0 0;
            }
        }

        &__user-name, &__date-published {
            font-size: 14px;
        }
        &__user-name {
            font-weight: 500;

            padding-right: 8px;
        }
        &__date-published {
            font-style: italic;
            font-weight: 200;
        }
        &__message {
            font-size: 16px;
        }
    }
}
