<div class="comment-card">
  <ng-container *ngIf="commentator$ | async as commentator">
    <div class="comment-card__row">
      <div class="comment-card__coll">
        <div class="comment-card__avatar">
          <img [src]="commentator?.data?.imageUrl ? commentator.data.imageUrl : './assets/img/anonymous.png'">
        </div>
      </div>

      <div class="comment-card__coll">
        <div class="comment-card__detail">
          <div class="comment-card__detail-header">
            <div class="comment-card__user-name">
              {{commentator?.data?.firstName}} {{commentator?.data?.lastName}}
            </div>
            <div class="comment-card__date-published">
              {{comment.entryDate | date: 'dd.MM.yyyy'}} - {{comment.entryDate | date: 'HH:mm'}}
            </div>
          </div>
          <div class="comment-card__detail-content">
            <div class="comment-card__message">
              {{comment.message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
