.action {
    .mat-icon {
        font-size: 23px !important;
    }
}

.va__middle {
    vertical-align: middle;
}

.relative-block {
    position: relative;
}

.abs-link {
    position: absolute !important;
    left:     100% !important;
    top:      -8px !important;
    margin:   0 0 0 10px !important;
}
