<div [ngClass]="{'wdt-md-edit': isEditMode}" class="card wdt-md">
  <a (click)="onSave()" *ngIf="isEditMode" class="header-action" href="javascript: void(0);">
    <i class="material-icons">save</i>
  </a>
  <a (click)="onEditMode()" *ngIf="!isEditMode" class="header-action" href="javascript: void(0);">
    <i class="material-icons">edit</i>
  </a>
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">format_color_text</i>
    </div>
    <h4 class="card-title">
      {{name}}
    </h4>
  </div>
  <div class="card-body">
    <textarea id="xm-widget-md" rows="10"></textarea>
  </div>
</div>
