.idea/
*.iml
node_modules/
dist/
!src/swagger-ui/dist/
out-tsc/
.DS_Store
#
package-lock.json
# local dev configuration
local.proxy.conf.js
.vscode/

src/i18n/en.json
src/i18n/ru.json
src/i18n/uk.json

src/assets/mock-data

src/app/ext/*
!src/app/ext/.gitkeep
!src/assets/css/ext/
src/assets/img/ext/
angular.json
