{
    "extends": "stylelint-config-recommended",
    "plugins": ["stylelint-declaration-use-variable"],
    "rules": {
        "sh-waqar/declaration-use-variable": [
            [
                "/padding/",
                "/margin/",
                "/border/",
                "/border-radius/",
                "/color/",
                "/background/",
                "font-size",
                "font-weight",
                "z-index",
                "/box-shadow/"
            ]
        ]
    }
}
