<div mat-dialog-title>
  <h4 class="modal-title text-left" jhiTranslate="global.shared.privacy-and-terms-dialog.title">Privacy and Terms</h4>
</div>

<div mat-dialog-content>
  <div class="xm-terms-viewer">
    <markdown [src]="config?.privacyAndTerms[lang ? lang : 'en']"></markdown>
    <div class="form-group checkbox accept-terms">
      <label>
        <input id="iAgree" name="iAgree" type="checkbox" [(ngModel)]="iAgree">
      </label>
      <label for="iAgree">
        {{(config.privacyAndTermsAcceptLabel ? config.privacyAndTermsAcceptLabel : 'global.shared.privacy-and-terms-dialog.i-agree') | translate}}
      </label>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button type="button" class="btn mr-1 ml-auto" data-dismiss="modal" (click)="onCancel()">
    <span jhiTranslate="global.common.cancel">Cancel</span>
  </button>
  <button mat-button
          type="button"
          color="primary"
          data-dismiss="modal"
          [disabled]="!iAgree" (click)="onAccept()">
    <span jhiTranslate="global.common.accept">Accept</span>
  </button>
</div>
