<div class="row mb-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">traffic</i>
        </div>
        <h4 class="card-title" jhiTranslate="gateway.title">Gateway</h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <!--Header-->


        <div class="table-responsive" *ngIf="gatewayRoutes?.length">
          <table class="table table-striped">
            <thead>
            <tr>
              <th jhiTranslate="gateway.routes.url">URL</th>
              <th jhiTranslate="gateway.routes.service">Service</th>
              <th jhiTranslate="gateway.routes.servers">Available servers</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let route of gatewayRoutes">
              <td>{{route.path}}</td>
              <td>{{route.serviceId}}</td>
              <td>
                <div *ngIf="route.serviceInstances.length == 0" class="badge badge-danger"
                     jhiTranslate="gateway.routes.error">
                  Warning: no server available!
                </div>
                <div class="table-responsive">
                  <table class="table table-striped" *ngIf="route">
                    <tr *ngFor="let instance of route.serviceInstances">
                      <td [style.width]="'20%'"><a href="{{instance.uri}}" target="_blank">{{instance.uri}}</a></td>
                      <td [style.width]="'5%'">
                        <div *ngIf="route.serviceInstancesStatus"
                             class="badge badge-{{route.serviceInstancesStatus[instance.uri] === 'UP'?'success':'danger'}}">
                          {{route.serviceInstancesStatus[instance.uri]}}
                        </div>
                        <div *ngIf="!route.serviceInstancesStatus"
                             class="badge badge-warning">?
                        </div>
                      </td>
                      <td>
                        <span *ngFor="let entry of (instance.metadata | keys )">
                            <span class="badge badge-default">
                                {{entry.key}}: {{entry.value}}
                            </span>
                        </span>
                        <span *ngIf="route.serviceMetadata && route.serviceMetadata[instance.uri]">
                            <span
                              *ngFor="let entry of (route.serviceMetadata[instance.uri] | keys )">
                                <span *ngIf="entry.key === 'currentBranch'" class="badge badge-default">{{entry.key}}
                                  : {{entry.value}}</span>
                                <span *ngIf="entry.key === 'hashCommit'" class="badge badge-default">{{entry.key}}
                                  : {{entry.value}}</span>
                                <span *ngIf="entry.key === 'time'" class="badge badge-default">{{entry.key}}
                                  : {{entry.value | date:'short'}}</span>
                            </span>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <no-data [show]="!gatewayRoutes?.length"></no-data>
      </div>
    </div>
  </div>
</div>

<div class="xm-fab">
  <div class="xm-fab-drop">
    <button class="xm-fab-option" (click)="refresh()" [disabled]="showLoader">
      <i class="material-icons">refresh</i>
    </button>
    <button class="xm-fab-option" (click)="tenantConfigRefresh()" [disabled]="showLoader"
            *xmPermitted="['CONFIG.CLIENT.REFRESH']">
      <i class="material-icons">system_update_alt</i>
    </button>
    <button class="xm-fab-option" (click)="tenantElasticUpdate()" [disabled]="showLoader"
            *xmPermitted="['ELASTICSEARCH.INDEX']">
      <i class="material-icons">search</i>
    </button>
  </div>
  <button mat-button class="btn btn-primary btn-icon btn-just-icon rounded-circle btn-lg" [disabled]="showLoader">
    <i class="material-icons">build</i>
  </button>
</div>
