<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="primary">
                <i class="material-icons">traffic</i>
            </div>

            <div class="card-content">
                <!--Header-->
                <h4 class="card-title" jhiTranslate="gateway.title">Gateway</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th jhiTranslate="gateway.routes.url">URL</th>
                            <th jhiTranslate="gateway.routes.service">Service</th>
                            <th jhiTranslate="gateway.routes.servers">Available servers</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let route of gatewayRoutes">
                                <td>{{route.path}}</td>
                                <td>{{route.serviceId}}</td>
                                <td>
                                    <div *ngIf="route.serviceInstances.length == 0" class="label label-danger" jhiTranslate="gateway.routes.error">
                                        Warning: no server available!
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped" *ngIf="route">
                                            <tr *ngFor="let instance of route.serviceInstances">
                                                <td><a href="{{instance.uri}}" target="_blank">{{instance.uri}}</a></td>
                                                <td>
                                                    <div *ngIf="route.serviceInstancesStatus"
                                                         class="label label-{{route.serviceInstancesStatus[instance.uri] === 'UP'?'success':'danger'}}">
                                                        {{route.serviceInstancesStatus[instance.uri]}}
                                                    </div>
                                                    <div *ngIf="!route.serviceInstancesStatus"
                                                         class="label label-warning">?
                                                    </div>
                                                </td>
                                                <td>
                                                    <span *ngFor="let entry of (instance.metadata | keys )">
                                                        <span class="badge">
                                                            {{entry.key}}: {{entry.value}}
                                                        </span>
                                                    </span>
                                                    <span *ngIf="route.serviceMetadata && route.serviceMetadata[instance.uri]">
                                                        <span *ngFor="let entry of (route.serviceMetadata[instance.uri] | keys )">
                                                            <span *ngIf="entry.key === 'currentBranch'" class="badge">{{entry.key}}: {{entry.value}}</span>
                                                            <span *ngIf="entry.key === 'hashCommit'" class="badge">{{entry.key}}: {{entry.value}}</span>
                                                            <span *ngIf="entry.key === 'time'" class="badge">{{entry.key}}: {{entry.value | date:'short'}}</span>
                                                        </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-fab btn-primary xm-btn-fab" (click)="refresh()" (disabled)="updatingRoutes">
    <i class="material-icons">refresh</i>
</button>