<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">dashboard</i>
        </div>

        <h4 class="card-title" jhiTranslate="admin-config.dashboard-list-card.title">Dashboards</h4>
      </div>

      <div class="card-body">
        <div class="dropdown export-actions">
          <button [matMenuTriggerFor]="dashboardsListActions" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #dashboardsListActions="matMenu">
            <button (click)="exportDashboardsAndWidgets()"
                    *ngIf="list?.length > 0"
                    class="btn-sm"
                    mat-menu-item
                    type="button">
              {{'admin-config.dashboard-list-card.export-action' | translate}}
            </button>
            <button (click)="importInput.click()"
                    class="btn-sm"
                    mat-menu-item
                    type="button">
              {{'admin-config.dashboard-list-card.import-action' | translate}}
            </button>
          </mat-menu>
          <input #importInput (input)="onInputChange($event)" hidden type="file">
        </div>

        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div *ngIf="list?.length" class="material-datatables table-responsive">
          <table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables" width="100%">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
              <th jhiSortBy="id"><span jhiTranslate="admin-config.common.fields.id">ID</span>
                <span class="fa fa-sort"></span></th>
              <th jhiSortBy="name"><span jhiTranslate="admin-config.common.fields.name"></span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="owner"><span jhiTranslate="admin-config.common.fields.owner"></span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="typeKey"><span jhiTranslate="admin-config.common.fields.typeKey"></span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="typeKey"><span jhiTranslate="admin-config.common.fields.config"></span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="typeKey"><span jhiTranslate="admin-config.common.fields.layout"></span> <span
                class="fa fa-sort"></span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dashboard of list; trackBy: trackIdentity">
              <td><a [routerLink]="['../', dashboard.id]">{{dashboard.id}}</a></td>
              <td>{{dashboard.name}}</td>
              <td>{{dashboard.owner}}</td>
              <td>{{dashboard.typeKey}}</td>
              <td>{{!!dashboard.config}}</td>
              <td>{{!!dashboard.layout}}</td>
              <td class="text-right">
                <a (click)="onEdit(dashboard)" href="javascript: void(0);">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteItem(dashboard)" href="javascript: void(0);">
                  <i class="material-icons">close</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="list?.length" class="row align-items-center list-pagination">
          <div class="col-auto">
            <xm-per-page (onChange)="transition()" [(itemsPerPage)]="itemsPerPage"></xm-per-page>
          </div>
          <div class="col-auto">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [collectionSize]="totalItems" [maxSize]="5"
                            [pageSize]="itemsPerPage"></ngb-pagination>
          </div>
        </div>

        <no-data [show]="!list?.length"></no-data>
      </div>
    </div>
  </div>
</div>

<div class="xm-fab">
  <button (click)="onAddNew()" class="btn btn-primary btn-icon btn-just-icon rounded-circle btn-lg" mat-button>
    <i class="material-icons">add</i>
  </button>
</div>
