<div class="card card-product">
  <div class="card-header card-header-image attachment-card-image d-flex align-items-center">
    <img *ngIf="isImage() && imageSrc"
         [src]="imageSrc"
         class="img img-fluid"/>
    <img *ngIf="!isImage() && getFileTypeImage()"
         [src]="getFileTypeImage()"
         class="img img-fluid"/>
    <img *ngIf="!(isImage() && imageSrc) && !(!isImage() && getFileTypeImage())"
         [src]="'./assets/img/filetypes/filetype-noimg.png'"
         class="img img-fluid">
  </div>
  <div class="card-body text-center">
    <p class="category"><em>{{attachmentSpec.name | translate | uppercase}}</em></p>
    <h5 class="card-title attachment-card-title xm-word-wrap">{{attachment.name}}</h5>
  </div>
  <div class="card-footer">
    <div class="stats">{{getFileSize(2)}}</div>
    <div class="navbar-right">
      <a (click)="onDownload()" *xmPermitted="['ATTACHMENT.GET_LIST.ITEM']" href="javascript: void(0);" role="button">
        <i class="material-icons">file_download</i>
      </a>
      <a (click)="onRemove()" *xmPermitted="['ATTACHMENT.DELETE']" href="javascript: void(0);" role="button">
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
</div>
