<div class="alert alert-success" *ngIf="success" [innerHTML]="'settings.messages.logins.success' | translate"></div>
<form class="m-0" name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="form-group" *ngFor="let login of userLogins">
      <mat-form-field>
        <input matInput
               id="{{login.key}}"
               name="{{login.key}}"
               type="text"
               [(ngModel)]="login.value"
               placeholder="{{login.name}}">
      </mat-form-field>
    </div>
    <div class="text-right" *ngIf="!isCreate">
        <button mat-button type="button" class="btn mr-1 ml-auto" data-dismiss="modal" (click)="clear()" *ngIf="isUser">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-button
                [disabled]="!isSubmitValid(editForm)"
                class="btn"
                color="primary"
                *xmPermitted="['ACCOUNT.LOGIN.UPDATE']">
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
