<div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.logins.success">
    <strong>Settings saved!</strong>
</div>
<form class="m-0" name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="form-group" *ngFor="let login of userLogins">
      <mat-form-field>
        <input matInput
               id="{{login.key}}"
               name="{{login.key}}"
               type="text"
               [(ngModel)]="login.value"
               placeholder="{{login.name}}">
      </mat-form-field>
    </div>
    <div class="text-right" *ngIf="!isCreate">
        <button mat-raised-button type="button" class="btn mr-1" data-dismiss="modal" (click)="clear()" *ngIf="isUser">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button
                [disabled]="!isSubmitValid(editForm)"
                class="btn btn-primary"
                *xmPermitted="['ACCOUNT.LOGIN.UPDATE']">
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
