<div class="card card-product">
  <div class="card-image" data-header-animation="true">
    <a href="#pablo">
      <img class="img" src="../assets/img/card-2.jpeg">
    </a>
  </div>
  <div class="card-content">
    <div class="card-actions">
      <button type="button" class="btn btn-danger btn-simple fix-broken-card">
        <i class="material-icons">build</i> Fix Header!
      </button>
      <button type="button" class="btn btn-default btn-simple" (click)="onView()" rel="tooltip" data-placement="bottom" title="View">
        <i class="material-icons">art_track</i>
      </button>
      <button type="button" class="btn btn-success btn-simple" (click)="onEdit()" rel="tooltip" data-placement="bottom" title="Edit">
        <i class="material-icons">edit</i>
      </button>
      <button type="button" class="btn btn-danger btn-simple" (click)="onRemove()" rel="tooltip" data-placement="bottom" title="Remove">
        <i class="material-icons">close</i>
      </button>
    </div>
    <h4 class="card-title">
      <a href="#pablo">Cozy 5 Stars Apartment</a>
    </h4>
    <div class="card-description">
      The place is close to Barceloneta Beach and bus stop just 2 min by walk and...
    </div>
  </div>
  <div class="card-footer">
    <div class="price">
      <h4>$899/night</h4>
    </div>
    <div class="stats pull-right">
      <p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>
    </div>
  </div>
</div>
