<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="primary">
        <i class="material-icons">functions</i>
      </div>
      <div class="card-content">
        <h4 class="card-title" jhiTranslate="xm.xmEntity.functions">Functions</h4>

        <div class="row">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
              <li class="active" *ngIf="nextStates?.length">
                <a href="#function-LIFECYCLE" data-toggle="tab" jhiTranslate="xm.xmEntity.lifecycle.title">Lifecycle</a>
              </li>
              <li *ngFor="let f of functions; let first = first;" [class.active]="first && !nextStates?.length">
                <a href="#function-{{f.key.replace('.', '-')}}" data-toggle="tab">{{f.name | name: principal}}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="function-LIFECYCLE" *ngIf="nextStates?.length">
                <p jhiTranslate="xm.xmEntity.lifecycle.nextStates">Next states available through the lifecycle:</p>
                <span *ngFor="let nextState of nextStates">
                    <button class="btn btn-primary btn-round" [style.background]="nextState.color"
                            (click)="changeState(nextState.key)">
                        <i class="material-icons">{{nextState.icon}}</i>&nbsp;{{nextState.actionName | name: principal}}
                    </button>
                </span>
              </div>
              <div class="tab-pane" *ngFor="let item of functions; let first = first;"
                   [class.active]="first && !nextStates?.length" id="function-{{item.key.replace('.', '-')}}">
                <xm-dynamic-function-cmp
                   [functionData]="{component: mapComponents[item.key], inputs: {config: functionsValue[item.key]?.config || {}}}">
                </xm-dynamic-function-cmp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
