<form #commentForm="ngForm" (ngSubmit)="onConfirmSave()" class="m-0" name="commentForm" novalidate role="form">
  <div class="modal-header">
    <a (click)="onCancel()" class="modal-close material-icons" href="javascript: void(0);">close</a>
    <h4 class="modal-title text-left">
      <span jhiTranslate="xm-entity.comment-detail-dialog.title">Add new comment for the</span>
      [<b>{{xmEntity.name}}</b>]
    </h4>
  </div>
  <div class="modal-body">
    <xm-loader [showLoader]="showLoader"></xm-loader>
    <div [hidden]="!(commentSpecs?.length > 1)" class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="comment.typeKey"
                    [disabled]="commentSpecs?.length == 1"
                    id="field_typeKey"
                    name="typeKey"
                    placeholder="{{'xm-entity.comment-detail-dialog.choose-type' | translate}}">
          <mat-option *ngFor="let commentSpec of commentSpecs" [value]="commentSpec.key">
            {{(commentSpec.name | i18nName: principal)?.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea #commentBody="ngModel"
                  [(ngModel)]="comment.message"
                  matInput
                  name="comment"
                  placeholder="{{'xm-entity.common.fields.message' | translate}}"
                  required
                  rows="4">
        </textarea>
        <mat-error *ngIf="commentBody.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onCancel()" class="btn mr-1" data-dismiss="modal" mat-raised-button type="button">
      <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
    </button>
    <button [disabled]="commentForm.form.invalid || showLoader" class="btn btn-primary" mat-raised-button type="submit">
      <span jhiTranslate="xm-entity.common.save">Save</span>
    </button>
  </div>
</form>
