<div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 jhiTranslate="activate.title">Activation</h1>

      <div class="alert alert-success" *ngIf="success">
        <span [innerHTML]="'activate.messages.success' | translate"></span>
        <a class="alert-link" href="javascript: void(0);" (click)="login()">{{'activate.messages.link' | translate}}</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span [innerHTML]="'activate.messages.error' | translate"></span>&nbsp;
        <a class="alert-link" (click)="register()" jhiTranslate="activate.messages.register">Register</a>.
      </div>

    </div>
  </div>
</div>
