$yellow: #ffeb3b;
$grey:   #bdbdbd;
$white:  #ffffff;

/*Widget Weather*/
.weather-temp {
    font-size: 32px;
    color:     #000;
    margin:    8px 0 16px;
}

.weather-caption {
    font-size: 11px;
    color:     rgba(0, 0, 0, 0.54);
}

.weather-condition {
    padding-left: 8px;
}

/*Widget Weather end*/

.weather-icon {
    position:   relative;
    display:    inline-block;
    width:      12em;
    height:     8em;
    margin-top: -16px;
    font-size:  1em; /* control icon size here */
}

.weather-cloud {
    position:      absolute;
    z-index:       1;
    top:           50%;
    left:          50%;
    width:         3.6875em;
    height:        3.6875em;
    margin:        -1.84375em;
    background:    $white;
    border-radius: 50%;
    box-shadow:    -2.1875em 0.6875em 0 -0.6875em $white,
                   2.0625em 0.9375em 0 -0.9375em $white,
                   0 0 0 0.375em $grey,
                   -2.1875em 0.6875em 0 -0.3125em $grey,
                   2.0625em 0.9375em 0 -0.5625em $grey;
}

.weather-cloud::after {
    content:    '';
    position:   absolute;
    bottom:     0;
    left:       -0.5em;
    display:    block;
    width:      4.5625em;
    height:     1em;
    background: $white;
    box-shadow: 0 0.4375em 0 -0.0625em $grey;
}

.weather-cloud:nth-child(2) {
    z-index:    0;
    background: $grey;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em $grey,
                2.0625em 0.9375em 0 -0.9375em $grey,
                0 0 0 0.375em $grey,
                -2.1875em 0.6875em 0 -0.3125em $grey,
                2.0625em 0.9375em 0 -0.5625em $grey;
    opacity:    0.3;
    transform:  scale(0.5) translate(6em, -3em);
    animation:  weather-cloud 4s linear infinite;
}

.weather-cloud:nth-child(2)::after {
    background: $grey;
}

.weather-sun {
    position:      absolute;
    top:           50%;
    left:          50%;
    width:         2.5em;
    height:        2.5em;
    margin:        -1.25em;
    background:    $white;
    border-radius: 50%;
    box-shadow:    0 0 0 0.375em $yellow;
    animation:     weather-spin 12s infinite linear;
}

.weather-rays {
    position:      absolute;
    top:           -2em;
    left:          50%;
    display:       block;
    width:         0.375em;
    height:        1.125em;
    margin-left:   -0.1875em;
    background:    $yellow;
    border-radius: 0.25em;
    box-shadow:    0 5.375em $yellow;
}

.weather-rays::before,
.weather-rays::after {
    content:          '';
    position:         absolute;
    top:              0;
    left:             0;
    display:          block;
    width:            0.375em;
    height:           1.125em;
    transform:        rotate(60deg);
    transform-origin: 50% 3.25em;
    background:       $yellow;
    border-radius:    0.25em;
    box-shadow:       0 5.375em $yellow;
}

.weather-rays::before {
    transform: rotate(120deg);
}

.weather-cloud + .weather-sun {
    margin: -2em 1em;
}

.weather-rain,
.weather-lightning,
.weather-snow {
    position:   absolute;
    z-index:    2;
    top:        50%;
    left:       50%;
    width:      3.75em;
    height:     3.75em;
    margin:     0.375em 0 0 -2em;
    background: $white;
}

.weather-rain::after {
    content:       '';
    position:      absolute;
    z-index:       2;
    top:           50%;
    left:          50%;
    width:         1.125em;
    height:        1.125em;
    margin:        -1em 0 0 -0.25em;
    background:    #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow:    0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
                   -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
                   -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    transform:     rotate(-28deg);
    animation:     weather-rain 3s linear infinite;
}

.weather-bolt {
    position:  absolute;
    top:       50%;
    left:      50%;
    margin:    -0.25em 0 0 -0.125em;
    color:     $grey;
    opacity:   0.3;
    animation: weather-lightning 2s linear infinite;
}

.weather-bolt:nth-child(2) {
    width:     0.5em;
    height:    0.25em;
    margin:    -1.75em 0 0 -1.875em;
    transform: translate(2.5em, 2.25em);
    opacity:   0.2;
    animation: weather-lightning 1.5s linear infinite;
}

.weather-bolt::before,
.weather-bolt::after {
    content:       '';
    position:      absolute;
    z-index:       2;
    top:           50%;
    left:          50%;
    margin:        -1.625em 0 0 -1.0125em;
    border-top:    1.25em solid transparent;
    border-right:  0.75em solid;
    border-bottom: 0.75em solid;
    border-left:   0.5em solid transparent;
    transform:     skewX(-10deg);
}

.weather-bolt::after {
    margin:        -0.25em 0 0 -0.25em;
    border-top:    0.75em solid;
    border-right:  0.5em solid transparent;
    border-bottom: 1.25em solid transparent;
    border-left:   0.75em solid;
    transform:     skewX(-10deg);
}

.weather-bolt:nth-child(2)::before {
    margin:        -0.75em 0 0 -0.5em;
    border-top:    0.625em solid transparent;
    border-right:  0.375em solid;
    border-bottom: 0.375em solid;
    border-left:   0.25em solid transparent;
}

.weather-bolt:nth-child(2)::after {
    margin:        -0.125em 0 0 -0.125em;
    border-top:    0.375em solid;
    border-right:  0.25em solid transparent;
    border-bottom: 0.625em solid transparent;
    border-left:   0.375em solid;
}

.weather-flake::before,
.weather-flake::after {
    content:     '\2744';
    position:    absolute;
    top:         50%;
    left:        50%;
    margin:      -1.025em 0 0 -1.0125em;
    color:       #84ffff;
    list-height: 1em;
    opacity:     0.2;
    animation:   weather-spin 8s linear infinite reverse;
}

.weather-flake::after {
    margin:    0.125em 0 0 -1em;
    font-size: 1.5em;
    opacity:   0.4;
    animation: weather-spin 14s linear infinite;
}

.weather-flake:nth-child(2)::before {
    margin:    -0.5em 0 0 0.25em;
    font-size: 1.25em;
    opacity:   0.2;
    animation: spin 10s linear infinite;
}

.weather-flake:nth-child(2)::after {
    margin:    0.375em 0 0 0.125em;
    font-size: 2em;
    opacity:   0.4;
    animation: weather-spin 16s linear infinite reverse;
}

/* Animations */

@keyframes weather-spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes weather-cloud {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity:   0;
        transform: scale(0.5) translate(-200%, -3em);
    }
}

@keyframes weather-rain {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -0.875em 1.125em 0 -0.125em #0cf,
                    -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf,
                    -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
                    -1.375em -0.125em 0 #0cf;
    }
}

@keyframes weather-lightning {
    45% {
        color:      #fff;
        background: #fff;
        opacity:    0.2;
    }
    50% {
        color:      #0cf;
        background: #0cf;
        opacity:    1;
    }
    55% {
        color:      #fff;
        background: #fff;
        opacity:    0.2;
    }
}
