<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">vpn_key</i>
        </div>
        <h4 class="card-title">{{role?.roleKey}} - <span
          jhiTranslate="rolesManagement.detail.permissions">permissions</span></h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div *ngIf="role">
          <div class="row align-items-center">
            <div class="col-sm-4 col-md-2">
              <div class="form-group">
                <mat-form-field>
                  <mat-select (selectionChange)="onChangeSort()"
                              [(ngModel)]="sortBy.msName"
                              placeholder="{{'rolesManagement.permission.msName' | translate}}">
                    <mat-option *ngFor="let item of entities" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-4 col-md-2">
              <div class="form-group">
                <mat-form-field>
                  <input (change)="onChangeSort()"
                         [(ngModel)]="sortBy.query"
                         matInput
                         name="search"
                         placeholder="{{'rolesManagement.permission.privilegeKey' | translate}}"
                         type="text">
                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-4 col-md-2">
              <div class="form-group">
                <mat-form-field>
                  <mat-select (selectionChange)="onChangeSort()"
                              [(ngModel)]="sortBy.enabled"
                              placeholder="{{'rolesManagement.permission.permit' | translate}}">
                    <mat-option *ngFor="let item of permits" [value]="item.value">
                      <span *ngIf="item.trans" jhiTranslate="rolesManagement.permission.{{item.trans}}"></span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-4 col-md-2">
              <div class="form-group">
                <mat-form-field>
                  <mat-select (selectionChange)="onChangeSort()"
                              [(ngModel)]="sortBy.condition"
                              placeholder="{{'rolesManagement.permission.resourceCondition' | translate}}">
                    <mat-option *ngFor="let item of resourceConditions" [value]="item.value">
                      <span *ngIf="item.trans" jhiTranslate="rolesManagement.permission.{{item.trans}}"></span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col"></div>
            <div class="col-auto">
              <button (click)="onSave()" class="btn btn-sm mat-button btn-primary" type="button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-slide-toggle (change)="onCheckAll()"
                                [(ngModel)]="checkAll">
                {{'rolesManagement.permission.checkAll' | translate}}
              </mat-slide-toggle>
            </div>
          </div>

          <div class="material-datatables table-responsive">
            <table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables"
                   style="width:100%" width="100%">
              <thead>
              <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="onTransition.bind(this, page)" jhiSort>
                <th jhiSortBy="privilegeKey"><span
                  jhiTranslate="rolesManagement.permission.privilegeKey">Privilege key</span> <span
                  class="fa fa-sort"></span></th>
                <th>{{'rolesManagement.permission.desc' | translate}}</th>
                <th jhiSortBy="msName"><span jhiTranslate="rolesManagement.permission.msName">MS name</span> <span
                  class="fa fa-sort"></span></th>
                <th><span jhiTranslate="rolesManagement.permission.permit">Permit</span></th>
                <th><span jhiTranslate="rolesManagement.permission.onForbid">On Forbid</span></th>
                <th class="text-right">
                  <span jhiTranslate="rolesManagement.permission.resourceCondition">Resource Condition</span>
                </th>
                <th class="text-right">
                  <span jhiTranslate="rolesManagement.permission.envCondition">Environment Condition</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of permissions">
                <td>{{item.privilegeKey}}</td>
                <td class="text-center text-muted">
                  <mat-icon [matTooltip]="item.description" *ngIf="item?.description">
                      info
                  </mat-icon>
                </td>
                <td>{{item.msName}}</td>
                <td>
                  <mat-checkbox [(ngModel)]="item.enabled" color="primary"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field class="slim-select">
                    <mat-select [(ngModel)]="item.reactionStrategy">
                      <mat-option *ngFor="let value of forbids" [value]="value">
                        {{value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <span>{{item.resourceCondition}}</span>
                  <a (click)="onEditResource(item)"
                     *ngIf="item.resources?.length"
                     class="pull-right"
                     href="javascript: void(0);">
                    <i class="material-icons">edit</i>
                  </a>
                </td>
                <td>
                  <span>{{item.envCondition}}</span>
                  <a (click)="onEditEnv(item)" *ngIf="hasEnv" class="pull-right" href="javascript: void(0);">
                    <i class="material-icons">edit</i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="row align-items-center list-pagination">
            <div class="col-auto">
              <xm-per-page (onChange)="onChangePerPage()" [(itemsPerPage)]="itemsPerPage"></xm-per-page>
            </div>
            <div class="col-auto">
              <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="queryCount"></jhi-item-count>
            </div>
            <div class="col-sm"></div>
            <div class="col-auto">
              <button (click)="onSave()" class="btn btn-sm mat-button btn-primary" type="button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </div>
          <div class="row align-items-center list-pagination wrap">
            <ngb-pagination (pageChange)="onLoadPage(page)"
                            [(page)]="page"
                            [collectionSize]="totalItems"
                            [pageSize]="itemsPerPage">

            </ngb-pagination>
          </div>
        </div>

        <no-data [show]="!role"></no-data>
      </div>
    </div>
  </div>
</div>
