<form #editForm="ngForm" (ngSubmit)="onSave()" *ngIf="role" class="m-0" name="editForm" novalidate role="form">
  <div mat-dialog-title>
    <h4 class="modal-title text-left">
      <span *ngIf="isAddMode" jhiTranslate="rolesManagement.home.labelCreate">Create new Role</span>
      <span *ngIf="!isAddMode" jhiTranslate="rolesManagement.home.labelEdit">Edit a Role</span>
    </h4>
  </div>

  <div mat-dialog-content>
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div class="form-group">
      <mat-form-field>
        <input #fieldRoleKey="ngModel"
               [(ngModel)]="role.roleKey"
               [disabled]="!isAddMode"
               matInput
               name="roleKey"
               pattern="^\s*[\w|\d]+\s*$"
               placeholder="{{'rolesManagement.key' | translate}}"
               required
               type="text">
        <mat-error *ngIf="fieldRoleKey.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
        <mat-error *ngIf="fieldRoleKey.hasError('pattern')">
          <span jhiTranslate="xm-entity.common.validation.pattern">This field does not match the rules</span>:&nbsp;&nbsp;<span
          [innerHtml]="'^\s*[\w|\d]+\s*$'"></span>
        </mat-error>
      </mat-form-field>
    </div>


    <div *ngIf="isAddMode" class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="role.basedOn"
                    name="authority"
                    placeholder="{{'rolesManagement.basedOn' | translate}}">
          <mat-option readonly>{{'rolesManagement.chooseRole' | translate}}</mat-option>
          <mat-option *ngFor="let item of roles" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
            <textarea [(ngModel)]="role.description"
                      id="field_desc"
                      matInput
                      name="desc"
                      placeholder="{{'rolesManagement.description' | translate}}"
                      rows="4"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="onClose()" class="btn mr-1 ml-auto" data-dismiss="modal" mat-button type="button">
      <span class="fa fa-ban"></span>&nbsp;<span
      jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button [disabled]="editForm.form.invalid || showLoader"
            color="primary"
            mat-button
            type="submit">
      <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
