<form class="m-0" name="editForm" role="form" novalidate (ngSubmit)="onSave()" #editForm="ngForm" *ngIf="role">
    <div class="modal-header">
        <a href="javascript: void(0);" class="modal-close material-icons" (click)="onClose()">close</a>
        <h4 class="modal-title text-left">
            <span *ngIf="isAddMode" jhiTranslate="rolesManagement.home.labelCreate">Create new Role</span>
            <span *ngIf="!isAddMode" jhiTranslate="rolesManagement.home.labelEdit">Edit a Role</span>
        </h4>
    </div>

    <div class="modal-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>

        <div class="form-group">
          <mat-form-field>
            <input matInput
                   name="roleKey"
                   type="text"
                   #fieldRoleKey="ngModel"
                   [(ngModel)]="role.roleKey"
                   placeholder="{{'rolesManagement.key' | translate}}"
                   required
                   pattern="^\s*[\w|\d]+\s*$"
                   [disabled]="!isAddMode">
            <mat-error *ngIf="fieldRoleKey.hasError('required')">
              <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
            </mat-error>
            <mat-error *ngIf="fieldRoleKey.hasError('pattern')">
              <span jhiTranslate="xm-entity.common.validation.pattern">This field does not match the rules</span>:&nbsp;&nbsp;<span [innerHtml]="'^\s*[\w|\d]+\s*$'"></span>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group" *ngIf="isAddMode">
          <mat-form-field>
            <mat-select [(ngModel)]="role.basedOn"
                        name="authority"
                        placeholder="{{'rolesManagement.basedOn' | translate}}">
              <mat-option readonly>{{'rolesManagement.chooseRole' | translate}}</mat-option>
              <mat-option *ngFor="let item of roles" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <textarea matInput
                      name="desc"
                      id="field_desc"
                      [(ngModel)]="role.description"
                      rows="4"
                      placeholder="{{'rolesManagement.description' | translate}}"></textarea>
          </mat-form-field>
        </div>
    </div>

    <div class="modal-footer">
        <button mat-raised-button type="button" class="btn mr-1" data-dismiss="modal" (click)="onClose()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button
                type="submit"
                [disabled]="editForm.form.invalid || showLoader"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
