.tm  {
    position: absolute;
    top: 10px;
    right: 10px;
}
.earth-error {
    font: 15px/30px monospace;
    text-align: center;
    color: #fff;
    margin: 50px;
}
.earth-error a {
    color: #fff;
}

#visualization {
    position: relative;
}
.placeInfoContainer {
    position: absolute;
    width: 300px;
    color: white;
}
.placeInfoBox {
    width: 280px;
    padding: 20px 20px;
    background: #A2A2A2;
    opacity: 0.9;
}
.placeInfoBox>.title {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
}
.placeInfoContainer>.placeInfoArrowUp {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #A2A2A2;
    margin-left: 135px;
    opacity: 0.9;
}
.placeInfoBox>.text {
    font-family: Roboto;
    font-size: 12px;
}
