<div class="card card-product">
  <div class="card-image">
    <div id="visualization">

      <div id="earth" style="width: 800px; height: 400px;"></div>

      <div #placeInfoContainer id="placeInfoContainer" class="placeInfoContainer">
        <div class="placeInfoArrowUp"></div>
        <div class="placeInfoBox">
          <div class="title"></div>
          <div class="text"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-content text-center">
    <button class="btn btn-primary btn-round" (click)="suggestLocation()"><span jhiTranslate="xmApp.widgetMttEarth.suggest">Suggest</span></button>
  </div>
</div>
