.form-control-addon {
    position: absolute;
    right: 0;
    top: 3px;
    width: 24px;
    cursor: pointer;
    color: #ccc;
}

.forgot-container {
    margin: 10px 0 0;

    @media (min-width: 992px) {
        text-align: right;
        margin: 20px 0 0;
    }
}

.xm-tooltip {
    cursor: pointer;
    position: relative;

    > span {
        position: absolute;
        bottom: 100%;
        left: 100%;

        pointer-events: none;
        border-radius: 4px;
        overflow: hidden;
        opacity: 0;
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 6px 16px;

        color: rgba(255, 255, 255, 0.87);
        background-color: #616161;

        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;

        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &:hover {
        > span {
            -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.9;
        }
    }

    &.direction-left {
        > span {
            left: auto;
            right: 100%;

            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
    }
}
