<div *ngIf="currency?.rates" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">euro_symbol</i>
    </div>
    <h4 class="card-title" jhiTranslate="ext-common.exchange-widget.title">Exchange calculator</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <select (change)="onChangeCurrency($event)" class="selectpicker"
                data-size="7" data-style="btn btn-primary btn-round">
          <option *ngFor="let item of currency.all" [attr.selected]="item == currency.selected ? true : null"
                  [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="wdt-exchange-units col-xs-4 col-sm-6">
        <span class="wdt-exchange-value">1</span>
        <span class="wdt-exchange-label" jhiTranslate="ext-common.exchange-widget.number-units">Number of
          units</span>
      </div>
    </div>
    <table class="table">
      <thead class="text-gray">
      <tr>
        <th><span jhiTranslate="ext-common.exchange-widget.code">Code</span></th>
        <th><span jhiTranslate="ext-common.exchange-widget.course">Official course</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let to of currency.available">
        <td>{{to}}</td>
        <td class="text-primary">{{getRate(null, to)}}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <button (click)="isShowCalc = !isShowCalc;" class="btn btn-primary btn-round">
        <i *ngIf="!isShowCalc" class="material-icons">arrow_drop_down</i>
        <i *ngIf="isShowCalc" class="material-icons">arrow_drop_up</i>
        <span jhiTranslate="ext-common.exchange-widget.title">Exchange calculator</span>
      </button>
    </div>
    <form #calcForm="ngForm" [ngClass]="{show: isShowCalc}" [style.display]="isShowCalc ? 'block' : 'none'"
          class="xm-animate">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <select (ngModelChange)="onChangeCalc()" [(ngModel)]="calc.from"
                  class="selectpicker"
                  data-size="7" data-style="btn btn-primary btn-round"
                  name="from"
                  title="{{'ext-common.exchange-widget.select-from' | translate}}">
            <option *ngFor="let item of currency.all" [ngValue]="item">{{item}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group label-floating">
            <label class="control-label" jhiTranslate="ext-common.exchange-widget.from">From</label>
            <input (ngModelChange)="onChangeCalc()" [(ngModel)]="calc.fromValue" class="form-control" name="fromValue"
                   type="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <select (ngModelChange)="onChangeCalc()" [(ngModel)]="calc.to" class="selectpicker"
                  data-size="7"
                  data-style="btn btn-primary btn-round"
                  name="to" title="{{'ext-common.exchange-widget.select-from' | translate}}">
            <option *ngFor="let item of currency.all" [ngValue]="item">{{item}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <input [ngModel]="calc.toValue" class="form-control" name="toValue" readonly type="number">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
