<div mat-dialog-title>
 <h3 class="modal-title text-left mt-0" id="showHealthLabel">
    {{'health.indicator.' + baseName(currentHealth.name) | translate}}
    {{subSystemName(currentHealth.name)}}
  </h3>
</div>

<div mat-dialog-content>
  <div *ngIf="currentHealth?.details">
    <h5 jhiTranslate="health.details.properties">Properties</h5>
    <pre [innerHTML]="editorValue">
    </pre>
    <no-data [show]="!editorValue"></no-data>
  </div>
  <div *ngIf="currentHealth.error">
    <h4 jhiTranslate="health.details.error">Error</h4>
    <pre>{{currentHealth.error}}</pre>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button
          data-dismiss="modal"
          class="ml-auto"
          color="primary"
          type="button"
          (click)="activeModal.close(false)">
    {{'health.options.done' | translate}}
  </button>
</div>
