<div class="modal-header">
  <a href="javascript: void(0);" class="modal-close material-icons" (click)="activeModal.dismiss('closed')">close</a>
  <h3 class="modal-title text-left mt-0" id="showHealthLabel">
    {{'health.indicator.' + baseName(currentHealth.name) | translate}}
    {{subSystemName(currentHealth.name)}}
  </h3>
</div>

<div class="modal-body pad">
  <div *ngIf="currentHealth?.details">
    <h5 jhiTranslate="health.details.properties">Properties</h5>
    <pre [innerHTML]="editorValue">
    </pre>
    <no-data [show]="!editorValue"></no-data>
  </div>
  <div *ngIf="currentHealth.error">
    <h4 jhiTranslate="health.details.error">Error</h4>
    <pre>{{currentHealth.error}}</pre>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button
          data-dismiss="modal"
          class="btn btn-primary"
          type="button"
          (click)="activeModal.dismiss('closed')">
    {{'health.options.done' | translate}}
  </button>
</div>
