<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="primary">
        <i class="material-icons">network_check</i>
      </div>

      <div class="card-content">
        <h4 class="card-title" jhiTranslate="health.title">Health Checks</h4>

        <div class="table-responsive">
          <table id="healthCheck" class="table table-striped">
            <thead>
              <tr>
                <th jhiTranslate="health.table.service">Service Name</th>
                <th class="text-center" jhiTranslate="health.table.status">Status</th>
                <th class="text-center" jhiTranslate="health.details.details">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let health of healthData">
                <td>{{'health.indicator.' + baseName(health.name) | translate}} {{subSystemName(health.name)}}</td>
                <td class="text-center">
                  <span class="label label-primary" jhiTranslate="health.status.{{health.status}}">
                    {{health.status}}
                  </span>
                </td>
                <td class="text-center">
                  <a class="hand" (click)="showHealth(health)" *ngIf="health.details || health.error">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-fab btn-primary xm-btn-fab" (click)="refresh()">
  <i class="material-icons">refresh</i>
</button>
