<xm-loader [showLoader]="showLoader"></xm-loader>

<div [className]="dashboard?.layout?.class || ''">
  <ng-container *ngFor="let item of dashboard?.layout?.grid">
    <ng-container *ngTemplateOutlet="dashboardItem;context:{item: item}"></ng-container>
  </ng-container>
</div>

<ng-template #dashboardItem let-item="item">
  <div *ngIf="!!item.class" [className]="item.class">
    <ng-container *ngTemplateOutlet="dashboardContent;context:{item: item}"></ng-container>
  </div>

  <ng-container *ngIf="!item.class">
    <ng-container *ngTemplateOutlet="dashboardContent;context:{item: item}"></ng-container>
  </ng-container>
</ng-template>

<ng-template #dashboardContent let-item="item">
  <ng-container *ngFor="let subitem of item?.content">
    <ng-container *ngTemplateOutlet="dashboardItem;context:{item: subitem}"></ng-container>
  </ng-container>

  <ng-container *ngIf="item?.widget">
    <xm-dynamic-widget *ngIf="item.widget?.module && spec"
                       [init]="{module: item.widget?.module, component: item.widget?.selector, config: item.widget?.config, spec: spec}">
    </xm-dynamic-widget>
  </ng-container>
</ng-template>

<no-data [show]="!dashboard?.layout?.grid?.length"></no-data>
