<div class="row" *ngIf="xmEntity">
    <div class="col-md-5">
        <div class="card card-profile">
            <div id="file-upload">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="card-avatar fileinput-new">
                        <img src="{{ xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.jpg' }}" alt="...">
                    </div>
                    <div class="card-avatar fileinput-preview fileinput-exists"></div>
                    <div>
                        <span class="btn btn-sm btn-round btn-primary btn-file">
                            <span class="fileinput-new" jhiTranslate="xm.xmEntity.addPhoto">Add Photo</span>
                            <span class="fileinput-exists" jhiTranslate="xm.xmEntity.change">Change</span>
                            <input type="file" name="..." (change)="fileUpload($event)" />
                        </span>
                    </div>

                    <xm-rating-cmp *ngIf="xmEntity && ratings" [xmEntityId]="xmEntity.id"></xm-rating-cmp>
                </div>
            </div>
            <div class="card-content">
                <h6 class="category text-gray" *ngIf="type.name"><em>{{type.name.en}}</em></h6>
                <h4 class="card-title">{{xmEntity.name}}</h4>
                <div class="xm-state" *ngIf="state">
                    <div class="xm-state-icon"
                         [style.background]="state.color">
                        <i class="material-icons">{{state.icon}}</i>
                    </div>
                    <span>{{state.name.en}}</span>
                </div>
                <p class="description">{{xmEntity.description}}</p>

                <xm-tag-cmp *ngIf="xmEntity && isTagsAvailable" [xmEntityId]="xmEntity.id"></xm-tag-cmp>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <xm-entity-form-cmp *ngIf="xmEntity" [xmEntity]="xmEntity" [formData]="formData"></xm-entity-form-cmp>
    </div>
</div>

<!-- Functions with Lifecycle management -->
<xm-function-cmp *ngIf="xmEntity && (nextStates?.length || functions)"
                 [xmEntity]="xmEntity"
                 [functions]="functions"
                 [functionsData]="xmEntity.functions"
                 [nextStates]="nextStates"></xm-function-cmp>
<!-- /.Functions with Lifecycle management -->

<!-- Attachments -->
<xm-attachment-cmp *ngIf="xmEntity && attachmentTypes" [xmEntityId]="xmEntity.id"></xm-attachment-cmp>
<!-- /.Attachments -->

<!-- Locations -->
<xm-location-cmp *ngIf="xmEntity && locationTypes" [xmEntityId]="xmEntity.id"></xm-location-cmp>
<!-- /.Locations -->

<!-- Links -->
<xm-link-cmp *ngIf="xmEntity && linkTypes" [xmEntityId]="xmEntity.id"></xm-link-cmp>
<!-- /.Links -->

<xm-comment-cmp *ngIf="xmEntity && commentTypes" [xmEntityId]="xmEntity.id"></xm-comment-cmp>

<!-- Calendar -->
<div class="row">
    <div class="col-md-12">
        <xm-calendar-cmp *ngIf="xmEntity" [xmEntityId]="xmEntity.id"></xm-calendar-cmp>
    </div>
</div>
<!-- ./Calendar -->

<!-- Timeline -->
<xm-timeline-cmp *ngIf="xmEntity" [xmEntityId]="xmEntity.id"></xm-timeline-cmp>
<!-- /.Timeline -->

<xm-entity-detail-fab-cmp *ngIf="xmEntity" [xmEntity]="xmEntity"></xm-entity-detail-fab-cmp>
