<div class="row" *ngIf="linkTypesArray">
  <div *ngFor="let linkType of linkTypesArray; let last = last; let even = even;"
       [ngClass]="{ 'col-lg-6': !last || !even , 'col-lg-12': last && even  }">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="primary">
        <i class="material-icons">{{linkType.icon}}</i>
      </div>

      <div class="card-content">
        <h4 class="card-title">{{linkType.name | name: principal}}</h4>
        <div *ngIf="isLinkHasTreeView(linkType)" class="btn-group">
          <button type="button" class="btn btn-primary btn-sm btn-round"
                  [disabled]="linkViewMode == 'list'"
                  (click)="linkViewMode = 'list';"
                  jhiTranslate="xm.xmEntity.listView">List view</button>
          <button type="button" class="btn btn-primary btn-sm btn-round"
                  [disabled]="linkViewMode == 'tree'"
                  (click)="linkViewMode = 'tree';"
                  jhiTranslate="xm.xmEntity.treeView">Tree view</button>
        </div>

        <div class="table-responsive" *ngIf="linkViewMode == 'list'">
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th><span jhiTranslate="xm.xmEntity.name">Name</span></th>
              <th><span jhiTranslate="xm.xmEntity.description">Description</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let link of filterByType(xmEntity.targets, linkType.key)">
              <td>
                <img src="{{ link.target.avatarUrl ? link.target.avatarUrl : './assets/img/placeholder.jpg' }}" alt="..." class="xm-avatar-sm">
              </td>
              <td>
                <a routerLink="/application/{{link.target.typeKey}}/{{link.target.id}}" title="{{ link.target.key }}">
                  {{link.target.name}}
                </a>
              </td>
              <td>{{link.target.description}}</td>
              <td>
                <a role="button" class="text-muted" (click)="onRemove(link)">
                  <i class="material-icons">close</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Tree View link -->
        <div class="row" *ngIf="linkViewMode == 'tree'">
          <div class="col-md-12">
            <xm-entity-tree-view-link class="tree" [links]="links" [linkType]="linkType.key"></xm-entity-tree-view-link>
          </div>
        </div>
        <!-- /.Tree View link -->

      </div>
    </div>
  </div>
</div>