<ul>
    <li *ngFor="let link of links">
        <span (click)="toggle(link.target.id, link)">
            <img *ngIf="link.target.avatarUrl" src="{{link.target.avatarUrl}}" class="xm-avatar-sm">
            <p>{{link.target.name}}</p>
            <i class="material-icons" *ngIf="!link.target.targets">keyboard_arrow_right</i>
        </span>
        <xm-entity-tree-view-link *ngIf="link.target.targets && link.target.targets.length > 0"
                                  [links]="filterByEntityType(link.target.targets)" [linkType]="linkType">
        </xm-entity-tree-view-link>
    </li>
</ul>
