<div *ngIf="!listView" class="mt-3">

  <ng-container *ngIf="customFunctions$ | async as customFunctions">
    <mat-tab-group (selectedTabChange)="reinitMap($event)"
                   *ngIf="customFunctions.length > 0; else statesAndFunctions"
                   animationDuration="0ms"
                   mat-stretch-tabs>
      <mat-tab [label]="'xm-entity.function-list-card.general-group' | translate">
        <ng-container *ngIf="true; then statesAndFunctions"></ng-container>
      </mat-tab>

      <mat-tab *ngFor="let f of customFunctions; let i = index;"
               [label]="f.name | translate"
               [tabIndex]="f.key === 'AREA' ? 'AREA': i">
        <div *ngIf="f.key === 'AREA'">
          <xm-area *ngIf="initMap" [functionContext]="getFunctionContext(f)" [xmEntity]="xmEntity">
          </xm-area>
        </div>
        <div *ngIf="f.key === 'EXTRACT-LINKEDIN-PROFILE' || f.key === 'ACCOUNT.EXTRACT-LINKEDIN-PROFILE'">
          <xm-linkedin-profile [functionContext]="getFunctionContext(f)" [xmEntity]="xmEntity">
          </xm-linkedin-profile>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <ng-template #statesAndFunctions>
    <ng-container>
      <div class="container-fluid">
        <div class="row mt-3 mb-3 text-left">
          <div *ngIf="xmEntity && nextStates?.length" [class.limetedWidth]="nextStates?.length" class="col">
            <div class="mb-1">
              <xm-entity-state [stateSpec]="getCurrentStateSpec()"></xm-entity-state>
            </div>
          </div>

          <div class="col">
            <ng-container *xmPermitted="['XMENTITY.STATE']">
              <div *ngIf="nextStates?.length">
                <div (click)="onChangeState(nextState.key)"
                     *ngFor="let nextState of nextStates"
                     [style.background]="nextState.color"
                     class="xm-state act-as-button no-wrap mr-1 mb-1"
                     title="{{nextState.actionName | translate}}">
                  <div [style.background]="'transparent'" class="xm-state-icon mr-0">
                    <i class="material-icons">{{nextState.icon}}</i>
                  </div>
                  {{nextState.actionName | translate}}
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="defaultFunctions$ | async as defaultFunctions">
              <div *ngIf="defaultFunctions.length" class="func-compact-blk">
                <div class="text-left">
                  <hr class="mt-0">
                  <ng-container *ngFor="let functionSpec of defaultFunctions">
                    <button (click)="onCallFunction(functionSpec)"
                            class="btn btn-sm btn-primary mr-1 mt-0 mb-1 ml-0 no-wrap func-btn"
                            title="{{(functionSpec.actionName ? functionSpec.actionName : functionSpec.name) | translate}}">
                      {{(functionSpec.actionName ? functionSpec.actionName : functionSpec.name) | translate}}
                    </button>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>

<ng-container *ngIf="listView && defaultFunctions$ | async as defaultFunctions">
  <div *ngIf="defaultFunctions.length">
    <hr class="mt-0 mb-0">
    <button (click)="onCallFunction(functionSpec)"
            *ngFor="let functionSpec of defaultFunctions"
            class="btn-sm"
            mat-menu-item>
      {{(functionSpec.actionName ? functionSpec.actionName : functionSpec.name) | translate}}
    </button>
    <hr class="mt-0 mb-0">
  </div>
</ng-container>
