<div class="xm-fab" *ngIf="xmEntity">
  <button class="xm-fab-option" *ngIf="view.attachment" (click)="onAddAttachment()">
    <i class="material-icons">attach_file</i>
  </button>
  <button class="xm-fab-option" *ngFor="let item of linkTypes" (click)="onAddLink(item)">
    <i class="material-icons">{{item.icon}}</i>
  </button>
  <button class="xm-fab-option" *ngIf="view.comment" (click)="onAddComment()">
    <i class="material-icons">comment</i>
  </button>
  <button class="xm-fab-option" *ngIf="view.location" (click)="onAddALocation()">
    <i class="material-icons">place</i>
  </button>
  <button class="xm-fab-button"
          [routerLink]="['/', { outlets: { popup: 'application/'+ xmEntity.typeKey +'/'+ xmEntity.id + '/edit'} }]">
    <i class="material-icons">edit</i>
  </button>
</div>