<div class="row">
  <div class="col-md-12">
    <div class="nav-center">
      <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
        <li class="active">
          <a href="#configuration-1" role="tab" data-toggle="tab">
            <i class="material-icons">view_quilt</i>
            <span jhiTranslate="configuration.uiSpecification.title">UI specification</span>
          </a>
        </li>
        <li>
          <a href="#configuration-2" role="tab" data-toggle="tab">
            <i class="material-icons">build</i>
            <span jhiTranslate="configuration.entity.title">Entity specification</span>
          </a>
        </li>
        <li>
          <a href="#configuration-3" role="tab" data-toggle="tab">
            <i class="material-icons">history</i>
            <span jhiTranslate="configuration.timeline.title">Timeline specification</span>
          </a>
        </li>
        <li>
          <a href="#configuration-4" role="tab" data-toggle="tab">
            <i class="material-icons">fingerprint</i>
            <span jhiTranslate="configuration.uiSpecification.logins.title">Logins specification</span>
          </a>
        </li>
        <li>
          <a href="#configuration-5" role="tab" data-toggle="tab">
            <i class="material-icons">security</i>
            <span jhiTranslate="configuration.uaa.title">UAA specification</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="configuration-1">
        <div class="card">
          <div class="card-content">
            <div class="text-right">
              <div [@expandSection]="true"
                   ace-editor
                   [text]="uiSpecificationIn"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [mode]="'yaml'"
                   [autoUpdateContent]="true"
                   (textChanged)="onUiSpecificationChange($event)"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   style="overflow-x: auto; border: 1px solid lightgray;">
                <span jhiTranslate="configuration.loading">loading specification...</span>
              </div>
              <button type="submit" class="btn btn-primary" (click)="updateUiConfig();"
                      jhiTranslate="configuration.uiSpecification.save">Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="configuration-2">
        <div class="card">
          <div class="card-content">
            <div class="text-right">
              <div [@expandSection]="true"
                   ace-editor
                   [text]="entitySpecificationIn"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [mode]="'yaml'"
                   [autoUpdateContent]="true"
                   (textChanged)="onEntitySpecificationChange($event)"
                   [style.min-height]="'200px'"
                   [style.width]="'100%'"
                   style="overflow-x: auto; border: 1px solid lightgray;">
                <span jhiTranslate="configuration.loading">loading specification...</span>
              </div>
              <span class="text-danger" *ngIf="entityValidation && !entityValidation.valid">
                {{entityValidation?.errorMessage}}
              </span>
              <span class="text-success" *ngIf="entityValidation && entityValidation.valid">
                Entity config has correct format
              </span>
              <button type="submit" class="btn btn-primary" (click)="validateEntitySpecification();"
                      jhiTranslate="configuration.timeline.validate">Validate
              </button>
              <button type="submit" class="btn btn-primary" (click)="updateEntityConfig();"
                      jhiTranslate="configuration.entity.save">Update entity specification
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="configuration-3">
        <div class="card">
          <div class="card-content">
            <div class="text-right">
              <div [@expandSection]="true"
                   ace-editor
                   [text]="timelineSpecificationIn"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [mode]="'yaml'"
                   [autoUpdateContent]="true"
                   (textChanged)="onTimelineSpecificationChange($event)"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   style="overflow-x: auto; border: 1px solid lightgray;">
                <span jhiTranslate="configuration.loading">loading specification...</span>
              </div>
              <span class="text-danger" *ngIf="timelineValidation && !timelineValidation.valid">
                {{timelineValidation?.errorMessage}}
              </span>
              <span class="text-success" *ngIf="timelineValidation && timelineValidation.valid"
                        jhiTranslate="configuration.timeline.validation.success">
                Timeline config has correct format
              </span>
              <button type="submit" class="btn btn-primary" (click)="validateTimelineConfig();"
                      jhiTranslate="configuration.timeline.validate">Validate
              </button>
              <button type="submit" class="btn btn-primary" (click)="updateTimelineConfig();"
                      jhiTranslate="configuration.timeline.save">Save ui specification
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="configuration-4">
        <div class="card">
          <div class="card-content">
            <div class="text-right">
              <div [@expandSection]="true"
                   ace-editor
                   [text]="loginsSpecificationIn"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [mode]="'yaml'"
                   [autoUpdateContent]="true"
                   (textChanged)="onLoginsSpecificationChange($event)"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   style="overflow-x: auto; border: 1px solid lightgray;">
                <span jhiTranslate="configuration.uiSpecification.logins.loading">(loading specification...)</span>
              </div>
              <span class="text-danger" *ngIf="loginsValidation && !loginsValidation.valid">
                {{loginsValidation?.errorMessage}}
              </span>
              <span class="text-success" *ngIf="loginsValidation && loginsValidation.valid"
                    jhiTranslate="configuration.uiSpecification.logins.validation">
                Logins config has correct format
              </span>
              <button type="submit" class="btn btn-primary" (click)="validateLoginsSpecification();">Validate</button>
              <button type="submit" class="btn btn-primary" (click)="updateLoginsSpecification();"
                      jhiTranslate="configuration.uiSpecification.logins.save">Save logins specification
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="configuration-5">
        <div class="card">
          <div class="card-content">
            <div class="text-right">
              <div [@expandSection]="true"
                   ace-editor
                   [text]="uaaSpecificationIn"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [mode]="'yaml'"
                   [autoUpdateContent]="true"
                   (textChanged)="onUaaSpecificationChange($event)"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   style="overflow-x: auto; border: 1px solid lightgray;">
                <span jhiTranslate="configuration.uaa.loading">(loading specification...)</span>
              </div>
              <span class="text-danger" *ngIf="uaaValidation && !uaaValidation.valid">
                {{uaaValidation?.errorMessage}}
              </span>
              <span class="text-success" *ngIf="uaaValidation && uaaValidation.valid"
                    jhiTranslate="configuration.uaa.validation">
                Uaa config has correct format
              </span>
              <button type="submit" class="btn btn-primary" (click)="validateUaaSpecification();"
                      jhiTranslate="configuration.uaa.validate">Validate</button>
              <button type="submit" class="btn btn-primary" (click)="updateUaaSpecification();"
                      jhiTranslate="configuration.uaa.save">Save uaa specification
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
