<div class="card">
  <div class="card-header card-header-tabs" data-background-color="primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">

        <ul class="nav nav-tabs" data-tabs="tabs" [class.xm-disabled]="showLoader">
          <li *ngFor="let item of list; index as i; first as isFirst" [class.active]="i == activeId">
            <a data-toggle="tab" href="{{'#wdt-entity-group-' + i}}" (click)="setActiveTab(i)">
              <i class="material-icons">{{ item.entityType.icon }}</i> {{item.name | name: principal}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="wdt-entities-loader" [class.hidden]="!showLoader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
  </div>

  <div class="card-content">
    <div class="tab-content" [class.xm-disabled]="showLoader">
      <div class="tab-pane" *ngFor="let item of list; index as i; first as isFirst" id="{{'wdt-entity-group-' + i}}" [class.active]="i == activeId">
        <!-- Fast search -->
        <div *ngIf="item.fastSearch && item.fastSearch.length" class="btn-group">
          <button class="btn btn-primary btn-sm btn-round"
                  [class.disabled]="!item.currentSearch"
                  (click)="onApplyFastSearch(null, item)" jhiTranslate="global.all">All
          </button>
          <button class="btn btn-primary btn-sm btn-round"
                  *ngFor="let fastSearch of item.fastSearch"
                  [class.disabled]="item.currentSearch === fastSearch.query"
                  (click)="onApplyFastSearch(fastSearch.query, item)">{{ fastSearch.name | name: principal }}
          </button>
        </div>
        <!-- /.Fast search -->

        <div class="table-responsive" *ngIf="item.entities">
          <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="onTransition.bind(this, item)">
              <th></th>
              <th jhiSortBy="name"><span jhiTranslate="xm.xmEntity.name">Name</span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="typeKey"><span jhiTranslate="xm.xmEntity.type">Type</span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="stateKey"><span jhiTranslate="xm.xmEntity.state">State</span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="description"><span jhiTranslate="xm.xmEntity.description">Description</span> <span
                class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entity of item.entities; trackBy: trackId">
              <td>
                <img src="{{ entity.avatarUrl ? entity.avatarUrl : './assets/img/placeholder.jpg' }}"
                     class="xm-avatar-sm">
              </td>
              <td><a title="{{ entity.key }}" [routerLink]="['/application', entity.typeKey, entity.id]">{{entity.name}}</a></td>
              <td><h6 *ngIf="item.entityType">{{item.entityType.name | name: principal}}</h6></td>
              <td>
                <div class="xm-state" *ngIf="entity.state">
                  <div class="xm-state-icon" [style.background]="entity.state.color"><i class="material-icons">{{entity.state.icon}}</i></div>
                  {{entity.state.name | name: principal}}
                </div>
              </td>
              <td>{{entity.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="item.entities && item.entities.length" class="wdt-entities-pagination">
          <div class="justify-content-center">
            <jhi-item-count [page]="item.page" [total]="item.queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
          </div>
          <div class="justify-content-center">
            <ngb-pagination [collectionSize]="item.totalItems" [(page)]="item.page" (pageChange)="onLoadPage(item.page, item)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
