$-mat-expansion-indicator-padding:      3px !default;
$-mat-expansion-indicator-border-style: solid !default;
$-mat-expansion-indicator-border-width: 0 2px 2px 0 !default;

@mixin mat-expansion-indicator() {
  border-style:   $-mat-expansion-indicator-border-style;
  border-width:   $-mat-expansion-indicator-border-width;
  content:        '';
  display:        inline-block;
  padding:        $-mat-expansion-indicator-padding;
  transform:      rotate(45deg);
  vertical-align: middle;
}
