<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">people</i>
        </div>
        <h4 class="card-title" jhiTranslate="userManagement.home.title">Users</h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div *ngIf="authorities" class="btn-group flex-wrap">
          <button (click)="applySearchByRole(null)"
                  [class.disabled]="!currentSearch"
                  class="btn btn-primary btn-sm rounded-circle"
                  mat-button>
            <span jhiTranslate="global.all">All</span>
          </button>
          <button (click)="applySearchByRole(authority)"
                  *ngFor="let authority of authorities"
                  [class.disabled]="currentSearch === authority"
                  class="btn btn-primary btn-sm rounded-circle"
                  mat-button>{{ authority | translate }}
          </button>
        </div>
        <div class="row align-items-center mt2 mb-2">
          <div class="col-xs-12 col-sm-3">
            <form (ngSubmit)="searchByLogin()" action="" novalidate>
              <div class="row flex-nowrap align-items-center">
                <div class="col pr-1">
                  <mat-form-field class="example-form-field">
                    <input
                      [(ngModel)]="login"
                      matInput
                      name="user-login"
                      placeholder="{{'userManagement.search-by-login' | translate}}"
                      type="text">
                    <button
                      (click)="login=''; searchByLogin()"
                      *ngIf="login"
                      mat-button
                      mat-icon-button
                      matSuffix
                      type="button">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-auto pl-0">
                  <button (click)="searchByLogin()"
                          class="btn btn-white rounded-circle btn-just-icon"
                          mat-button>
                    <i class="material-icons">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col"></div>
          <div class="col-auto">
            {{'userManagement.onlineUsers' | translate}} {{onlineUsers}}
          </div>
        </div>
        <div *ngIf="list?.length" class="material-datatables table-responsive">
          <table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables" style="width:100%"
                 width="100%">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
              <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
              <th jhiSortBy="logins"><span jhiTranslate="userManagement.logins">Logins</span> <span
                class="fa fa-sort"></span></th>
              <th></th>
              <th jhiSortBy="langKey"><span jhiTranslate="userManagement.langKey">Lang Key</span> <span
                class="fa fa-sort"></span></th>
              <th><span jhiTranslate="userManagement.role">Role</span></th>
              <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
                <span class="fa fa-sort"></span></th>
              <th jhiSortBy="lastModifiedDate"><span
                jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <span
                class="fa fa-sort"></span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of list; trackBy: trackIdentity">
              <td><a [routerLink]="['../user-management', user.userKey]">{{user.id}}</a></td>
              <td>
                <table *ngIf="user.logins" class="clear-table" style="width:100%" width="100%">
                  <tbody>
                  <tr>
                    <td>
                      <div *ngFor="let login of user.logins">
                        <span>{{getLogin(login)}}</span>
                      </div>
                    </td>
                    <td class="text-right">
                      <a (click)="onLoginEdit(user)" href="javascript: void(0);">
                        <i class="material-icons">perm_identity</i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <a (click)="enable2FA(user)" *ngIf="!user.tfaEnabled" href="javascript: void(0);" style="color: grey">
                  <i class="material-icons">verified_user</i>
                </a>
                <a (click)="disable2FA(user)"
                   *ngIf="user.tfaEnabled"
                   class="icon"
                   href="javascript: void(0);"
                   style="color: #4caf50">
                  <i class="material-icons ">verified_user</i>
                </a>
              </td>
              <td>{{user.langKey}}</td>
              <td>
                <span class="tag tag-info">{{ user.roleKey }}</span>
              </td>
              <td>{{user.createdDate | xmDateTime}}</td>
              <td>{{user.lastModifiedBy}}</td>
              <td>{{user.lastModifiedDate | xmDateTime}}</td>
              <td class="text-right nowrap">
                <a (click)="changeState(user)" *ngIf="!user.activated" href="javascript: void(0);" style="color: red">
                  <i class="material-icons">lock_outline</i>
                </a>
                <a (click)="changeState(user)"
                   *ngIf="user.activated"
                   href="javascript: void(0);"
                   style="color: #4caf50">
                  <i class="material-icons green">lock_open</i>
                </a>
                <a (click)="onEdit(user)" *permitted="'USER.UPDATE'" class="ml-1"
                   href="javascript: void(0);">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="onDelete(user)" *permitted="'USER.DELETE'"
                   class="ml-1"
                   href="javascript: void(0);">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="list?.length" class="row align-items-center list-pagination">
          <div class="col-auto">
            <xm-per-page (onChange)="transition()" [(itemsPerPage)]="itemsPerPage"></xm-per-page>
          </div>
          <div class="col-auto">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto">
            <ngb-pagination (pageChange)="loadPage(page)"
                            [(page)]="page"
                            [collectionSize]="totalItems" [maxSize]="5"
                            [pageSize]="itemsPerPage">

            </ngb-pagination>
          </div>
        </div>
        <no-data [show]="!list?.length"></no-data>
      </div>
    </div>
  </div>
</div>

<div class="xm-fab">
  <button (click)="onAdd()" *permitted="'USER.CREATE'"
          class="btn btn-icon btn-just-icon rounded-circle btn-lg"
          mat-button>
    <i class="material-icons">add</i>
  </button>
</div>
