<xm-loader [showLoader]="showLoader"></xm-loader>

<div class="row" *ngIf="user">
  <div class="col-md-5 col-xm-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">info_outline</i>
        </div>
        <h4 class="card-title" jhiTranslate="xm-entity.entity-data-card.title">Data</h4>
      </div>
      <div class="card-body">
        <div class="form-horizontal">
          <label class="control-label">ID: </label>
          <p class="form-control-static">{{user.id}}</p>
          <label class="control-label">UserKey:</label>
          <p class="form-control-static">{{user.userKey}}</p>
          <label class="control-label">Email:</label>
          <p class="form-control-static">
            {{userEmail}}
          </p>
          <label class="control-label">Status:</label>
          <p class="form-control-static">
                        <span class="badge badge-danger" *ngIf="!user.activated"
                              jhiTranslate="userManagement.deactivated">Deactivated</span>
            <span class="badge badge-success" *ngIf="user.activated"
                  jhiTranslate="userManagement.activated">Activated</span>
          </p>
        </div>
        <div class="text-left">
          <button (click)="initPasswordReset()"
                  routerLink="/administration/user-management"
                  class="btn btn-info" [disabled]="pwdResetDisabled()">
            <span>{{'reset.request.form.button' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-xm-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">info_outline</i>
        </div>
        <h4 class="card-title" jhiTranslate="xm-entity.entity-data-card.title">Data</h4>
      </div>
      <div class="card-body">
        <div class="form-horizontal">
          <label class="control-label">First Name: </label>
          <p class="form-control-static">{{user.firstName}}</p>
          <label class="control-label">Last Name:</label>
          <p class="form-control-static">{{user.lastName}}</p>
          <label class="control-label">Created By:</label>
          <p class="form-control-static">{{user.createdBy}} {{user.createdDate}}</p>
          <label class="control-label">Modified By:</label>
          <p class="form-control-static">{{user.lastModifiedBy}} {{user.lastModifiedDate}}</p>
          <label class="form-control-label">Prefered Language:</label>
          <p class="form-control-static">{{user.langKey}}</p>
          <label class="control-label">Role:</label>
          <p class="form-control-static">{{user.roleKey}}</p>
        </div>
        <div class="text-left">
          <button type="submit"
                  (click)="onBack()"
                  class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<no-data [show]="!user"></no-data>
