<form #editForm="ngForm" (ngSubmit)="save()" class="m-0" name="editForm" novalidate role="form">
  <div class="modal-header">
    <a (click)="clear()" class="modal-close material-icons" href="javascript: void(0);">close</a>
    <h4 class="modal-title text-left" id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
      Create or edit a User</h4>
  </div>
  <div class="modal-body">
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div class="form-group">
      <mat-form-field>
        <input [(ngModel)]="user.id"
               disabled
               id="id"
               matInput
               name="id"
               placeholder="{{'global.field.id' | translate}}"
               type="text">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input [(ngModel)]="user.userKey"
               disabled
               id="userKey"
               matInput
               name="userKey"
               placeholder="{{'userManagement.userKey' | translate}}"
               type="text">
      </mat-form-field>
    </div>
    <div *ngIf="user.id == null" class="form-group">
      <xm-user-login-form #userLoginForm [isCreate]="true" [isUser]="true" [user]="user"></xm-user-login-form>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input #firstNameInput="ngModel"
               [(ngModel)]="user.firstName"
               id="firstName"
               matInput
               maxlength="50"
               name="firstName"
               placeholder="{{'userManagement.firstName' | translate}}"
               type="text">
        <mat-error *ngIf="firstNameInput.hasError('maxlength')">
              <span jhiTranslate="entity.validation.maxlength">
                This field cannot be longer than 50 characters.
              </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input #lastNameInput="ngModel"
               [(ngModel)]="user.lastName"
               id="lastName"
               matInput
               maxlength="50"
               name="lastName"
               placeholder="{{'userManagement.lastName' | translate}}"
               type="text">
        <mat-error *ngIf="lastNameInput.hasError('maxlength')">
              <span jhiTranslate="entity.validation.maxlength">
                This field cannot be longer than 50 characters.
              </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <mat-checkbox [(ngModel)]="user.activated" [disabled]="user.id === null"
                        color="primary"
                        name="activated">
            <span jhiTranslate="userManagement.activated">Activated</span>
          </mat-checkbox>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <mat-checkbox [(ngModel)]="user.autoLogoutEnabled" [disabled]="user.id === null || !(user.activated)"
                        color="primary"
                        name="autoLogout">
            <span jhiTranslate="userManagement.autoLogout">Auto Logout</span>
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div *ngIf="languages && languages.length > 0" class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="user.langKey"
                    id="langKey"
                    name="langKey"
                    placeholder="{{'userManagement.langKey' | translate}}">
          <mat-option *ngFor="let language of languages" [value]="language">
            {{language | findLanguageFromKey}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="user.roleKey"
                    id="authority"
                    name="authority"
                    placeholder="{{'userManagement.role' | translate}}">
          <mat-option *ngFor="let authority of authorities" [value]="authority">
            {{authority}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="clear()" class="btn mr-1" data-dismiss="modal" mat-raised-button type="button">
      <span class="fa fa-ban"></span>&nbsp;<span
      jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button [disabled]="editForm.form.invalid || showLoader" class="btn btn-primary" mat-raised-button type="submit">
      <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
