<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">people</i>
        </div>
        <h4 class="card-title" jhiTranslate="userManagement.home.title">Users</h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div *ngIf="authorities" class="btn-group flex-wrap">
          <button mat-raised-button
                  class="btn btn-primary btn-sm btn-round"
                  [class.disabled]="!currentSearch"
                  (click)="applySearchByRole(null)">
            <span jhiTranslate="global.all">All</span>
          </button>
          <button mat-raised-button
                  class="btn btn-primary btn-sm btn-round"
                  *ngFor="let authority of authorities"
                  [class.disabled]="currentSearch === authority"
                  (click)="applySearchByRole(authority)">{{ authority | i18nName: principal }}
          </button>
        </div>
        <div class="row align-items-center mt2 mb-2">
          <div class="col-xs-12 col-sm-3">
            <div class="row flex-nowrap align-items-center">
              <div class="col pr-1">
                <mat-form-field floatLabel="never">
                  <input matInput
                         type="text"
                         [(ngModel)]="login"
                         (change)="searchByLogin()"
                         placeholder="{{'userManagement.search-by-login' | translate}}">
                </mat-form-field>
              </div>
              <div class="col-auto pl-0">
                <button mat-raised-button
                        type="button"
                        class="btn btn-white btn-round btn-just-icon"
                        (click)="searchByLogin()">
                  <i class="material-icons">search</i>
                </button>
              </div>
            </div>
          </div>
          <div class="col"></div>
          <div class="col-auto">
            {{'userManagement.onlineUsers' | translate}} {{onlineUsers}}
          </div>
        </div>
        <div class="material-datatables table-responsive" *ngIf="list?.length">
          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                 style="width:100%">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
              <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
              <th jhiSortBy="logins"><span jhiTranslate="userManagement.logins">Logins</span> <span
                class="fa fa-sort"></span></th>
              <th></th>
              <th jhiSortBy="langKey"><span jhiTranslate="userManagement.langKey">Lang Key</span> <span
                class="fa fa-sort"></span></th>
              <th><span jhiTranslate="userManagement.role">Role</span></th>
              <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <span
                class="fa fa-sort"></span></th>
              <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
                <span class="fa fa-sort"></span></th>
              <th jhiSortBy="lastModifiedDate"><span
                jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <span
                class="fa fa-sort"></span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of list; trackBy: trackIdentity">
              <td><a [routerLink]="['../user-management', user.userKey]">{{user.id}}</a></td>
              <td>
                <table class="clear-table" width="100%" style="width:100%" *ngIf="user.logins">
                  <tbody>
                  <tr>
                    <td>
                      <div *ngFor="let login of user.logins">
                        <span>{{getLogin(login)}}</span>
                      </div>
                    </td>
                    <td class="text-right">
                      <a href="javascript: void(0);" (click)="onLoginEdit(user)">
                        <i class="material-icons">perm_identity</i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <a href="javascript: void(0);" *ngIf="!user.tfaEnabled" style="color: grey" (click)="enable2FA(user)">
                  <i class="material-icons">verified_user</i>
                </a>
                <a href="javascript: void(0);" class="icon" *ngIf="user.tfaEnabled" style="color: #4caf50" (click)="disable2FA(user)">
                  <i class="material-icons ">verified_user</i>
                </a>
              </td>
              <td>{{user.langKey}}</td>
              <td>
                <span class="tag tag-info">{{ user.roleKey }}</span>
              </td>
              <td>{{user.createdDate | xmDateTime}}</td>
              <td>{{user.lastModifiedBy}}</td>
              <td>{{user.lastModifiedDate | xmDateTime}}</td>
              <td class="text-right nowrap">
                <a href="javascript: void(0);" *ngIf="!user.activated" style="color: red" (click)="changeState(user)">
                  <i class="material-icons">lock_outline</i>
                </a>
                <a href="javascript: void(0);" *ngIf="user.activated" style="color: #4caf50" (click)="changeState(user)">
                  <i class="material-icons green">lock_open</i>
                </a>
                <a class="ml-1" href="javascript: void(0);" (click)="onEdit(user)"
                   *permitted="'USER.UPDATE'">
                  <i class="material-icons">edit</i>
                </a>
                <a class="ml-1" href="javascript: void(0);"
                   (click)="onDelete(user)"
                   *permitted="'USER.DELETE'">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row align-items-center list-pagination" *ngIf="list?.length">
          <div class="col-auto">
            <xm-per-page [(itemsPerPage)]="itemsPerPage" (onChange)="transition()"></xm-per-page>
          </div>
          <div class="col-auto">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto">
            <ngb-pagination [collectionSize]="totalItems"
                            [pageSize]="itemsPerPage"
                            [maxSize]="5" [(page)]="page"
                            (pageChange)="loadPage(page)">

            </ngb-pagination>
          </div>
        </div>
        <no-data [show]="!list?.length"></no-data>
      </div>
    </div>
  </div>
</div>

<div class="xm-fab">
  <button mat-raised-button class="btn btn-primary btn-icon btn-just-icon btn-round btn-lg"
          (click)="onAdd()"
          *permitted="'USER.CREATE'">
    <i class="material-icons">add</i>
  </button>
</div>
