<div class="card">
  <div [hidden]="!isLoginFormView" class="card-header card-header-primary card-header-icon">
    <div class="card-icon">
      <i class="material-icons">person</i>
    </div>
    <h4 class="card-title" jhiTranslate="ext-common.sign-in-up-widget.sign-in">
      Sign in
    </h4>
  </div>
  <div [hidden]="isLoginFormView" class="card-header card-header-primary card-header-icon">
    <div class="card-icon">
      <i class="material-icons">person_add</i>
    </div>
    <h4 class="card-title" jhiTranslate="ext-common.sign-in-up-widget.sign-up">
      Sign up
    </h4>
  </div>
  <div class="card-body">
    <div class="text-center">
      <div *ngIf="config?.signUpEnabled" class="btn-group">
        <button (click)="changeMode()"
                [disabled]="isLoginFormView"
                class="btn btn-primary btn-sm btn-round"
                mat-raised-button
                type="button">
          <span jhiTranslate="ext-common.sign-in-up-widget.sign-in">Sign in</span>
        </button>
        <button (click)="changeMode()"
                [disabled]="!isLoginFormView"
                class="btn btn-primary btn-sm btn-round"
                mat-raised-button
                type="button">
          <span jhiTranslate="ext-common.sign-in-up-widget.sign-up">Sign up</span>
        </button>
      </div>
    </div>
    <xm-login *ngIf="isLoginFormView"
              [config]="config"
              [loginLabel]="loginLabel"
              [successRegistration]="successRegistration"></xm-login>
    <xm-register *ngIf="!isLoginFormView" [config]="config"></xm-register>
  </div>
</div>
