/*
 * WARNING: This file can be overridden by your custom theme,
 *          if you use the following command in your development:
 *             node ./scripts/replace-styles.js theme your-theme.scss
 */

// Theme Styles
$dark-primary-text:        rgba(black, 0.87);
$light-primary-text:       white;

$mat-teal:                 (
                             50: #e0f2f1,
                             100: #b2dfdb,
                             200: #80cbc4,
                             300: #4db6ac,
                             400: #26a69a,
                             500: #009688,
                             600: #00897b,
                             700: #00796b,
                             800: #00695c,
                             900: #004d40,
                             A100: #a7ffeb,
                             A200: #64ffda,
                             A400: #1de9b6,
                             A700: #00bfa5,
                             contrast: (
                               50: $dark-primary-text,
                               100: $dark-primary-text,
                               200: $dark-primary-text,
                               300: $dark-primary-text,
                               400: $dark-primary-text,
                               500: $light-primary-text,
                               600: $light-primary-text,
                               700: $light-primary-text,
                               800: $light-primary-text,
                               900: $light-primary-text,
                               A100: $dark-primary-text,
                               A200: $dark-primary-text,
                               A400: $dark-primary-text,
                               A700: $dark-primary-text,
                             )
                           );

$xm-primary-palette:       $mat-teal !default;
$xm-secondary-palette:     $xm-primary-palette !default;
$xm-mat-secondary-default: A200;
$xm-mat-secondary-lighter: A100;
$xm-mat-secondary-darker:  A400;

// Init theme
@import '~@xm-ngx/styles/theming';
