::ng-deep {
    .mat-select {
        &-panel {
            .mat-select {
                &-spinner {
                    position: absolute;
                    top: 52px;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}
