<form class="m-0" name="attachmentForm" role="form" novalidate (ngSubmit)="onConfirmSave()" #attachmentForm="ngForm">
  <div class="modal-header">
    <a href="javascript: void(0);" class="modal-close material-icons" (click)="onCancel()">close</a>
    <h4 class="modal-title text-left">
      <span jhiTranslate="xm-entity.attachment-detail-dialog.title">Add new attachment for the</span> [<b>{{xmEntity.name}}</b>]
    </h4>
  </div>
  <div class="modal-body">
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="attachment.typeKey"
                    name="typeKey"
                    #attachmentType="ngModel"
                    placeholder="{{'xm-entity.attachment-detail-dialog.choose-type' | translate}}"
                    [disabled]="attachmentSpecs?.length == 1"
                    required>
          <mat-option *ngFor="let attachmentSpec of attachmentSpecs"
                      [value]="attachmentSpec.key"
                      [selected]="attachmentSpec.key == attachment.typeKey ? true : null">
            {{(attachmentSpec.name | i18nName: principal).toUpperCase()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="attachmentType.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group" #nameCtrl>
      <mat-form-field>
        <input matInput
               id="field_name"
               type="text"
               name="name"
               [(ngModel)]="attachment.name"
               #attachmentName="ngModel"
               placeholder="{{'xm-entity.common.fields.name' | translate}}"
               [disabled]="readOnlyInputs"
               required>
        <mat-error *ngIf="attachmentName.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group label-floating">
      <mat-form-field>
        <textarea matInput
                  id="field_description"
                  name="description"
                  [(ngModel)]="attachment.description"
                  rows="4"
                  placeholder="{{'xm-entity.common.fields.description' | translate}}"
                  maxlength="255">
        </textarea>
      </mat-form-field>
    </div>

    <div class="form-group text-center upload-area">
      <div *ngIf="!attachment.valueContentType">
        <span jhiTranslate="xm-entity.attachment-detail-dialog.upload">Click to upload or drop file here</span>
        <input type="file" id="uploadFile" (change)="setFileData($event, nameCtrl)" [accept]="acceptedFileTypes">
        <input type="hidden" class="form-control" name="value" id="field_value" required
               [(ngModel)]="attachment.content.value"/>
        <input type="hidden" class="form-control" name="valueContentType" id="field_valueContentType"
               [(ngModel)]="attachment.valueContentType"/>
        <div [hidden]="!(attachmentForm.controls.value?.dirty && attachmentForm.controls.value?.invalid)">
          <small class="form-text text-danger" [hidden]="!attachmentForm.controls.value?.errors?.required">
            <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
          </small>
        </div>
      </div>

      <div *ngIf="attachment.valueContentType">
        <span>{{attachment.contentUrl}}, {{byteSize(attachment.content.value, attachment.valueContentSize)}}</span>
        <a href="javascript: void(0);" role="button" class="text-muted" (click)="attachment.content.value = null; attachment.valueContentType = '';">
          <i class="material-icons">close</i>
        </a>
      </div>
    </div>
    <small class="form-text text-danger" [hidden]="!wrongFileType">
      <span>{{ "xm-entity.attachment-detail-dialog.wrong-type-error" | translate: { fileType: wrongFileType} }}</span>
    </small>
  </div>
  <div class="modal-footer">
    <button mat-raised-button type="button" class="btn mr-1" data-dismiss="modal" (click)="onCancel()" [disabled]="showLoader">
      <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
    </button>
    <button mat-raised-button
            type="submit"
            class="btn btn-primary"
            [disabled]="attachmentForm.form.invalid || showLoader">
      <span jhiTranslate="xm-entity.common.save">Save</span>
    </button>
  </div>
</form>
