<form class="m-0" name="widgetForm" role="form" novalidate (ngSubmit)="onConfirmSave()" #widgetForm="ngForm">
  <div class="modal-header">
    <a href="javascript: void(0);" class="modal-close material-icons" (click)="onCancel()">close</a>
    <h4 class="modal-title text-left" *ngIf="!widget.id">
      <span jhiTranslate="admin-config.widget-detail-dialog.add.title">Add a new widget</span>
    </h4>
    <h4 class="modal-title text-left" *ngIf="widget.id">
      <span jhiTranslate="admin-config.widget-detail-dialog.edit.title">Edit a widget</span>
    </h4>
  </div>
  <div class="modal-body">
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <input *ngIf="widget.id" type="hidden" class="form-control" id="id" name="id" [(ngModel)]="widget.id"
           readonly/>

    <div class="form-group">
      <mat-form-field>
        <input matInput
               type="text"
               name="selector"
               [(ngModel)]="widget.selector"
               #widgetSelector="ngModel"
               placeholder="{{'admin-config.common.fields.selector' | translate}}"
               required>
        <mat-error *ngIf="widgetSelector.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group label-floating">
      <mat-form-field>
        <input matInput
               type="text"
               name="name"
               [(ngModel)]="widget.name"
               #widgetName="ngModel"
               placeholder="{{'admin-config.common.fields.name' | translate}}"
               required>
        <mat-error *ngIf="widgetName.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="control-label" jhiTranslate="admin-config.common.fields.config">Config</label>
      <div xmAceEditor
           [text]="configStringIn"
           [readOnly]="false"
           [mode]="'json'"
           [autoUpdateContent]="true"
           (textChanged)="onConfigChange($event)"
           [style.min-height]="'200px'"
           [style.width]="'100%'">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button type="button" class="btn mr-1" data-dismiss="modal" (click)="onCancel()">
      <span jhiTranslate="admin-config.common.cancel">Cancel</span>
    </button>
    <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="widgetForm.form.invalid || showLoader">
      <span jhiTranslate="admin-config.common.save">Save</span>
    </button>
  </div>
</form>
