@import "../sass/xm/main.css";
/**
 XM Entity state
 */
.xm-state {
    display: inline-block;
    background: #e0e0e0;
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;
}

.xm-state.xm-state-hover:hover {
    background: #ccc;
}

.xm-state, .xm-state-icon {
    height: 32px;
    line-height: 32px;
}

.xm-state-icon {
    display: block;
    float: left;
    background: #009587;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 8px 0 -12px;
    padding: 4px 0;
}

.xm-states {
    padding: 12px 0;
}

.xm-states.xm-state {
    margin: 0 5px 3px 0;
}

/**
 XM avatars
 */
img.xm-avatar-sm {
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.36), 0  4px 25px 0px rgba(0, 0, 0, 0.12), 0  8px 10px -5px rgba(0, 0, 0, 0.12);
}

/**
 XM FAB button
 */
div.main-panel button.xm-btn-fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

/**
 XM cards
 */
.card-header[data-background-color="teal"] {
    background: #00897B;
}


.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.fade.show {
    opacity: 1;
}

/**
 XM cursor pointer for links
 */
a,
span.fa-sort {
    cursor: pointer;
}

.form-group.label-static strong.text-danger,
.form-group.label-placeholder strong.text-danger,
.form-group.label-floating strong.text-danger,
.form-group.schema-form-text label.control-label,
.form-group.schema-form-text strong.text-danger,
.form-group.schema-form-number label.control-label,
.form-group.schema-form-number strong.text-danger
{
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
    will-change: left, top, contents;

    top: -7px;
    font-size: 14px;
    line-height: 1.42857;
}

.form-group.label-floating.is-focused strong.text-danger,
.form-group.schema-form-text.is-focused label.control-label,
.form-group.schema-form-text.is-focused strong.text-danger,
.form-group.schema-form-number.is-focused label.control-label,
.form-group.schema-form-number.is-focused strong.text-danger,
.form-group.label-floating:not(.is-empty) strong.text-danger,
.form-group.schema-form-text:not(.is-empty) label.control-label,
.form-group.schema-form-text:not(.is-empty) strong.text-danger,
.form-group.schema-form-number:not(.is-empty) label.control-label,
.form-group.schema-form-number:not(.is-empty) strong.text-danger
{
    top: -28px;
    font-size: 11px;
    line-height: 1.07143;
}

.form-group strong.text-danger {
    left: -10px;
    margin-top: 16px;
}
.alert span {
  display: inline;
}

/**
 XM congrats
 */
.xm-congrats {
    position: relative;
    width: 350px;
    height: 100px;
    text-align: center;
    left: 0;
    right: 0;
    display: none;
}

.xm-congrats  h1 {
    transform-origin: 50% 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;
}
