<div [class]="options?.htmlClass || ''">
  <mat-form-field>
    <mat-select [(ngModel)]="elementCtrl"
                (selectionChange)="updateValue($event)"
                [placeholder]="placeholder | async"
                [disabled]="(disabled$ | async) || options['readonly']"
                [required]="options?.required"
                #singleSelect>
      <ngx-mat-select-search [formControl]="elementFilterCtrl"
                             placeholderLabel="{{'global.rest-select-placeholder-search.simple' | translate}}"
                             noEntriesFoundLabel="{{'global.rest-select-placeholder-noresults' | translate}}"></ngx-mat-select-search>
      <mat-option disabled *ngIf="options?.placeholder">{{options?.placeholder | i18nName: principal}}</mat-option>
      <mat-option *ngFor="let element of filteredElements | async"
                  [value]="element">
        {{element.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
