<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="primary">
        <i class="material-icons">place</i>
      </div>
      <div class="card-content">
        <!--Header-->
        <h4 class="card-title" jhiTranslate="xm.xmEntity.locations">Locations</h4>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
          <div class="panel panel-default" *ngFor="let location of locations">
            <div class="panel-heading" role="tab" id="{{'heading-' + location.id" (click)="onCollapseMap(location)">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
                 href="{{'#collapse-' + location.id}}"
                 aria-expanded="false" [attr.aria-controls]="'collapse-' + location.id">
                <h4 class="panel-title">
                  <span>
                    {{ location.name }} <em>({{ locationTypes[location.typeKey].name.en.toUpperCase() }})</em>
                  </span>
                  <a (click)="onRemove(location)">
                    <i class="material-icons">close</i>
                  </a>
                  <a (click)="onManage(xmEntity,location)">
                    <i class="material-icons">edit</i>
                  </a>
                  <i class="material-icons">keyboard_arrow_down</i>
                </h4>
              </a>
            </div>
            <div id="{{'collapse-' + location.id}}" class="panel-collapse collapse" role="tabpanel"
                 [attr.aria-labelledby]="'heading-' + location.id">
              <div class="panel-body">
                <h5>{{ getPrintAddress(location) }}</h5>
                <div id="{{'location-map-' + location.id}}" class="map"
                     *ngIf="location.latitude && location.longitude"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>