.avatar-container-card {
    position: relative;
    display:  inline-block;

    .edit-avatar {
        position: absolute;
        right:    0;
        bottom:   0;
    }
}

.avatar-container-card i {
    display:    block;
    text-align: center;
    color:      grey;
    position:   absolute;
    left:       0;
    right:      0;
    transform:  translateY(5%);
    font-size:  72px;
    top:        20%;
}

.avatar-container-card img {
    width:         130px;
    height:        130px;
    overflow:      hidden;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.card-custom {
    &.has-avatar {
        .card-title {
            margin-left: 160px;
        }

        .avatar-container-card {
            margin-top: -45px;
        }
    }

    .card-title {
        font-size: 22px;
    }
}

.card-desc {
    position:   relative;
    max-height: 62px;
    overflow:   hidden;
    transition: all 0.3s ease;

    &-toggle {
        position:    absolute;
        right:       22px;
        top:         26px;
        width:       10px;
        height:      10px;
        transform:   rotate(45deg);
        cursor:      pointer;
        border:      2px solid #666;
        border-left: none;
        border-top:  none;
    }

    &.desc-full-view {
        max-height: 1000px;

        .card-desc-toggle {
            transform: rotate(225deg);
        }
    }

    &-inner {
        margin-right: 20px;
    }
}

::ng-deep {
    .card {
        &-menu {
            position: absolute;
            z-index:  10;
            right:    0;
            top:      0;
        }

        &-header {
            margin-right: 40px !important;
        }
    }

    .card-custom-schema {
        material-button-widget {
            div {
                text-align: right;
            }

            button {
                border-radius: 20px !important;
            }
        }
    }

    .card-custom {

        xm-function-list-section-compact {
            .mt-3 {
                margin-top:    0 !important;
                margin-bottom: 0 !important;
            }

            .container-fluid {
                padding-left: 0 !important;

                .col {
                    flex:      0 0 auto;
                    width:     auto;
                    max-width: none;

                    &:first-child {

                    }

                    p {
                        display: none;
                    }

                    &.limetedWidth {
                        xm-entity-state {
                            position: relative;

                            &::after {
                                content:     ':';
                                position:    absolute;
                                font-size:   22px;
                                font-weight: 700;
                                bottom:      10px;
                            }
                        }
                    }
                }

                .xm-state {
                    margin-right: 10px !important;
                }
            }

            .func-compact-blk {
                padding-bottom: 10px !important;

                hr, p {
                    display: none;
                }

                button {
                    border-radius: 20px;
                }
            }

        }

        xm-rating-list-section {
            .col {
                display: none;
            }
        }

        xm-tag-list-section {
            .xm-sources-tags .holder {
                border: none;
            }
        }

    }
}
