<h1 mat-dialog-title>{{TRS.feedback | translate}}</h1>

<div mat-dialog-content>

  <p>{{TRS.feedbackDetails | translate}}</p>

  <mat-form-field>
    <input #topic
           [(ngModel)]="data.topic"
           [placeholder]="TRS.title | translate"
           matInput
           maxLength="100"
           required>
    <mat-hint align="end">{{topic.value.length}} / 100</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <textarea #message
              [(ngModel)]="data.message"
              [placeholder]="TRS.description | translate"
              matInput
              rows="7"
              maxlength="500"
              required></textarea>
    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button (click)="submit()"
          class="ml-auto"
          color="primary"
          mat-button>{{ TRS.send | translate }}</button>

  <button mat-button (click)="dialogRef.close(false)">{{ TRS.cancel | translate }}</button>
</div>
