<div class="lot-countdown c2">
  <div class="bloc-time days">
    <span class="count-title" jhiTranslate="global.date.days">days</span>

    <div class="figure hours hours-1">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>

    <div class="figure hours hours-2">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>
  </div>

  <div class="bloc-time hours">
    <span class="count-title" jhiTranslate="global.date.hours">hours</span>

    <div class="figure hours hours-1">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>

    <div class="figure hours hours-2">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>
  </div>

  <div class="bloc-time minutes">
    <span class="count-title" jhiTranslate="global.date.minutes">minutes</span>

    <div class="figure hours hours-1">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>

    <div class="figure hours hours-2">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>
  </div>

  <div class="bloc-time seconds">
    <span class="count-title" jhiTranslate="global.date.seconds">seconds</span>

    <div class="figure hours hours-1">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>

    <div class="figure hours hours-2">
      <span class="top">0</span>
      <span class="top-back"><span>0</span></span>
      <span class="bottom">0</span>
      <span class="bottom-back"><span>0</span></span>
    </div>
  </div>
</div>
