<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group form-group-search label-floating">
      <label class="control-label" jhiTranslate="xmApp.widgetLots.searchPlaceholder">Type here to search for vehicles</label>
      <input type="text" class="form-control" name="search" [(ngModel)]="searchQuery" (change)="onSearch()" />
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 widget-col" *ngFor="let item of lots">
  <div class="card card-product">
    <div class="card-image" data-header-animation="true">
      <a href="javascript:void(0)">
        <img class="img" [src]="item.img" *ngIf="item.img">
      </a>
    </div>
    <div class="card-content">
      <div class="card-actions">
        <button type="button" class="btn btn-danger btn-simple" (click)="onRemove(item)" rel="tooltip" data-placement="bottom" title="Remove">
          <i class="material-icons">close</i>
        </button>
      </div>
      <h4 class="card-title">
        <a href="javascript:void(0)">{{item.name}}</a>
      </h4>
      <div class="card-description">{{item.description}}</div>
      <xm-lot-countdown *ngIf="item.countdownFrom" [from]="item.countdownFrom" [xmEntityId]="item.id"></xm-lot-countdown>
    </div>
    <div class="card-footer">
      <div class="price">
        <h4 *ngIf="item.maxPrice">${{item.maxPrice}}</h4>
      </div>
      <div class="stats pull-right">
        <button class="btn btn-primary btn-round btn-sm" jhiTranslate="global.entity.action.view" (click)="onView(item)">View</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noLots" jhiTranslate="xmApp.widgetLots.noData">No Lots!</div>