<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">location_on</i>
    </div>
    <h4 class="card-title">{{name}}</h4>
  </div>
  <div class="card-body">
    <div *ngIf="groups?.length > 1" class="btn-group">
      <button (click)="showGroup(group)"
              *ngFor="let group of groups"
              [class.disabled]="currentGroup === group"
              class="btn btn-primary btn-sm btn-round"
              mat-raised-button>
        {{group.name}}
      </button>
    </div>
    <ng-template (gMapApiReady)="onAfterGMapApiInit()" xmGMapApiInit>
      <div [id]="mapId" class="map"></div>
    </ng-template>
  </div>
</div>
