<div *ngIf="xmEntity && xmEntitySpec" [ngSwitch]="isAvatarEnabled" class="card">
  <div class="card-header card-header-icon card-header-primary text-left">
    <ng-container *ngSwitchCase="false">
      <div *ngIf="xmEntitySpec.icon" class="card-icon">
        <i class="material-icons">{{xmEntitySpec.icon}}</i>
      </div>
    </ng-container>
    <h4 class="card-title"><b>{{xmEntitySpec.name | i18nName: principal}}</b> - {{xmEntity.name}}</h4>
  </div>

  <div class="card-menu">
    <button [matMenuTriggerFor]="actionItems" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #actionItems="matMenu" xPosition="before">
      <button (click)="onRefresh($event)" class="btn-sm" mat-menu-item>
        <mat-icon>refresh</mat-icon>
        <span>{{'xm-entity.entity-list-card.refresh' | translate}}</span>
      </button>

      <ng-container>
        <xm-function-list-section
          [functionSpecs]="commonFunctionSpec"
          [listView]="true">
        </xm-function-list-section>
      </ng-container>
    </mat-menu>
  </div>

  <div class="container-fluid text-left mt-3 mb-3">
    <div class="row">
      <div *ngSwitchCase="true" class="col-auto text-center">
        <div class="avatar-container-card">
          <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
          <i *ngIf="xmEntitySpec.icon && !xmEntity.avatarUrl" class="material-icons">{{xmEntitySpec.icon}}</i>
          <button (click)="onAvatarChangeClick()"
                  class="btn btn-sm btn-just-icon btn-round btn-icon edit-avatar"
                  role="button">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div class="col flex-grow-1">
        <div *ngIf="xmEntity?.description">
          <p [innerHTML]="formatDescription(xmEntity.description)" class="description m-0"></p>
        </div>

        <div *ngIf="xmEntitySpec?.ratings" class="mt-3">
          <xm-rating-list-section [ratingSpecs]="xmEntitySpec?.ratings" [xmEntityId]="xmEntity.id">
          </xm-rating-list-section>
        </div>

        <div *ngIf="xmEntitySpec?.tags" class="mt-3">
          <xm-tag-list-section [tagSpecs]="xmEntitySpec?.tags" [xmEntityId]="xmEntity.id"></xm-tag-list-section>
        </div>
      </div>
    </div>

    <xm-function-list-section
      *ngIf="xmEntity || (getNextStates()?.length || xmEntitySpec.functions)"
      [functionSpecs]="entityFunctionSpec"
      [nextStates]="getNextStates()"
      [stateSpec]="getState()"
      [xmEntityId]="xmEntity.id"
      [xmEntitySpec]="xmEntitySpec"
      [xmEntity]="xmEntity">
    </xm-function-list-section>
  </div>
</div>
