<form (ngSubmit)="onChangeState()" class="m-0" name="changeStateForm">
  <div mat-dialog-title>
    <h4 [innerHTML]="dialogTitle | translate" class="modal-title text-left"></h4>
  </div>
  <div mat-dialog-content>
    <xm-loader [showLoader]="showLoader"></xm-loader>
    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (isValid)="isJsonFormValid = $event"
                      (onChanges)="onChangeForm($event)"
                      *ngIf="xmEntity && jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf"
                      [options]="jsfAttributes.options | i18nJsf"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets"
                      class="json-form-hide-submit">
    </json-schema-form>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancel()" class="btn mr-1 ml-auto" data-dismiss="modal" mat-button type="button">
      <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
    </button>
    <button [disabled]="showLoader || !isJsonFormValid" color="primary" mat-button type="submit">
      <span>{{buttonTitle | translate}}</span>
    </button>
  </div>
</form>
