<div class="row" *ngIf="xmEntity">
  <!-- TODO: use masonry layout -->
  <div class="col-lg-6">
    <div *ngFor="let linkSpec of linkSpecs; let even = even">
      <xm-link-list-card [xmEntity]="xmEntity"
                         [links]="filterLinks(linkSpec.model)"
                         [linkSpec]="linkSpec"
                         [modes]="getModes(linkSpec.model)"
                         *ngIf="even">
      </xm-link-list-card>
    </div>
    <div *ngFor="let backLinkSpec of filterBackLinkSpecs(); let even = even">
      <xm-link-list-card [links]="filterLinks(backLinkSpec.model)"
                         [linkSpec]="backLinkSpec"
                         [isBackLink]="true"
                         *ngIf="even">
      </xm-link-list-card>
    </div>
  </div>
  <div class="col-lg-6">
    <div *ngFor="let linkSpec of linkSpecs; let odd = odd">
      <xm-link-list-card [xmEntity]="xmEntity"
                         [links]="filterLinks(linkSpec.model)"
                         [linkSpec]="linkSpec"
                         [modes]="getModes(linkSpec.model)"
                         *ngIf="odd">
      </xm-link-list-card>
    </div>
    <div *ngFor="let backLinkSpec of filterBackLinkSpecs(); let odd = odd">
      <xm-link-list-card [links]="filterLinks(backLinkSpec.model)"
                         [linkSpec]="backLinkSpec"
                         [isBackLink]="true"
                         *ngIf="odd">
      </xm-link-list-card>
    </div>
  </div>
</div>
