<div class="row">
  <div *ngFor="let item of stats" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-secondary card-header-icon">
        <div [attr.data-background-color]="item.color" class="card-icon">
          <i class="material-icons">{{item.icon}}</i>
        </div>
        <p class="card-category">{{item.name}}</p>
        <h3 class="card-title">{{item.value | async}}</h3>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
