<form (ngSubmit)="onConfirmFunctionCall()" class="m-0" name="functionCallForm">
  <div class="modal-header">
    <a (click)="onCancel()" class="modal-close material-icons" href="javascript: void(0);">close</a>
    <h4 [innerHTML]="dialogTitle | i18nName : principal" class="modal-title text-left"></h4>
  </div>
  <div class="modal-body">
    <xm-loader [showLoader]="showLoader$ | async"></xm-loader>
    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (isValid)="isJsonFormValid = $event"
                      (onChanges)="onChangeForm($event)"
                      *ngIf="jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf :principal"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf :principal"
                      [options]="jsfAttributes.options | i18nJsf :principal"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets"
                      class="json-form-hide-submit">
    </json-schema-form>
  </div>
  <div *ngIf="showSecondStep$ | async; else firstStep" class="modal-footer">
    <button (click)="onCancel()"
            class="btn mr-1"
            data-dismiss="modal"
            mat-raised-button
            type="button">
      <span *ngIf="jsfAttributes?.entity?.closeName">{{jsfAttributes.entity.closeName | i18nName: principal}}</span>
      <span *ngIf="!jsfAttributes?.entity?.closeName" jhiTranslate="xm-entity.common.close">Close</span>
    </button>
  </div>
  <ng-template #firstStep>
    <div class="modal-footer">
      <button (click)="onCancel()"
              class="btn mr-1"
              data-dismiss="modal"
              mat-raised-button
              type="button">
        <span *ngIf="jsfAttributes?.entity?.cancelName">{{jsfAttributes.entity.cancelName | i18nName: principal}}</span>
        <span *ngIf="!jsfAttributes?.entity?.cancelName" jhiTranslate="xm-entity.common.cancel">Cancel</span>
      </button>
      <button [disabled]="(showLoader$ | async) || !isJsonFormValid"
              class="btn btn-primary"
              mat-raised-button
              type="submit">
        <span *ngIf="jsfAttributes?.entity?.saveName">{{jsfAttributes.entity.saveName | i18nName: principal}}</span>
        <span *ngIf="!jsfAttributes?.entity?.saveName">{{buttonTitle | i18nName : principal}}</span>
      </button>
    </div>
  </ng-template>
</form>
