<div class="row" *ngFor="let commentType of commentTypes">
  <div class="header text-center">
    <h3 class="title">
      <span class="text-muted">{{commentType.name.en}}</span>
    </h3>
  </div>
  <div class="row" *ngFor="let comment of xmEntity.comments">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card card-testimonial">
        <div class="icon">
          <i class="material-icons">format_quote</i>
        </div>
        <div class="card-content">
          <h5 class="card-description">{{comment.message}}</h5>
        </div>
        <div class="footer">
          <h4 class="card-title">{{comment.user?.firstName}} {{comment.user?.lastName}}</h4>
          <div class="card-avatar">
            <img class="img" (error)="comment.noImage=true" [hidden] = "comment.noImage"
                 src="{{ comment.user && comment.user.imageUrl ? comment.user.imageUrl : './assets/img/anonymous.png' }}">
            <img class="img" src="./assets/img/anonymous.png" [hidden] = "!comment.noImage">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>