$xm-card-margin: 16px;

@mixin xm-card() {
  .card {
    margin-bottom: $xm-card-margin;
    margin-top:    $xm-card-margin;

    // Backward compatibility, for a vertical dots button
    position:      relative;

    @include xm-shadow-xs();
  }
}

@include xm-card();
