/**
 * XM fab speed dial
 * @todo: create and move to the xm-fab-speed-dial component
 */

@mixin xm-fab($theme) {
  .xm-fab *,
  .xm-fab *::before,
  .xm-fab *::after {
    -webkit-transition-duration: .3s;
    transition-duration:         .3s;
    -webkit-transition-property: none;
    transition-property:         none;
  }

  .xm-fab {
    bottom:     0;
    margin:     30px;
    position:   fixed;
    right:      0;
    text-align: center;
    z-index:    10;

    > button .material-icons {
      font-size: 24px;
    }

    .xm-fab-drop {
      bottom:                      100%;
      left:                        0;
      opacity:                     0;
      position:                    absolute;
      -webkit-transition-delay:    500ms;
      transition-delay:            500ms;
      -webkit-transition-property: opacity, visibility;
      transition-property:         opacity, visibility;
      visibility:                  hidden;
      width:                       100%;
    }

    &:hover .xm-fab-drop {
      opacity:                  1;
      -webkit-transition-delay: 0ms;
      transition-delay:         0ms;
      visibility:               visible;
    }
  }

  .xm-fab button {
    background:                  $xm-primary;
    border:                      none;
    border-radius:               50%;
    box-shadow:                  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color:                       $xm-text-on-primary;
    cursor:                      pointer;
    display:                     block;
    height:                      56px;
    margin:                      0 auto;
    margin-top:                  20px;
    position:                    relative;
    -webkit-transition-property: box-shadow, opacity, -webkit-transform;

    transition-property:         box-shadow, opacity, -webkit-transform;
    transition-property:         box-shadow, opacity, transform;
    transition-property:         box-shadow, opacity, transform, -webkit-transform;
    width:                       56px;

    &.fab-main-button {
      margin-top: 0;
      padding:    0;
    }
  }

  .xm-fab button i {
    margin-top: 6px;
  }

  .xm-fab button.xm-fab-option {
    background-color:  #e0e0e0;
    color:             grey;
    height:            40px;
    opacity:           0;
    -webkit-transform: translateY(50px);
    transform:         translateY(50px);
    width:             40px;
  }

  .xm-fab-option,
  .fab-main-button {


    > .fab-title {
      background-color: rgba(#000, .6);
      border-radius:    3px;
      color:            #fff;
      @include translate(-10px, -50%);
      display:          none;
      padding:          4px 5px;
      position:         absolute;
      right:            100%;
      top:              50%;
      white-space:      nowrap;
    }

    &:hover > .fab-title {
      display: block;
    }
  }

  .xm-fab button.xm-fab-option:nth-last-child(1) {
    -webkit-transition-delay: 100ms;
    transition-delay:         100ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(2) {
    -webkit-transition-delay: 200ms;
    transition-delay:         200ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(3) {
    -webkit-transition-delay: 300ms;
    transition-delay:         300ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(4) {
    -webkit-transition-delay: 400ms;
    transition-delay:         400ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(5) {
    -webkit-transition-delay: 500ms;
    transition-delay:         500ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(6) {
    -webkit-transition-delay: 600ms;
    transition-delay:         600ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(7) {
    -webkit-transition-delay: 700ms;
    transition-delay:         700ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(8) {
    -webkit-transition-delay: 800ms;
    transition-delay:         800ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(9) {
    -webkit-transition-delay: 900ms;
    transition-delay:         900ms;
  }

  .xm-fab button.xm-fab-option:nth-last-child(10) {
    -webkit-transition-delay: 1000ms;
    transition-delay:         1000ms;
  }

  .xm-fab button.xm-fab-option:last-child {
    margin-bottom: 20px;
  }

  .xm-fab button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .xm-fab button:active,
  .xm-fab button:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    outline:    none;
  }

  .xm-fab:hover .xm-fab-option,
  .xm-fab:focus .xm-fab-option {
    opacity:           1;
    -webkit-transform: none;
    transform:         none;
  }


  .btn.btn-fab.btn-lg,
  .btn.btn-just-icon.btn-lg,
  .mat-button.btn.btn-fab.btn-lg,
  .mat-button.btn.btn-just-icon.btn-lg,
  .mat-raised-button.btn.btn-fab.btn-lg {
    height:      57px;
    line-height: 56px;
    min-width:   57px;
    width:       57px;

    .material-icons {
      margin-top: 0;
    }
  }

}
