<div class="card has-refresh-button" [ngSwitch]="list?.length === 1">
  <!-- start header for the multi entities types -->
  <div *ngSwitchCase="false" class="card-header card-header-tabs card-header-primary">
    <ul class="nav nav-tabs" data-tabs="tabs" [class.xm-disabled]="showLoader">
      <li class="nav-item" *ngFor="let item of list; index as i; first as isFirst">
        <a class="nav-link" [class.active]="i == activeItemId" data-toggle="tab" href="{{'#wdt-entity-group-' + i}}" (click)="setActiveTab(i)">
          <i class="material-icons">{{ item.xmEntitySpec?.icon  ? item.xmEntitySpec?.icon : 'view_list'}}</i>
          {{item.name | i18nName: principal}}
        </a>
      </li>
    </ul>
  </div>
  <!-- end header for the multi entities types  -->

  <!-- start header for the one entity type  -->
  <div *ngSwitchCase="true" class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{list[0]?.xmEntitySpec?.icon ? list[0]?.xmEntitySpec?.icon : 'search'}}</i>
    </div>
    <h4 class="card-title" *ngSwitchCase="true">{{list[0].name | i18nName: principal}}</h4>
  </div>
  <!-- end header for the one entity type  -->

  <xm-loader [showLoader]="showLoader"></xm-loader>
  <div class="card-body">
    <div class="tab-content" [class.xm-disabled]="showLoader">
      <div class="tab-pane"
           [class.active]="i == activeItemId"
           *ngFor="let item of list; index as i; first as isFirst"
           id="{{'wdt-entity-group-' + i}}">
        <div class="dropdown xm-entity-list-actions" *ngIf="!(options?.hideOptionsMenu)">
          <button mat-icon-button [matMenuTriggerFor]="entityListActions">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #entityListActions="matMenu">
            <button mat-menu-item class="btn-sm" (click)="onRefresh()">
              {{'xm-entity.entity-list-card.refresh' | translate}}
            </button>
            <button mat-menu-item class="btn-sm" *ngIf="item.filter" (click)="isShowFilterArea = !isShowFilterArea">
              <ng-container *ngIf="isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-hide' | translate}}
              </ng-container>
              <ng-container *ngIf="!isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-show' | translate}}
              </ng-container>
            </button>
            <ng-container  *ngIf="item.xmEntitySpec?.functions && item.xmEntitySpec?.functions.length">
              <xm-function-list-section [functionSpecs]="item.xmEntitySpec?.functions" [listView]="true">
              </xm-function-list-section>
            </ng-container>
            <button mat-menu-item class="btn-sm" [matMenuTriggerFor]="entityListActionDownloads" *xmPermitted="['XMENTITY.EXPORT.FILE']">
              {{'xm-entity.entity-list-card.export.action.downloads' | translate}}
            </button>
          </mat-menu>

          <mat-menu #entityListActionDownloads="matMenu">
            <button mat-menu-item class="btn-sm" (click)="onFileExport(item, 'xlsx')">
              {{'xm-entity.entity-list-card.export.action.xls' | translate}}
            </button>
            <button mat-menu-item class="btn-sm" (click)="onFileExport(item, 'csv');">
              {{'xm-entity.entity-list-card.export.action.csv' | translate}}
            </button>
          </mat-menu>
        </div>

        <div class="row">
          <!-- start fast search -->
          <div class="col-sm-8" *xmPermitted="['XMENTITY.SEARCH.QUERY']">
            <div *ngIf="item.fastSearch?.length > 1" class="btn-group">
              <button mat-raised-button
                      class="btn btn-primary btn-sm btn-round"
                      [class.disabled]="item.currentQuery === getDefaultSearch(item)"
                      (click)="onApplyFastSearch(item, getDefaultSearch(item))">
                <span jhiTranslate="global.all">All</span>
              </button>
              <button mat-raised-button
                      class="btn btn-primary btn-sm btn-round"
                      [class.disabled]="item.currentQuery === fastSearch.query"
                      (click)="onApplyFastSearch(item, fastSearch.query)"
                      *ngFor="let fastSearch of getFastSearches(item)">
                {{fastSearch.name | i18nName: principal}}
              </button>
            </div>
          </div>
          <!-- end fast search -->
        </div>

        <!-- start filter area -->
        <div class="row" *ngIf="isShowFilterArea">
          <div class="col-sm">
            <json-schema-form [framework]="'material-design'"
                              [schema]="item.filterJsfAttributes.schema"
                              [layout]="item.filterJsfAttributes.layout | i18nJsf :principal"
                              [form]="item.filterJsfAttributes.form | i18nJsf :principal"
                              [data]="item.filterJsfAttributes.data"
                              [options]="item.filterJsfAttributes.options | i18nJsf :principal"
                              [widgets]="item.filterJsfAttributes.widgets"
                              (formLayout)="item.filterJsfAttributes.formLayout"
                              (onSubmit)="onApplyFilter(item, $event)"
                              *ngIf="item.filterJsfAttributes?.schema">
            </json-schema-form>
          </div>
        </div>
        <!-- end filter area -->
        <ng-container *ngIf="item.entities">
          <div class="table-responsive" [ngClass]="{ 'sm-overflow': options.smOverflow }">
            <table class="table table-striped">
              <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th></th>

                <ng-container *ngFor="let field of item.fields">
                  <th *ngIf="field.sortable === false"
                      [ngClass]="{'th-hidden' : field.hiddenTitle}">
                    <span *ngIf="field.title">{{field.title | i18nName :principal}}</span>
                  </th>
                  <th *ngIf="field.sortable !== false"
                      [jhiSortBy]="field.useKeyword ? field.field + '.keyword' : field.field"
                      [ngClass]="{'th-hidden' : field.hiddenTitle}">
                    <span *ngIf="field.title">{{field.title | i18nName :principal}}</span>
                    <span class="fa fa-sort" *ngIf="field.title"></span>
                  </th>
                </ng-container>

                <th *ngIf="item.typeKey != 'RESOURCE.XM-TENANT' && !(options.hideExport)"></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let xmEntity of item.entities">
                <td>
                  <div class="xm-avatar-img-container">
                    <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
                    <i class="material-icons"
                       *ngIf="xmEntity.type?.icon && !xmEntity.avatarUrl">{{xmEntity.type?.icon}}</i>
                  </div>
                </td>
                <td [ngSwitch]="field.field" *ngFor="let field of item.fields">
                  <div *ngSwitchCase="'name'">
                    <div *ngIf="(options?.noDeepLink || item?.noDeepLink); then entryHasNotLink else entryHasLink"></div>
                    <ng-template #entryHasLink>
                      <a href="javascript: void(0);" (click)="onNavigate(item, xmEntity)">
                        {{getFieldValue(xmEntity, field)}}
                      </a>
                    </ng-template>
                    <ng-template #entryHasNotLink>
                      {{getFieldValue(xmEntity, field)}}
                    </ng-template>
                  </div>
                  <div *ngSwitchCase="'typeKey'">
                    <h6>{{xmEntity.type?.name | i18nName: principal}}</h6>
                  </div>
                  <div *ngSwitchCase="'startDate'">
                    {{xmEntity.startDate | xmDateTime}}
                  </div>
                  <div *ngSwitchCase="'actions'">
                    <div class="xm-table-options dropdown" *permitted="field.actionsListPrivileges">
                      <span class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                        <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                      </span>
                      <ul class="dropdown-menu" x-placement="bottom-start">
                        <ng-container *ngFor="let action of field.actions">
                          <ng-container *ngIf="!action.actionCondition || (action.actionCondition(xmEntity))">
                            <li *permitted="action.privilege">
                              <a (click)="onAction(item, xmEntity, action)">
                                {{ action.name | i18nName: principal }}
                              </a>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                  <div *ngSwitchCase="'stateKey'">
                    <div class="xm-state" *ngIf="xmEntity.state">
                      <div class="xm-state-icon" [style.background]="xmEntity.state?.color">
                        <i class="material-icons">{{xmEntity.state?.icon}}</i>
                      </div>
                      {{xmEntity.state?.name | i18nName: principal}}
                    </div>
                  </div>
                  <div *ngSwitchDefault [innerHtml]="getFieldValue(xmEntity, field)">
                  </div>
                  <button class="btn btn-primary btn-round btn-sm" (click)="onAction(item, xmEntity, field.action)"
                          *ngIf="field.action">
                    {{field.action.name | i18nName: principal}}
                  </button>
                </td>
                <td *ngIf="item.typeKey != 'RESOURCE.XM-TENANT' && !(options?.hideDelete) && !(item?.hideDelete)">
                  <a href="javascript: void(0);" (click)="onRemove(xmEntity)">
                    <i class="material-icons">close</i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <div class="row align-items-center list-pagination" *ngIf="item?.entities?.length">
          <div class="col-auto mt-1 mb-1">
            <xm-per-page [(itemsPerPage)]="entitiesPerPage" (onChange)="transition()"></xm-per-page>
          </div>
          <div class="col-auto mt-1 mb-1">
            <jhi-item-count [page]="item.page" [total]="item.queryCount" [itemsPerPage]="entitiesPerPage">
            </jhi-item-count>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto mt-1 mb-1">
            <ngb-pagination [collectionSize]="item.totalItems"
                            [pageSize]="entitiesPerPage"
                            [(page)]="item.page"
                            [maxSize]="5"
                            (pageChange)="onLoadPage(item)">
            </ngb-pagination>
          </div>
        </div>
        <no-data [show]="!item.entities?.length" [text]="item.noData"></no-data>
      </div>
    </div>
  </div>
</div>
