<div [ngSwitch]="list?.length === 1" class="card has-refresh-button">
  <!-- start header for the multi entities types -->
  <div *ngSwitchCase="false" class="card-header card-header-tabs card-header-primary">
    <ul [class.xm-disabled]="showLoader" class="nav nav-tabs" data-tabs="tabs">
      <li *ngFor="let item of list; index as i; first as isFirst" class="nav-item">
        <a (click)="setActiveTab(i)"
           [class.active]="i == activeItemId"
           class="nav-link"
           data-toggle="tab"
           href="{{'#wdt-entity-group-' + i}}">
          <i class="material-icons">{{ item.xmEntitySpec?.icon ? item.xmEntitySpec?.icon : 'view_list'}}</i>
          {{item.name | translate}}
        </a>
      </li>
    </ul>
  </div>
  <!-- end header for the multi entities types  -->

  <!-- start header for the one entity type  -->
  <div *ngSwitchCase="true" class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{list[0]?.xmEntitySpec?.icon ? list[0]?.xmEntitySpec?.icon : 'search'}}</i>
    </div>
    <h4 *ngSwitchCase="true" class="card-title">{{list[0].name | translate}}</h4>
  </div>
  <!-- end header for the one entity type  -->

  <xm-loader [showLoader]="showLoader"></xm-loader>
  <div class="card-body">
    <div [class.xm-disabled]="showLoader" class="tab-content">
      <div *ngFor="let item of list; index as i; first as isFirst"
           [class.active]="i == activeItemId"
           class="tab-pane"
           id="{{'wdt-entity-group-' + i}}">
        <div *ngIf="!(options?.hideOptionsMenu)" class="dropdown xm-entity-list-actions">
          <button [matMenuTriggerFor]="entityListActions" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #entityListActions="matMenu">
            <button (click)="onRefresh()" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.refresh' | translate}}
            </button>
            <button (click)="isShowFilterArea = !isShowFilterArea" *ngIf="item.filter" class="btn-sm" mat-menu-item>
              <ng-container *ngIf="isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-hide' | translate}}
              </ng-container>
              <ng-container *ngIf="!isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-show' | translate}}
              </ng-container>
            </button>
            <ng-container *ngIf="item.xmEntitySpec?.functions && item.xmEntitySpec?.functions.length">
              <xm-function-list-section [functionSpecs]="item.xmEntitySpec?.functions" [listView]="true">
              </xm-function-list-section>
            </ng-container>
            <button *xmPermitted="['XMENTITY.EXPORT.FILE']"
                    [matMenuTriggerFor]="entityListActionDownloads"
                    class="btn-sm"
                    mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.downloads' | translate}}
            </button>
          </mat-menu>

          <mat-menu #entityListActionDownloads="matMenu">
            <button (click)="onFileExport(item, 'xlsx')" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.xls' | translate}}
            </button>
            <button (click)="onFileExport(item, 'csv');" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.csv' | translate}}
            </button>
          </mat-menu>
        </div>

        <div class="row">
          <!-- start fast search -->
          <div *xmPermitted="['XMENTITY.SEARCH.QUERY']" class="col-sm-8">
            <div *ngIf="item.fastSearch?.length > 1" class="btn-group">
              <button (click)="onApplyFastSearch(item, getDefaultSearch(item))"
                      *ngIf="!isHideAll(item.typeKey)"
                      [class.disabled]="item.currentQuery === getDefaultSearch(item)"
                      class="btn btn-primary btn-sm rounded-circle"
                      mat-button>
                <span jhiTranslate="global.all">All</span>
              </button>
              <button (click)="onApplyFastSearch(item, fastSearch.query)"
                      *ngFor="let fastSearch of getFastSearches(item)"
                      [class.disabled]="item.currentQuery === fastSearch.query"
                      class="btn btn-primary btn-sm rounded-circle"
                      mat-button>
                {{fastSearch.name | translate}}
              </button>
            </div>
          </div>
          <!-- end fast search -->
        </div>

        <!-- start filter area -->
        <div *ngIf="isShowFilterArea" class="row">
          <div class="col-sm">
            <json-schema-form (formLayout)="item.filterJsfAttributes.formLayout"
                              (onSubmit)="onApplyFilter(item, $event)"
                              *ngIf="item.filterJsfAttributes?.schema"
                              [data]="item.filterJsfAttributes.data"
                              [form]="item.filterJsfAttributes.form | i18nJsf"
                              [framework]="'material-design'"
                              [layout]="item.filterJsfAttributes.layout | i18nJsf"
                              [options]="item.filterJsfAttributes.options | i18nJsf"
                              [schema]="item.filterJsfAttributes.schema"
                              [widgets]="item.filterJsfAttributes.widgets">
            </json-schema-form>
          </div>
        </div>
        <!-- end filter area -->
        <ng-container *ngIf="item.entities">
          <div [ngClass]="{ 'sm-overflow': options.smOverflow }" class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th></th>

                <ng-container *ngFor="let field of item.fields">
                  <th *ngIf="field.sortable === false"
                      [ngClass]="{'th-hidden' : field.hiddenTitle}">
                    <span *ngIf="field.title">{{field.title | translate}}</span>
                  </th>
                  <th *ngIf="field.sortable !== false"
                      [jhiSortBy]="field.useKeyword ? field.field + '.keyword' : field.field"
                      [ngClass]="{'th-hidden' : field.hiddenTitle}">
                    <span *ngIf="field.title">{{field.title | translate}}</span>
                    <span *ngIf="field.title" class="fa fa-sort"></span>
                  </th>
                </ng-container>

                <th *ngIf="!(options?.hideDelete) && !(options?.hideExport)"></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let xmEntity of item.entities">
                <td>
                  <div class="xm-avatar-img-container">
                    <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
                    <i *ngIf="xmEntity.type?.icon && !xmEntity.avatarUrl"
                       class="material-icons">{{xmEntity.type?.icon}}</i>
                  </div>
                </td>
                <td *ngFor="let field of item.fields" [ngSwitch]="field.field">
                  <div *ngSwitchCase="'name'">
                    <div *ngIf="(options?.noDeepLink || item?.noDeepLink); then entryHasNotLink else entryHasLink"></div>
                    <ng-template #entryHasLink>
                      <a (click)="onNavigate(item, xmEntity)" href="javascript: void(0);">
                        {{getFieldValue(xmEntity, field)}}
                      </a>
                    </ng-template>
                    <ng-template #entryHasNotLink>
                      {{getFieldValue(xmEntity, field)}}
                    </ng-template>
                  </div>
                  <div *ngSwitchCase="'typeKey'">
                    <h6>{{xmEntity.type?.name | translate}}</h6>
                  </div>
                  <div *ngSwitchCase="'startDate'">
                    {{xmEntity.startDate | xmDateTime}}
                  </div>
                  <div *ngSwitchCase="'actions'">
                    <div *permitted="field.actionsListPrivileges" class="xm-table-options dropdown">
                      <span aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#pablo">
                        <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                      </span>
                      <ul class="dropdown-menu" x-placement="bottom-start">
                        <ng-container *ngFor="let action of field.actions">
                          <ng-container *ngIf="!action.actionCondition || (action.actionCondition(xmEntity))">
                            <li *permitted="action.privilege">
                              <a (click)="onAction(item, xmEntity, action)">
                                {{ action.name | translate }}
                              </a>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                  <div *ngSwitchCase="'stateKey'">
                    <div *ngIf="xmEntity.state" class="xm-state">
                      <div [style.background]="xmEntity.state?.color" class="xm-state-icon">
                        <i class="material-icons">{{xmEntity.state?.icon}}</i>
                      </div>
                      {{xmEntity.state?.name | translate}}
                    </div>
                  </div>
                  <div *ngSwitchDefault [innerHtml]="getFieldValue(xmEntity, field)">
                  </div>
                  <button (click)="onAction(item, xmEntity, field.action)" *ngIf="field.action"
                          class="btn btn-primary rounded-circle btn-sm">
                    {{field.action.name | translate}}
                  </button>
                </td>
                <td *ngIf="!(options?.hideDelete) && !(item?.hideDelete)">
                  <a (click)="onRemove(xmEntity)" href="javascript: void(0);">
                    <i class="material-icons">close</i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <div *ngIf="item?.entities?.length && showPagination" class="row align-items-center list-pagination">
          <div class="col-auto mt-1 mb-1">
            <xm-per-page (onChange)="transition()" [(itemsPerPage)]="entitiesPerPage"></xm-per-page>
          </div>
          <div class="col-auto mt-1 mb-1">
            <jhi-item-count [itemsPerPage]="entitiesPerPage" [page]="item.page" [total]="item.queryCount">
            </jhi-item-count>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto mt-1 mb-1">
            <ngb-pagination (pageChange)="onLoadPage(item)"
                            [(page)]="item.page"
                            [collectionSize]="item.totalItems"
                            [maxSize]="5"
                            [pageSize]="entitiesPerPage">
            </ngb-pagination>
          </div>
        </div>
        <no-data [show]="!item.entities?.length" [text]="item.noData"></no-data>
      </div>
    </div>
  </div>
</div>
