<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">view_comfy</i>
        </div>
        <h4 class="card-title" jhiTranslate="rolesManagement.matrix.title">Role Matrix</h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div class="row align-items-center">
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <mat-select [(ngModel)]="sortBy.msName"
                            (selectionChange)="onChangeSort()"
                            placeholder="{{'rolesManagement.permission.msName' | translate}}">
                  <mat-option *ngFor="let item of entities" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <input matInput
                       type="text"
                       name="search"
                       (change)="onChangeSort()"
                       [(ngModel)]="sortBy.query"
                       placeholder="{{'rolesManagement.permission.privilegeKey' | translate}}"
                    >
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <mat-select [(ngModel)]="sortBy.permitted_filter"
                            (selectionChange)="onChangeSort()"
                            placeholder="{{'rolesManagement.permission.privilegeKey' | translate}}">
                  <mat-option *ngFor="let item of permitted_filter" [value]="item.value">
                    <span *ngIf="item.trans" jhiTranslate="rolesManagement.permission.{{item.trans}}"></span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col"></div>

          <div class="col-auto">
            <button type="button" class="btn btn-sm mat-raised-button mr-1" (click)="onCancel()" [disabled]="!hasChanges" *permitted="'DASHBOARD.UPDATE'">
              <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm mat-raised-button" (click)="onSave()" [disabled]="!hasChanges" *permitted="'DASHBOARD.UPDATE'">
              <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>

        <div class="material-datatables table-responsive role-matrix-table" #table>
          <div class="inline-container">
            <div *ngFor="let item of hiddenRoles">
              <a class="remove-from-table" href="javascript: void(0);" (click)="onViewRole(item)">
                {{item.role}}
                <span class="material-icons">close</span>
              </a>
            </div>
          </div>

          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="onTransition.bind(this, page)">
              <th jhiSortBy="privilegeKey"><span jhiTranslate="rolesManagement.permission.privilegeKey">Privilege key</span> <span class="fa fa-sort"></span></th>
              <th jhiSortBy="msName"><span jhiTranslate="rolesManagement.permission.msName">MS name</span> <span class="fa fa-sort"></span></th>
              <th class="text-center" *ngFor="let item of matrix?.roles; index as i" [ngClass]="'col-' + i">
                <a class="remove-from-table"
                   href="javascript: void(0);"
                   (click)="onHideRole(item, i)">
                  {{item}}
                  <span class="material-icons">close</span>
                </a>
                <div class="text-center">
                  <mat-slide-toggle [(ngModel)]="checkAll[i]" (change)="onCheckAll(i); isChanged(permissions);">
                    {{'rolesManagement.permission.checkAll' | translate}}
                  </mat-slide-toggle>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of permissions">
              <td>{{item.privilegeKey}}</td>
              <td>{{item.msName}}</td>
              <td class="text-center align-middle" *ngFor="let role of item.roles; index as i" [ngClass]="'col-' + i">
                <mat-checkbox class="no-label-margin" [(ngModel)]="role.value" (change)="isChanged(permissions)"></mat-checkbox>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row align-items-center list-pagination">
          <div class="col-auto mt-1 mb-1">
            <xm-per-page [(itemsPerPage)]="itemsPerPage" (onChange)="onChangePerPage()"></xm-per-page>
          </div>
          <div class="col-auto mt-1 mb-1">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
          </div>
          <div class="col-auto mt-1 mb-1">
            <ngb-pagination [collectionSize]="totalItems"
                            [pageSize]="itemsPerPage"
                            [maxSize]="5"
                            [(page)]="page"
                            (pageChange)="onLoadPage(page)">

            </ngb-pagination>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto">
            <button type="button" class="btn btn-default btn-sm mat-raised-button mr-1" (click)="onCancel()" [disabled]="!hasChanges" *permitted="'DASHBOARD.UPDATE'">
              <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm mat-raised-button" (click)="onSave()" [disabled]="!hasChanges" *permitted="'DASHBOARD.UPDATE'">
              <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
