<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">view_comfy</i>
        </div>
        <h4 class="card-title" jhiTranslate="rolesManagement.matrix.title">Role Matrix</h4>
      </div>

      <div class="card-body">
        <xm-loader [showLoader]="showLoader"></xm-loader>
        <div class="row align-items-center">
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <mat-select (selectionChange)="onChangeSort()"
                            [(ngModel)]="sortBy.msName"
                            placeholder="{{'rolesManagement.permission.msName' | translate}}">
                  <mat-option *ngFor="let item of entities" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <input (change)="onChangeSort()"
                       [(ngModel)]="sortBy.query"
                       matInput
                       name="search"
                       placeholder="{{'rolesManagement.permission.privilegeKey' | translate}}"
                       type="text"
                >
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <mat-form-field>
                <mat-select (selectionChange)="onChangeSort()"
                            [(ngModel)]="sortBy.permitted_filter"
                            placeholder="{{'rolesManagement.permission.privilegeKey' | translate}}">
                  <mat-option *ngFor="let item of permittedFilter" [value]="item.value">
                    <span *ngIf="item.trans" jhiTranslate="rolesManagement.permission.{{item.trans}}"></span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col"></div>

          <div class="col-auto">
            <button (click)="onCancel()"
                    *permitted="'DASHBOARD.UPDATE'"
                    [disabled]="!hasChanges"
                    class="btn btn-sm mat-raised-button mr-1"
                    type="button">
              <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button (click)="onSave()"
                    *permitted="'DASHBOARD.UPDATE'"
                    [disabled]="!hasChanges"
                    class="btn btn-primary btn-sm mat-raised-button"
                    type="button">
              <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>

        <div #table class="material-datatables table-responsive role-matrix-table">
          <div class="inline-container">
            <div *ngFor="let item of hiddenRoles">
              <a (click)="onViewRole(item)" class="remove-from-table" href="javascript: void(0);">
                {{item.role}}
                <span class="material-icons">close</span>
              </a>
            </div>
          </div>

          <table cellspacing="0"
                 class="table table-striped table-no-bordered table-hover"
                 id="datatables"
                 style="width:100%"
                 width="100%">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="onTransition.bind(this, page)" jhiSort>
              <th jhiSortBy="privilegeKey">
                <span jhiTranslate="rolesManagement.permission.privilegeKey">Privilege key</span>
                <span class="fa fa-sort"></span></th>
              <th>{{'rolesManagement.permission.desc' | translate}}</th>
              <th jhiSortBy="msName"><span jhiTranslate="rolesManagement.permission.msName">MS name</span>
                <span class="fa fa-sort"></span></th>
              <th *ngFor="let item of matrix?.roles; index as i" [ngClass]="'col-' + i" class="text-center">
                <a (click)="onHideRole(item, i)"
                   class="remove-from-table"
                   href="javascript: void(0);">
                  {{item}}
                  <span class="material-icons">close</span>
                </a>
                <div class="text-center">
                  <mat-slide-toggle (change)="onCheckAll(i); isChanged(permissions);" [(ngModel)]="checkAll[i]">
                    {{'rolesManagement.permission.checkAll' | translate}}
                  </mat-slide-toggle>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of permissions">
              <td>{{item.privilegeKey}}</td>
              <td class="text-center text-muted">
                <mat-icon [matTooltip]="item.description" *ngIf="item?.description">
                  info
                </mat-icon>
              </td>
              <td>{{item.msName}}</td>
              <td *ngFor="let role of item.roles; index as i" [ngClass]="'col-' + i" class="text-center align-middle">
                <mat-checkbox (change)="isChanged(permissions)"
                              [(ngModel)]="role.value"
                              class="no-label-margin"></mat-checkbox>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row align-items-center list-pagination">
          <div class="col-auto mt-1 mb-1">
            <xm-per-page (onChange)="onChangePerPage()" [(itemsPerPage)]="itemsPerPage"></xm-per-page>
          </div>
          <div class="col-auto mt-1 mb-1">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
          </div>
          <div class="col-auto mt-1 mb-1">
            <ngb-pagination (pageChange)="onLoadPage(page)"
                            [(page)]="page"
                            [collectionSize]="totalItems"
                            [maxSize]="5"
                            [pageSize]="itemsPerPage">

            </ngb-pagination>
          </div>
          <div class="col-sm"></div>
          <div class="col-auto">
            <button (click)="onCancel()"
                    *permitted="'DASHBOARD.UPDATE'"
                    [disabled]="!hasChanges"
                    class="btn btn-default btn-sm mat-raised-button mr-1"
                    type="button">
              <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button (click)="onSave()"
                    *permitted="'DASHBOARD.UPDATE'"
                    [disabled]="!hasChanges"
                    class="btn btn-primary btn-sm mat-raised-button"
                    type="button">
              <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
