.tree {
  min-height: 32px;
}

.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}

.tree li::before, .tree li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto
}

.tree li::before {
  border-left: 1px solid #e0e0e0;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px
}

.tree li::after {
  border-top: 1px solid #e0e0e0;
  height: 20px;
  top: 30px;
  width: 25px
}

.tree li span {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
  text-decoration: none;
  background: #e0e0e0;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
}

.tree li span img {
  margin-top: -3px;
  margin-right: -15px;
}

.tree li span p {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.tree li span i {
  display: block;
  float: right;
  margin-top: 4px;
  margin-left: -15px;
}

.tree li > span {
  cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
  border: 0
}

.tree li:last-child::before {
  height: 32px
}

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
  background: #eee;
  color: #000
}
