<ul>
  <li *ngFor="let link of links">
    <span (click)="toggle(link)">
      <div *ngIf="link.target.avatarUrl" class="xm-avatar-img-container">
        <img src="{{link.target.avatarUrl}}">
      </div>
      <p>{{link.target.name}}</p>
      <i *ngIf="!link.target.targets" class="material-icons">keyboard_arrow_right</i>
    </span>
    <xm-link-list-tree-section *ngIf="filterByLinkType(link.target.targets).length > 0" [linkSpec]="linkSpec"
                               [links]="filterByLinkType(link.target.targets)">
    </xm-link-list-tree-section>
  </li>
</ul>
