<form>
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">
        <p jhiTranslate="xm.event.delete.question">
            Are you sure you want to delete this event?
        </p>
        <div class="row-md jh-entity-details">
            <div class="row">
                <div class="col-md-2">
                    <strong><span jhiTranslate="xm.xmEntity.type">Type</span>:</strong>
                </div>
                <div class="col-md-6">
                    <span>{{event.typeKey}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong><span jhiTranslate="xm.xmEntity.title">Title</span></strong>
                </div>
                <div class="col-md-6">
                    <span>{{event.title}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong><span jhiTranslate="xm.xmEntity.description">Description</span></strong>
                </div>
                <div class="col-md-6">
                    <span>{{event.description}}</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <strong><span jhiTranslate="xm.xmEntity.startDate">Start Date</span></strong>
                </div>
                <div class="col-md-6">
                    <span>{{event.startDate | date:'medium'}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <strong><span jhiTranslate="xm.xmEntity.endDate">End Date</span></strong>
                </div>
                <div class="col-md-6">
                    <span>{{event.endDate | date:'medium'}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button class="btn btn-danger" (click)="delete()">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>

</form>
