<div class="location-detail-dialog">
  <form (ngSubmit)="onConfirmSave()" *ngIf="xmEntity" [formGroup]="form">
    <div mat-dialog-title>
      <h4 class="modal-title text-left">
        <span jhiTranslate="{{form.value.id ? 'xm-entity.location-detail-dialog.edit.title' : 'xm-entity.location-detail-dialog.add.title'}}">
          {{ form.value.id ? 'Edit a location for the' : 'Add a new location for the' }}
        </span>

        [<b>{{xmEntity.name}}</b>]
      </h4>
    </div>

    <div mat-dialog-content>
      <xm-loader [showLoader]="showLoader"></xm-loader>

      <input
        *ngIf="form.value.id"
        formControlName="id"
        matInput
        readonly
        style="display: none"
        type="text"
      >

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select
              formControlName="typeKey"
              placeholder="{{'xm-entity.location-detail-dialog.choose-type' | translate}}"
            >
              <mat-option *ngFor="let locationSpec of locationSpecs" [value]="locationSpec.key">
                {{(locationSpec.name | i18nName: principal).toUpperCase()}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="name"
              matInput
              placeholder="{{'xm-entity.common.fields.name' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select
              formControlName="countryKey"
              placeholder="{{'xm-entity.location-detail-dialog.choose-country' | translate}}"
            >
              <ngx-mat-select-search
                [formControl]="formCountrySearch"
                [noEntriesFoundLabel]="'global.rest-select-placeholder-noresults' | translate"
                [placeholderLabel]="'global.rest-select-placeholder-search' | translate"
              ></ngx-mat-select-search>

              <mat-option *ngFor="let option of filteredCountryOptions | async" [value]="option.key">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="zip"
              matInput
              placeholder="{{'xm-entity.common.fields.zip' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="region"
              matInput
              placeholder="{{'xm-entity.common.fields.region' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="city"
              matInput
              placeholder="{{'xm-entity.common.fields.city' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="addressLine1"
              matInput
              placeholder="{{'xm-entity.common.fields.addressLine1' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="addressLine2"
              matInput
              placeholder="{{'xm-entity.common.fields.addressLine2' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-form-field>
            <input
              formControlName="latitude"
              matInput
              placeholder="{{'xm-entity.common.fields.latitude' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field>
            <input
              formControlName="longitude"
              matInput
              placeholder="{{'xm-entity.common.fields.longitude' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md-auto">
          <button
            (click)="applyCoordinates()"
            [disabled]="coordinatesInvalid"
            class="btn btn-primary btn-icon btn-just-icon btn-round"
            mat-icon-button
            type="button"
          >
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ng-template (gMapApiReady)="onAfterGMapApiInit()" xmGMapApiInit>
            <div class="location-detail-dialog__map"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="btn mr-1 ml-auto" data-dismiss="modal" mat-button type="button">
        <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
      </button>
      <button [disabled]="!form.valid || showLoader" color="primary" mat-button type="submit">
        <span jhiTranslate="xm-entity.common.save">Save</span>
      </button>
    </div>
  </form>
</div>
