<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">perm_data_setting</i>
        </div>
        <h4 class="card-title" jhiTranslate="formPlayground.definition">Definition</h4>
      </div>
      <div class="card-body">
        <div class="form-group">

          <mat-form-field>
            <mat-select #file
                        (selectionChange)="loadSelectedExample($event, file.value)"
                        placeholder="{{'rolesManagement.permission.msName' | translate}}">
              <mat-option disabled>
                {{'formPlayground.selectSchema' | translate}}
              </mat-option>
              <mat-option *ngFor="let schema of examples.schemas" [value]="schema.file">
                {{schema.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="isXmForm">
            <mat-form-field *ngIf="specs$ | async as fetchedSpecs;">
              <ng-container
                *ngIf="fetchedSpecs; then resultData; else noData"
              ></ng-container>
              <ng-template #resultData>
                <mat-select
                  (selectionChange)="onEntitySelect($event.value)"
                  [(ngModel)]="selectedSpec"
                  placeholder="{{'xm-entity.states-management-dialog.choose-state' | translate}}"
                >
                  <ngx-mat-select-search
                    [formControl]="formSpecSearch"
                    [placeholderLabel]="'global.rest-select-placeholder-search' | translate"
                    [noEntriesFoundLabel]="'global.rest-select-placeholder-noresults' | translate"
                  ></ngx-mat-select-search>

                  <mat-option *ngFor="let option of filteredSpecOptions$ | async" [value]="option.key">
                    {{ option.key }}
                  </mat-option>
                </mat-select>
              </ng-template>
              <ng-template #noData>
                <mat-card>No data</mat-card>
              </ng-template>
            </mat-form-field>

            <mat-form-field *ngIf="xmEntityForms$ | async as fetchedSpecs;">
              <ng-container
                *ngIf="fetchedSpecs; then resultData; else noData"
              ></ng-container>
              <ng-template #resultData>

                <mat-select (selectionChange)="onSpecSelect($event.value)">
                  <mat-option *ngFor="let option of fetchedSpecs" [value]="option">
                    {{ option.title }}
                  </mat-option>
                </mat-select>

              </ng-template>
              <ng-template #noData>
                <mat-card>No data</mat-card>
              </ng-template>
            </mat-form-field>
          </div>

        </div>

        <div *ngIf="formConfig$ | async as formConfig">
          <div xmAceEditor
               *ngIf="visible.schema"
               [text]="formConfig"
               [options]="aceEditorOptions"
               [readOnly]="false"
               [autoUpdateContent]="true"
               (textChanged)="generateForm($event)"
               style="width:100%; overflow: auto; border: 1px solid lightgray;">
            <span jhiTranslate="formPlayground.loading">(loading form specification...)</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">content_paste</i>
        </div>
        <h4 class="card-title" jhiTranslate="formPlayground.result">Result</h4>
      </div>
      <div class="card-body">
        <div *ngIf="!formActive">{{jsonFormStatusMessage}}</div>
        <!-- This is the form! -->
        <div class="image-container">
          <json-schema-form
            *ngIf="formActive"
            [framework]="'material-design'"
            [schema]="jsonFormObject.schema"
            [layout]="jsonFormObject.layout.form | i18nJsf"
            [data]="jsonFormObject.data"
            [options]="jsonFormObject.options | i18nJsf"
            [form]="jsonFormObject.form | i18nJsf"
            [widgets]="widgets"
            (formLayout)="formLayout()"
            (onChanges)="onChanges($event)"
            (onSubmit)="onSubmit($event)"
            (isValid)="isValid($event)"
            (validationErrors)="validationErrors($event)">
          </json-schema-form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">report</i>
        </div>
        <h4 class="card-title" jhiTranslate="formPlayground.output">Output</h4>
      </div>
      <div class="card-body">
        <div>
          <span jhiTranslate="formPlayground.valid">Valid?:</span>
          <strong *ngIf="formIsValid || prettyValidationErrors"
                  [class.text-success]="formIsValid"
                  [class.text-danger]="!formIsValid">
            {{formIsValid ? 'Yes' : 'No'}}
          </strong>
          <span *ngIf="!formIsValid && !prettyValidationErrors" jhiTranslate="formPlayground.na">n/a</span>
          <span *ngIf="prettyValidationErrors"
                jhiTranslate="formPlayground.errors">— errors from validationErrors():</span>
          <pre *ngIf="prettyValidationErrors" class="bg-danger">{{prettyValidationErrors}}</pre>
        </div>
        <div>
          <span jhiTranslate="formPlayground.liveData">Live data — from onChanges():</span>
          <pre
            [class.data-good]="!prettyValidationErrors && prettyLiveFormData !== '{}'"
            [class.data-bad]="prettyValidationErrors">{{prettyLiveFormData}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

  </div>
</div>
