<nav class="navbar navbar-transparent navbar-absolute" [ngSwitch]="isAuthenticated()">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only" jhiTranslate="navbar.toggleNotification">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button *ngSwitchCase="true" class="btn btn-round btn-white btn-fill btn-just-icon pull-left btn-back" (click)="onBack()">
                <i class="material-icons">arrow_back</i>
            </button>

            <p class="navbar-brand">{{ title || 'XM^online'}}</p>
        </div>
        <div class="collapse navbar-collapse">
            <div *ngIf="isMobileMenu()">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngSwitchCase="true" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">notifications</i>
                            <p class="hidden-lg hidden-md" jhiTranslate="navbar.notification">
                                Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLanguageMenuLink" data-toggle="dropdown">
                            <i class="material-icons">language</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let language of languages">
                                <a (click)="changeLanguage(language);">{{language | findLanguageFromKey}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <form *ngSwitchCase="true" class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                        <!-- FIXME: it should be used transliteration from resource file -->
                        <input #searchBox type="text" class="form-control"
                               placeholder="{{ {'en': 'Search', 'ru': 'Поиск' } | name :principal}}">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="search(searchBox.value)">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>