<div *ngIf="timelinePage && timelinePage.timelines?.length > 0" class="container-fluid">

  <div *ngIf="showTimelineHeader" class="header text-center">
    <h3 class="title text-muted" jhiTranslate="xm-timeline.timeline.title">Timeline</h3>
  </div>

  <div>

    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div style="display: flex; flex-direction: row; align-items: center;">
      <div *ngIf="filter?.states?.length" class="btn-group empty-style" style="margin-right: 20px">
        <button (click)="applyFastSearch('')"
                [class.disabled]="!currentSearch"
                class="btn btn-primary btn-sm"
                mat-button>
          <span jhiTranslate="global.all">All</span>
        </button>

        <button (click)="applyFastSearch(item.state)"
                *ngFor="let item of filter.states"
                [class.disabled]="currentSearch === item.state"
                class="btn btn-primary btn-sm"
                mat-button>
          {{item.name}}
        </button>
      </div>
    </div>

    <ul class="timeline timeline-simple">
      <li *ngFor="let tl of timelinePage.timelines"
          class="timeline-inverted">

        <div class="timeline-badge primary">
          <i class="material-icons">history</i>
        </div>

        <div class="timeline-panel">

          <div class="timeline-heading">
            <h6>
              {{tl.operationName}} {{timeAgo(tl.startDate)}}
              <span jhiTranslate="xm-timeline.timeline.by">by</span>
              {{tl.login}}
            </h6>
            <span *ngIf="tl.httpStatusCode < 300" class="badge badge-success"
                  jhiTranslate="xm-timeline.timeline.success">
              SUCCESS
            </span>
            <span *ngIf="tl.httpStatusCode >= 300" class="badge badge-danger"
                  jhiTranslate="xm-timeline.timeline.error">
              ERROR
            </span>&nbsp;
            <span class="badge badge-primary">{{tl.startDate | date:'dd/MM/yy HH:mm'}}</span>&nbsp;
            <span class="badge badge-primary">{{tl.browser}}</span>&nbsp;
            <span class="badge badge-primary">{{tl.opSystem}}</span>&nbsp;
            <span class="badge badge-primary">{{tl.requestHeaders['x-forwarded-for']}}</span>&nbsp;
          </div>

          <div *ngIf="!template && (tl.requestBody || tl.responseBody)" class="timeline-body">
            <span>{{tl.requestBody}}</span>&nbsp;
            <span>{{tl.responseBody}}</span>
          </div>

          <div *ngIf="template" [innerHTML]="template(tl)"
               class="timeline-body">
          </div>

        </div>

      </li>
    </ul>

    <button (click)="onNextPage(timelinePage.next)"
            *ngIf="timelinePage.next"
            [disabled]="showLoader"
            class="btn btn-primary rounded-circle"
            type="submit">
      <span jhiTranslate="xm-timeline.timeline.more">more timeline events...</span>
    </button>

  </div>

</div>
