<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">security</i>
        </div>
        <h4 class="card-title" jhiTranslate="reset.request.title">Reset your password</h4>
      </div>

      <div class="card-body">
        <div class="alert alert-danger"
             [innerHTML]="'reset.request.messages.notfound' | translate"
             *ngIf="errorEmailNotExists"></div>

        <div class="alert alert-primary" *ngIf="!success">
          <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
        </div>

        <div class="alert alert-success" *ngIf="success == 'OK'">
          <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your
            password.</span>
        </div>

        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="email"
                     name="email"
                     minlength=5
                     maxlength=100
                     [(ngModel)]="resetAccount.email"
                     #emailInput="ngModel"
                     #emailInputElement="matInput"
                     required
                     placeholder="{{'global.form.email' | translate}}">

              <mat-error *ngIf="emailInput.hasError('required')">
                <span jhiTranslate="global.messages.validate.email.required">Your email is required.</span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('invalid')">
                <span jhiTranslate="global.messages.validate.email.invalid">Your email is invalid.</span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('minlength')">
                <span jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('maxlength')">
                <span jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 100 characters.
                </span>
              </mat-error>
            </mat-form-field>
          </div>

          <button type="submit" [disabled]="resetRequestForm.form.invalid" color="primary"
                  mat-button
                  jhiTranslate="reset.request.form.button">Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
