$xm-sidebar-background: #fff !default;
$xm-sidebar-width:      260px !default;
$xm-sidebar-mini-width: 80px !default;
$xm-sidebar-z-index:    $zindex-fixed !default;
$xm-sidebar-transition: 300ms cubic-bezier(0.685, 0.0473, 0.346, 1) !default;

// @todo: take from global variables
$breakpoint-tablet:     991px !default;

@mixin main-with-sidebar-mini {
  @at-root .sidebar-mini {
    .sidebar:not(:hover) { @content; }
  }
}

@mixin main-with-sidebar {
  .nav-open { @content; }
  @media (min-width: $breakpoint-tablet) { @content; }
}

@mixin main-without-sidebar {
  :not(.nav-open) { @content; }
  @media (min-width: $breakpoint-tablet) { @content; }
}


@mixin main-without-sidebar-mini {
  :not(.sidebar-mini) { @content; }
}


@mixin sidebar() {

  .sidebar {
    position:   fixed;
    bottom:     0;
    left:       0;
    top:        0;
    background: $xm-sidebar-background;
    width:      $xm-sidebar-width;
    z-index:    $xm-sidebar-z-index;
    display:    block;
    height:     100vh;

    @include transition(width $xm-sidebar-transition);
  }

  @media (max-width: $breakpoint-tablet) {
    .sidebar {
      left:  auto;
      right: 0;

      @include transition($xm-sidebar-transition);
      @include transform(translate3d($xm-sidebar-width, 0, 0));
    }

    .nav-open .sidebar {
      @include transform(translate3d(0, 0, 0));
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .sidebar-mini .sidebar:not(:hover) {
      width: $xm-sidebar-mini-width;
    }
  }

  // utils
  // @todo:
  .perfect-scrollbar-on {
    .sidebar,
    .main-panel {
      height:     100%;
      max-height: 100%;
    }
  }


  .visible-on-sidebar-mini {
    display: none;
  }

  .visible-on-sidebar-regular {
    display: inline-block;
  }

  .sidebar-mini {
    .visible-on-sidebar-mini {
      display: inline-block;
    }

    .visible-on-sidebar-regular {
      display: none;
    }
  }


}

@mixin main-panel() {

  .main-panel {
    float:    right;
    position: relative;
    width:    calc(100% - #{$xm-sidebar-width});

    @include transition($xm-sidebar-transition);
  }

  @media (min-width: $breakpoint-tablet) {
    .sidebar-mini .main-panel {
      width: calc(100% - #{$xm-sidebar-mini-width});
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .main-panel {
      width: 100%;
    }

    .nav-open .main-panel {
      left: 0;
      @include transform(translate3d(-$xm-sidebar-width, 0, 0));
    }
  }

}

@mixin xm-layout-sidebar-with-mini() {
  @include sidebar();
  @include main-panel();
}

@include xm-layout-sidebar-with-mini();
