<xm-page-ribbon></xm-page-ribbon>

<xm-alerts></xm-alerts>
<xm-alert-error></xm-alert-error>
<xm-password-needed></xm-password-needed>
<xm-maintenance-view [show]="isMaintenanceProgress$ | async"></xm-maintenance-view>
<div [class.has-ackground]="guestBg"
     [class.xm-guest-layout]="isGuestLayout"
     [style.backgroundImage]="guestBg"
     class="wrapper">
  <xm-loader [absolute]="true" [showLoader]="!(resolved$ | async)"></xm-loader>
  <div class="sidebar" data-background-color="" data-color="white">
    <xm-sidebar-cmp></xm-sidebar-cmp>
    <div class="sidebar-background"></div>
  </div>

  <div *ngIf="resolved$ | async" class="main-panel">
    <router-outlet name="navbar"></router-outlet>
    <div class="main-content">
      <div [class]="isGuestLayout ? 'container' : 'container-fluid'">
        <router-outlet></router-outlet>
      </div>
    </div>
    <router-outlet name="popup"></router-outlet>
    <xm-footer></xm-footer>
  </div>
</div>
