<xm-page-ribbon></xm-page-ribbon>

<xm-alerts></xm-alerts>
<xm-alert-error></xm-alert-error>
<xm-password-needed></xm-password-needed>
<xm-maintenance-view [show]="isMaintenanceProgress$ | async"></xm-maintenance-view>
<div class="wrapper"
     [ngClass]="{'xm-guest-layout': isGuestLayout, 'has-ackground' : guestBg}"
     [style.backgroundImage]="guestBg">
  <xm-loader [showLoader]="!(resolved$ | async)" [absolute]="true"></xm-loader>
  <div class="sidebar" data-color="white" data-background-color="">
    <xm-sidebar-cmp></xm-sidebar-cmp>
    <div class="sidebar-background"></div>
  </div>

  <div class="main-panel" *ngIf="resolved$ | async">
    <router-outlet name="navbar"></router-outlet>
    <div class="main-content">
      <div [class]="isGuestLayout ? 'container' : 'container-fluid'">
        <router-outlet></router-outlet>
      </div>
    </div>
    <router-outlet name="popup"></router-outlet>
    <xm-footer></xm-footer>
  </div>
</div>
