<xm-page-ribbon></xm-page-ribbon>

<xm-alerts></xm-alerts>
<xm-alert-error></xm-alert-error>

<div class="wrapper">
    <div class="sidebar" data-active-color="white" data-background-color="white">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
        <router-outlet name="navbar"></router-outlet>
        <div class="main-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <router-outlet name="popup"></router-outlet>
        <xm-footer></xm-footer>
    </div>
</div>
