<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">security</i>
        </div>
        <h4 class="card-title" jhiTranslate="password.title"
            translateValues="{username: '{{account.firstName +' '+ (account.lastName ? account.lastName: '')}}'}"
            *ngIf="account">Password for [<b>{{account.lastName}}</b>]</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
          <strong>Password changed!</strong>
        </div>
        <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
          <strong>An error has occurred!</strong> The password could not be changed.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input matInput
                     id="oldPassword"
                     name="oldPassword"
                     #oldPasswordInput="ngModel"
                     [placeholder]="'global.form.oldpassword' | translate"
                     [type]="isShowPassword ? 'text' : 'password'"
                     [(ngModel)]="password.oldPassword"
                     required>
              <button mat-button
                      type="button"
                      class="p-0 toggle-pass"
                      matSuffix
                      title="{{isShowPassword ? ('login.form.hide-password' | translate) : ('global.form.show-password' | translate)}}"
                      (click)="isShowPassword = !isShowPassword">
                <mat-icon>{{isShowPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="oldPasswordInput.hasError('required')">
                {{'global.messages.validate.oldpassword.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input [placeholder]="'global.form.newpassword' | translate"
                     matInput
                     id="newPassword"
                     name="password"
                     #passwordInput="ngModel"
                     [type]="isShowNewPassword ? 'text' : 'password'"
                     [(ngModel)]="password.newPassword"
                     [minlength]="passwordSettings?.minLength"
                     [maxlength]="passwordSettings?.maxLength"
                     [pattern]="passwordSettings?.pattern"
                     required>
              <button mat-button
                      type="button"
                      class="p-0 toggle-pass"
                      matSuffix
                      title="{{isShowNewPassword ? ('login.form.hide-password' | translate) : ('global.form.show-password' | translate)}}"
                      (click)="isShowNewPassword = !isShowNewPassword">
                <mat-icon>{{isShowNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="passwordInput.hasError('required')">
                {{'global.messages.validate.newpassword.required' | translate}}
              </mat-error>
              <mat-error *ngIf="passwordInput.hasError('minlength')">
                {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error *ngIf="passwordInput.hasError('maxlength')">
                {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error
                *ngIf="passwordInput.hasError('pattern') && !(passwordInput.hasError('maxlength') || passwordInput.hasError('minlength'))">
                <span *ngIf="!passwordSettings.patternMessage">
                  {{'global.messages.validate.newpassword.password-pattern' | translate: passwordSettings}}
                </span>
                <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
              </mat-error>
            </mat-form-field>

            <xm-password-strength-bar [passwordToCheck]="password.newPassword"></xm-password-strength-bar>
          </div>
          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input matInput
                     placeholder="{{'global.form.confirmpassword' | translate}}"
                     type="password"
                     id="confirmPassword"
                     name="confirmPassword"
                     #confirmPasswordInput="ngModel"
                     [(ngModel)]="password.confirmNewPassword"
                     [minlength]="passwordSettings?.minLength"
                     [maxlength]="passwordSettings?.maxLength"
                     [pattern]="passwordSettings?.pattern"
                     required>
              <mat-error *ngIf="confirmPasswordInput.hasError('required')">
                {{'global.messages.validate.confirmpassword.required' | translate}}
              </mat-error>
              <mat-error *ngIf="confirmPasswordInput.hasError('minlength')">
                {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error *ngIf="confirmPasswordInput.hasError('maxlength')">
                {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error
                *ngIf="confirmPasswordInput.hasError('pattern') &&
        !(confirmPasswordInput.hasError('minlength') || confirmPasswordInput.hasError('maxlength'))">
                <span *ngIf="!passwordSettings.patternMessage">
                  {{'global.messages.validate.confirmpassword.password-pattern' | translate: passwordSettings}}
                </span>
                <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="text-right">
            <button mat-raised-button
                    type="submit"
                    [disabled]="passwordForm.form.invalid"
                    class="btn btn-primary">
              {{'password.form.button' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
