<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">security</i>
        </div>

        <h4 *ngIf="account"
            class="card-title"
            [innerHTML]="'password.title' | translate: {username: account.firstName + ' ' + (account.lastName ? account.lastName : '')}">
        </h4>

      </div>
      <div class="card-body">
        <div *ngIf="success" [innerHTML]="'password.messages.success' | translate" class="alert alert-success"></div>
        <div *ngIf="error" [innerHTML]="'password.messages.error' | translate" class="alert alert-danger"></div>
        <div *ngIf="doNotMatch" [innerHTML]="'global.messages.error.dontmatch' | translate"
             class="alert alert-danger"></div>

        <form #passwordForm="ngForm" (ngSubmit)="changePassword()" name="form" role="form">
          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input #oldPasswordInput="ngModel"
                     [(ngModel)]="password.oldPassword"
                     [placeholder]="'global.form.oldpassword' | translate"
                     [type]="isShowPassword ? 'text' : 'password'"
                     id="oldPassword"
                     matInput
                     name="oldPassword"
                     required>
              <button (click)="isShowPassword = !isShowPassword"
                      class="p-0 toggle-pass"
                      mat-button
                      matSuffix
                      title="{{isShowPassword ? ('login.form.hide-password' | translate) : ('global.form.show-password' | translate)}}"
                      type="button">
                <mat-icon>{{isShowPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="oldPasswordInput.hasError('required')">
                {{'global.messages.validate.oldpassword.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input #passwordInput="ngModel"
                     [(ngModel)]="password.newPassword"
                     [maxlength]="passwordSettings?.maxLength"
                     [minlength]="passwordSettings?.minLength"
                     [pattern]="passwordSettings?.pattern"
                     [placeholder]="'global.form.newpassword' | translate"
                     [type]="isShowNewPassword ? 'text' : 'password'"
                     id="newPassword"
                     matInput
                     name="password"
                     required>
              <button (click)="isShowNewPassword = !isShowNewPassword"
                      class="p-0 toggle-pass"
                      mat-button
                      matSuffix
                      title="{{isShowNewPassword ? ('login.form.hide-password' | translate) : ('global.form.show-password' | translate)}}"
                      type="button">
                <mat-icon>{{isShowNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="passwordInput.hasError('required')">
                {{'global.messages.validate.newpassword.required' | translate}}
              </mat-error>
              <mat-error *ngIf="passwordInput.hasError('minlength')">
                {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error *ngIf="passwordInput.hasError('maxlength')">
                {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error
                *ngIf="passwordInput.hasError('pattern') && !(passwordInput.hasError('maxlength') || passwordInput.hasError('minlength'))">
                <span *ngIf="!passwordSettings.patternMessage">
                  {{'global.messages.validate.newpassword.password-pattern' | translate: passwordSettings}}
                </span>
                <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
              </mat-error>
            </mat-form-field>

            <xm-password-strength-bar [passwordToCheck]="password.newPassword"></xm-password-strength-bar>
          </div>
          <div class="form-group">
            <mat-form-field [floatLabel]="'always'">
              <input #confirmPasswordInput="ngModel"
                     [(ngModel)]="password.confirmNewPassword"
                     [maxlength]="passwordSettings?.maxLength"
                     [minlength]="passwordSettings?.minLength"
                     [pattern]="passwordSettings?.pattern"
                     id="confirmPassword"
                     matInput
                     name="confirmPassword"
                     placeholder="{{'global.form.confirmpassword' | translate}}"
                     required
                     type="password">
              <mat-error *ngIf="confirmPasswordInput.hasError('required')">
                {{'global.messages.validate.confirmpassword.required' | translate}}
              </mat-error>
              <mat-error *ngIf="confirmPasswordInput.hasError('minlength')">
                {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error *ngIf="confirmPasswordInput.hasError('maxlength')">
                {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
              </mat-error>
              <mat-error
                *ngIf="confirmPasswordInput.hasError('pattern') &&
        !(confirmPasswordInput.hasError('minlength') || confirmPasswordInput.hasError('maxlength'))">
                <span *ngIf="!passwordSettings.patternMessage">
                  {{'global.messages.validate.confirmpassword.password-pattern' | translate: passwordSettings}}
                </span>
                <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="text-right">
            <button [disabled]="passwordForm.form.invalid"
                    class="btn"
                    mat-button
                    type="submit">
              {{'password.form.button' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
