.share-container .xm-sb-caption {
  display: inline-block; }

.one-col .widget-col {
  width: 100% !important; }

.entity-list-json-form submit-widget {
  display: none; }

.btn-back {
  margin-left: 15px; }

.navbar .navbar-minimize {
  padding: 0 0 0 15px; }

.xm-disabled {
  user-select: none !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed !important; }

.xm-animate,
.xm-animate-hide {
  transition-property: -webkit-transform,transform,opacity;
  -webkit-transform-origin: center top;
  transform-origin: center top; }

.xm-animate {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0) scale(0.9);
  transform: translate3d(0, -10px, 0) scale(0.9);
  transition: cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s; }
  .xm-animate.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1); }

.xm-animate-hide {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }
  .xm-animate-hide.ng-hide {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0) scale(0.9);
    transform: translate3d(0, -10px, 0) scale(0.9);
    transition: cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s; }

.editor-toolbar,
.CodeMirror-wrap {
  z-index: 1111 !important; }

.editor-toolbar .fa-question-circle {
  display: none; }

.wdt-md:not(.wdt-md-edit) .editor-toolbar,
.wdt-md:not(.wdt-md-edit) .editor-statusbar {
  display: none; }

.ng2-tag-input {
  border-bottom: none !important; }

/**
 XM tree view
 */
.tree {
  min-height: 32px; }

.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative; }

.tree li::before, .tree li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto; }

.tree li::before {
  border-left: 1px solid #e0e0e0;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px; }

.tree li::after {
  border-top: 1px solid #e0e0e0;
  height: 20px;
  top: 30px;
  width: 25px; }

.tree li span {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
  text-decoration: none;
  background: #e0e0e0;
  font-size: 13px;
  height: 32px;
  line-height: 32px; }

.tree li span img {
  margin-top: -3px;
  margin-right: -15px; }

.tree li span p {
  display: inline;
  margin-left: 15px;
  margin-right: 15px; }

.tree li span i {
  display: block;
  float: right;
  margin-top: 4px;
  margin-left: -15px; }

.tree li > span {
  cursor: pointer; }

.tree > ul > li::before, .tree > ul > li::after {
  border: 0; }

.tree li:last-child::before {
  height: 32px; }

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
  background: #eee;
  color: #000; }

/**
 XM voucher
 */
.voucher {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 350px;
  height: 200px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.06);
  border: 0 none;
  border-radius: 10px;
  padding: 0; }

.voucher-header {
  height: 30px; }

.voucher-secret-line {
  background: #616161; }

.voucher-secret-line > span > input {
  width: 150px;
  color: #FFFFFF;
  background: #616161;
  border: 0px; }

.voucher-footer {
  height: 110px; }

.voucher-unknown {
  background: #E0E0E0; }

.voucher-success {
  background: #80CBC4; }

.voucher-error {
  background: #EF9A9A; }

.shell {
  position: relative;
  line-height: 1; }

.shell span {
  position: absolute;
  left: 3px;
  top: 1px;
  color: #ccc;
  pointer-events: none;
  z-index: -1; }

.shell span i {
  font-style: normal;
  /* any of these 3 will work */
  color: transparent;
  opacity: 0;
  visibility: hidden; }

input.masked,
.shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase; }

/**
 XM fab speed dial
 */
*, :before, :after {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: inherit;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }

body {
  box-sizing: border-box; }

.xm-fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  text-align: center; }

.xm-fab button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition-property: box-shadow, opacity, -webkit-transform;
  transition-property: box-shadow, opacity, -webkit-transform;
  transition-property: box-shadow, opacity, transform;
  transition-property: box-shadow, opacity, transform, -webkit-transform; }

.xm-fab button.xm-fab-button {
  width: 56px;
  height: 56px;
  color: white;
  background-color: #009587;
  z-index: 1; }

.xm-fab button i {
  margin-top: 6px; }

.xm-fab button.xm-fab-option {
  width: 40px;
  height: 40px;
  color: grey;
  background-color: #E0E0E0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }

.xm-fab button.xm-fab-option:nth-last-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms; }

.xm-fab button.xm-fab-option:nth-last-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }

.xm-fab button.xm-fab-option:nth-last-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms; }

.xm-fab button.xm-fab-option:nth-last-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms; }

.xm-fab button.xm-fab-option:nth-last-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms; }

.xm-fab button.xm-fab-option:nth-last-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms; }

.xm-fab button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.xm-fab button:active, .xm-fab button:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.xm-fab:hover .xm-fab-option, .xm-fab:focus .xm-fab-option {
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.lot-countdown {
  margin: 9px auto;
  text-align: center; }
  .lot-countdown .bloc-time {
    margin-right: 9px;
    text-align: center;
    display: inline-block; }
    .lot-countdown .bloc-time:last-child {
      margin-right: 0; }
  .lot-countdown .count-title {
    display: block;
    margin-bottom: 6px;
    font-size: 9px;
    line-height: 14px;
    color: #1a1a1a;
    text-transform: uppercase; }
  .lot-countdown .figure {
    position: relative;
    float: left;
    height: 22px;
    width: 20px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #fff;
    border-radius: 1.6px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08); }
    .lot-countdown .figure > span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 20px;
      line-height: 22px;
      font-weight: 200;
      color: #009688; }
    .lot-countdown .figure .top:after, .lot-countdown .figure .bottom-back:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .lot-countdown .figure .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      -webkit-transform: perspective(200px);
      transform: perspective(200px); }
    .lot-countdown .figure .bottom {
      z-index: 1; }
      .lot-countdown .figure .bottom:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.02); }
    .lot-countdown .figure .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .lot-countdown .figure .bottom-back span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .lot-countdown .figure .top, .lot-countdown .figure .top-back {
      height: 50%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .lot-countdown .figure .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      transform-origin: 50% 0;
      -webkit-transform: perspective(200px) rotateX(180deg);
      transform: perspective(200px) rotateX(180deg);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
      .lot-countdown .figure .top-back span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block; }

.carousel-item-next, .carousel-item-prev {
  position: absolute;
  top: 0; }

.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

@supports (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d) {
  .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.active.carousel-item-right, .carousel-item-next {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

@supports (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d) {
  .active.carousel-item-right, .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
.active.carousel-item-left, .carousel-item-prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

@supports (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d) {
  .active.carousel-item-left, .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5; }

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat 50%;
  background-size: 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5); }

.carousel-indicators li:before {
  top: -10px; }

.carousel-indicators li:after, .carousel-indicators li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: ""; }

.carousel-indicators li:after {
  bottom: -10px; }

.carousel-indicators .active {
  background-color: #fff; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

.carousel-indicators .active {
  width: 30px;
  height: 3px;
  margin: 1px 3px; }

.schema-battery {
  border: 3px solid #777;
  width: 50px;
  height: 25px;
  padding: 2px;
  border-radius: 4px;
  position: relative; }
  .schema-battery:before {
    content: '';
    height: 19px;
    width: 4px;
    background: #777;
    display: block;
    position: absolute;
    top: 0;
    right: -7px;
    border-radius: 0 4px 4px 0; }
  .schema-battery:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #fff;
    border-radius: 2px; }

.schema-battery-level {
  background: #30b455;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 2px; }
  .schema-battery-level.battery-warn {
    background-color: #EFAF13; }
  .schema-battery-level.battery-alert {
    background-color: #e81309; }

/*# sourceMappingURL=main.css.map */
