<div mat-dialog-title>
  <h4 class="modal-title text-left">
    <span jhiTranslate="xm-entity.calendar-event-dialog.title">Add new event for the</span> [<b>{{xmEntity.name}}</b>]
  </h4>
</div>

<div mat-dialog-content>
  <form #eventForm="ngForm" (ngSubmit)="onConfirmSave()" class="m-0" name="eventForm" novalidate role="form">
    <xm-loader [showLoader]="showLoader"></xm-loader>

    <div class="form-group">
      <mat-form-field>
        <mat-select #eventType="ngModel"
                    [(ngModel)]="event.typeKey"
                    name="typeKey"
                    placeholder="{{'xm-entity.calendar-event-dialog.choose-type' | translate}}"
                    required>
          <mat-option *ngFor="let eventSpec of calendarSpec.events"
                      [selected]="event && eventSpec.key == event.typeKey ? true : null"
                      [value]="eventSpec.key">
            <span [style.borderColor]="eventSpec.color">{{eventSpec?.name | i18nName: principal | uppercase}}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="eventType.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <input #eventStartDate="ngModel"
                   [(ngModel)]="event.startDate"
                   id="field_startDate"
                   matInput
                   name="startDate"
                   placeholder="{{'xm-entity.common.fields.start-date' | translate}}"
                   required
                   type="datetime-local">
            <mat-error *ngIf="eventStartDate.hasError('required')">
              <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
            </mat-error>
            <mat-error *ngIf="eventStartDate.hasError('ZonedDateTimelocal')">
              <span jhiTranslate="xm-entity.common.validation.date-time">This field should be a date and time.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <input #eventEndDate="ngModel"
                   [(ngModel)]="event.endDate"
                   id="field_endDate"
                   matInput
                   name="endDate"
                   placeholder="{{'xm-entity.common.fields.end-date' | translate}}"
                   required
                   type="datetime-local">
            <mat-error *ngIf="eventEndDate.hasError('required')">
              <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
            </mat-error>
            <mat-error *ngIf="eventEndDate.hasError('ZonedDateTimelocal')">
              <span jhiTranslate="xm-entity.common.validation.date-time">This field should be a date and time.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input #eventTitle="ngModel"
               [(ngModel)]="event.title"
               id="field_title"
               matInput
               name="title"
               placeholder="{{'xm-entity.common.fields.title' | translate}}"
               required
               type="text">
        <mat-error *ngIf="eventTitle.hasError('required')">
          <span jhiTranslate="xm-entity.common.validation.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea [(ngModel)]="event.description"
                  id="field_description"
                  matInput
                  name="description"
                  placeholder="{{'xm-entity.common.fields.description' | translate}}"
                  rows="4">
        </textarea>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button (click)="onCancel()"
          class="btn mr-1 ml-auto"
          data-dismiss="modal"
          mat-button
          type="button">
    <span jhiTranslate="xm-entity.common.cancel">Cancel</span>
  </button>

  <button [disabled]="eventForm.form.invalid || showLoader"
          class="btn"
          (click)="onConfirmSave()"
          mat-button
          color="primary"
          type="submit">
    <span jhiTranslate="xm-entity.common.save">Save</span>
  </button>
</div>
