@import '../sidebar';
@import '../menu/menu';

$icon-size:              42px !default;
$icon-size-x:            $icon-size !default;
$icon-size-y:            $icon-size !default;

$user-img-border:        solid 1px #fff !default;
$user-img-border-radius: 50% !default;

@mixin user-theme($theme) {
  .user-img {
    height:        $icon-size-y;
    width:         $icon-size-x;
    min-width:     $icon-size-x;
    border:        $user-img-border;
    border-radius: $user-img-border-radius;
  }

  .user-title {
    display:        flex;
    flex-direction: row;
    align-items:    center;
    vertical-align: center;
    padding:        $menu-item-padding-y $sidebar-padding-x;

    @include menu-link();
  }
  .user-name {
    padding-left:  $sidebar-padding-x;
    font-size:     $xm-font-size-sm;
    color:         $xm-sidebar-color;
    font-weight:   $xm-font-weight;
    text-overflow: ellipsis;
    overflow:      hidden;
    white-space:   nowrap;
  }

}


::ng-deep {
  @include user-theme($xm-theme);
}
