<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">security</i>
        </div>
        <h4 class="card-title" [jhiTranslate]="config.formTitle">Reset password</h4>
      </div>

      <div class="card-body">
        <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="keyMissing">
          <strong>The password reset key is missing.</strong>
        </div>

        <div class="alert alert-warning" *ngIf="!success && !keyMissing && !keyExpired && !keyUsed">
          <span [jhiTranslate]="config.formMessageInfo">Choose a new password</span>
        </div>

        <div class="alert alert-danger" *ngIf="error && !keyExpired && !keyUsed">
          <span [jhiTranslate]="config.formMessageError">
            Your password couldn't be reset. Remember a password request is only valid for 24 hours.
          </span>
        </div>

        <div class="alert alert-danger" *ngIf="keyExpired">
          <p jhiTranslate="reset.finish.messages.keyexpired" class="m-0">
            The reset request key is expired.
          </p>
        </div>

        <div class="alert alert-danger" *ngIf="keyUsed">
          <p jhiTranslate="reset.finish.messages.keyused" class="m-0">
            The reset request key is already used.
          </p>
        </div>

        <div class="alert alert-success" *ngIf="success">
          <span [jhiTranslate]="config.formMessageSuccess">
          <strong>Your password has been reset.</strong> Please </span>
          &nbsp;
          <a class="alert-link" (click)="login()" jhiTranslate="global.form.signin">sign in</a>.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <div *ngIf="!keyMissing && !keyExpired && !keyUsed">
          <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
            <div class="form-group">
              <mat-form-field>
                <input matInput
                       type="password"
                       name="password"
                       minlength=4
                       maxlength=50
                       [(ngModel)]="resetAccount.password"
                       #passwordInput="ngModel"
                       required
                       placeholder="{{'global.form.newpassword' | translate}}">
                <mat-error *ngIf="passwordInput.hasError('required')">
                  <span jhiTranslate="global.messages.validate.newpassword.required">
                    Your password is required.
                  </span>
                </mat-error>
                <mat-error *ngIf="passwordInput.hasError('minlength')">
                  <span jhiTranslate="global.messages.validate.newpassword.minlength">
                   Your password is required to be at least 4 characters.
                  </span>
                </mat-error>
                <mat-error *ngIf="passwordInput.hasError('maxlength')">
                  <span jhiTranslate="global.messages.validate.newpassword.maxlength">
                    Your password cannot be longer than 50 characters.
                  </span>
                </mat-error>
              </mat-form-field>
              <xm-password-strength-bar [passwordToCheck]="resetAccount.password"></xm-password-strength-bar>
            </div>

            <div class="form-group">
              <mat-form-field>
                <input matInput
                       type="password"
                       name="confirmPassword"
                       [(ngModel)]="confirmPassword"
                       #confirmPasswordInput="ngModel"
                       minlength=4
                       maxlength=50
                       required
                       placeholder="{{'global.form.confirmpassword' | translate}}">
                <mat-error *ngIf="confirmPasswordInput.hasError('required')">
                  <span jhiTranslate="global.messages.validate.confirmpassword.required">
                    Your password confirmation is required.
                  </span>
                </mat-error>
                <mat-error *ngIf="confirmPasswordInput.hasError('minlength')">
                  <span jhiTranslate="global.messages.validate.confirmpassword.minlength">
                   Your password confirmation is required to be at least 4 characters.
                  </span>
                </mat-error>
                <mat-error *ngIf="confirmPasswordInput.hasError('maxlength')">
                  <span jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                    Your password confirmation cannot be longer than 50 characters.
                  </span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="col"></div>
              <div class="col-auto">
                <button
                  type="submit"
                  [disabled]="passwordForm.form.invalid"
                  class="btn btn-primary"
                  [jhiTranslate]="config.formButtonLabel"
                >Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
