<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">security</i>
        </div>
        <h4 class="card-title" [jhiTranslate]="config.formTitle">Reset password</h4>
      </div>

      <div class="card-body">
        <div class="alert alert-danger"
             [innerHTML]="'reset.finish.messages.keymissing' | translate"
             *ngIf="keyMissing"></div>

        <div class="alert alert-warning" *ngIf="!success && !keyMissing && !keyExpired && !keyUsed">
          <span [jhiTranslate]="config.formMessageInfo">Choose a new password</span>
        </div>

        <div class="alert alert-danger" *ngIf="error && !keyExpired && !keyUsed">
          <span [jhiTranslate]="config.formMessageError">
            Your password couldn't be reset. Remember a password request is only valid for 24 hours.
          </span>
        </div>

        <div class="alert alert-danger" *ngIf="keyExpired">
          <p jhiTranslate="reset.finish.messages.keyexpired" class="m-0">
            The reset request key is expired.
          </p>
        </div>

        <div class="alert alert-danger" *ngIf="keyUsed">
          <p jhiTranslate="reset.finish.messages.keyused" class="m-0">
            The reset request key is already used.
          </p>
        </div>

        <div class="alert alert-success" *ngIf="success">
          <span [innerHTML]="config.formMessageSuccess | translate"></span>
          <a class="alert-link"
             href="javascript: void(0);"
             (click)="login()">{{'global.form.signin' | translate}}</a>.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <div *ngIf="!keyMissing && !keyExpired && !keyUsed">
          <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
            <div class="form-group">
              <mat-form-field>
                <input matInput
                       type="password"
                       name="password"
                       [minlength]="passwordSettings?.minLength"
                       [maxlength]="passwordSettings?.maxLength"
                       [pattern]="passwordSettings?.pattern"
                       [(ngModel)]="resetAccount.password"
                       #passwordInput="ngModel"
                       #passwordInputElement="matInput"
                       required
                       placeholder="{{'global.form.newpassword' | translate}}">
                <mat-error *ngIf="passwordInput.hasError('required')">
                  {{'global.messages.validate.newpassword.required' | translate}}
                </mat-error>
                <mat-error *ngIf="passwordInput.hasError('minlength')">
                  {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
                </mat-error>
                <mat-error *ngIf="passwordInput.hasError('maxlength')">
                  {{'global.messages.validate.newpassword.password-min-length' | translate: passwordSettings}}
                </mat-error>
                <mat-error *ngIf="passwordInput.hasError('pattern') &&
                                    !(passwordInput.hasError('maxlength') || passwordInput.hasError('minlength'))">
                  <span *ngIf="!passwordSettings.patternMessage">
                    {{'global.messages.validate.newpassword.password-pattern' | translate: passwordSettings}}
                  </span>
                  <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
                </mat-error>
              </mat-form-field>
              <xm-password-strength-bar [passwordToCheck]="resetAccount.password"></xm-password-strength-bar>
            </div>

            <div class="form-group">
              <mat-form-field>
                <input matInput
                       type="password"
                       name="confirmPassword"
                       [(ngModel)]="confirmPassword"
                       #confirmPasswordInput="ngModel"
                       [minlength]="passwordSettings?.minLength"
                       [maxlength]="passwordSettings?.maxLength"
                       [pattern]="passwordSettings?.pattern"
                       required
                       placeholder="{{'global.form.confirmpassword' | translate}}">
                <mat-error *ngIf="confirmPasswordInput.hasError('required')">
                  <span jhiTranslate="global.messages.validate.confirmpassword.required">
                    Your password confirmation is required.
                  </span>
                </mat-error>
                <mat-error *ngIf="confirmPasswordInput.hasError('minlength')">
                  {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
                </mat-error>
                <mat-error *ngIf="confirmPasswordInput.hasError('maxlength')">
                  {{'global.messages.validate.confirmpassword.password-min-length' | translate: passwordSettings}}
                </mat-error>
                <mat-error *ngIf="confirmPasswordInput.hasError('pattern') &&
                                  !(confirmPasswordInput.hasError('minlength') ||
                                  confirmPasswordInput.hasError('maxlength'))">
                  <span *ngIf="!passwordSettings.patternMessage">
                    {{'global.messages.validate.confirmpassword.password-pattern' | translate: passwordSettings}}
                  </span>
                  <span *ngIf="passwordSettings.patternMessage && patternMessage">{{patternMessage}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="col"></div>
              <div class="col-auto">
                <button
                  type="submit"
                  mat-button
                  [disabled]="passwordForm.form.invalid"
                  color="primary"
                  [jhiTranslate]="config.formButtonLabel"
                >Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
