.share-container {

  .xm-sb-caption {
    display: inline-block;
  }
}

.one-col {
  .widget-col {
    width: 100% !important;
  }
}

.entity-list-json-form {
  submit-widget {
    display: none;
  }
}

.btn-back {
  margin-left: 15px;
}

.navbar {
  .navbar-minimize {
    padding: 0 0 0 15px;
  }
}
.xm-disabled { 
  user-select: none !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed !important;
}