/**
 XM fab speed dial
 */
*, :before, :after {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: inherit;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

body {
  box-sizing: border-box;
}

.xm-fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  text-align: center;
}
.xm-fab button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition-property: box-shadow, opacity, -webkit-transform;
  transition-property: box-shadow, opacity, -webkit-transform;
  transition-property: box-shadow, opacity, transform;
  transition-property: box-shadow, opacity, transform, -webkit-transform;
}
.xm-fab button.xm-fab-button {
  width: 56px;
  height: 56px;
  color: white;
  background-color: #009587;
  z-index: 1;
}
.xm-fab button i {
  margin-top: 6px;
}
.xm-fab button.xm-fab-option {
  width: 40px;
  height: 40px;
  color: grey;
  background-color: #E0E0E0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.xm-fab button.xm-fab-option:nth-last-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.xm-fab button.xm-fab-option:nth-last-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.xm-fab button.xm-fab-option:nth-last-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.xm-fab button.xm-fab-option:nth-last-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.xm-fab button.xm-fab-option:nth-last-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.xm-fab button.xm-fab-option:nth-last-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.xm-fab button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.xm-fab button:active, .xm-fab button:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.xm-fab:hover .xm-fab-option, .xm-fab:focus .xm-fab-option {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}