<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="primary">
                <i class="material-icons">search</i>
            </div>

            <div class="card-content">
                <h4 class="card-title"><span jhiTranslate="xm.xmEntity.search">Search result for</span> [<b>{{ currentSearch }}</b>]</h4>
                <br/>
                <div class="table-responsive" *ngIf="xmEntities">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th></th>
                            <th jhiSortBy="name"><span jhiTranslate="xm.xmEntity.name">Name</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="typeKey"><span jhiTranslate="xm.xmEntity.type">Type</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="stateKey"><span jhiTranslate="xm.xmEntity.state">State</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="description"><span jhiTranslate="xm.xmEntity.description">Description</span> <span class="fa fa-sort"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let xmEntity of xmEntities ;trackBy: trackId">
                            <td>
                                <img src="{{ xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.jpg' }}"
                                     class="xm-avatar-sm">
                            </td>
                            <td>
                                <a title="{{ xmEntity.key }}"
                                   [routerLink]="'../application/' + xmEntity.typeKey + '/' + xmEntity.id">
                                    {{xmEntity.name}}
                                </a>
                            </td>
                            <td><h6 *ngIf="getType(xmEntity.typeKey)">{{getType(xmEntity.typeKey).name.en}}</h6></td>
                            <td>
                                <div class="xm-state" *ngIf="getState(xmEntity.typeKey, xmEntity.stateKey)">
                                    <div class="xm-state-icon"
                                         [style.background]="getState(xmEntity.typeKey, xmEntity.stateKey).color">
                                        <i class="material-icons">{{getState(xmEntity.typeKey, xmEntity.stateKey).icon}}</i>
                                    </div>
                                    {{getState(xmEntity.typeKey, xmEntity.stateKey).name.en}}
                                </div>
                            </td>
                            <td>{{getShortDescription(xmEntity)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                <div *ngIf="xmEntities && xmEntities.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>