<div class="card">
  <div class="card-header card-header-icon" data-background-color="primary">
    <i class="material-icons">location_on</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{name}}</h4>

    <div *ngIf="groups && groups.length > 1" class="btn-group">
      <button class="btn btn-primary btn-sm btn-round"
              *ngFor="let group of groups"
              [class.disabled]="currentGroup === group"
              (click)="showGroup(group)">{{ group.name }}</button>
    </div>

    <!-- TODO: name should be in widget id -->
    <div id="regularMap" class="map"></div>
  </div>
</div>