<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
      <li *ngFor="let type of specificationTypes" class="nav-item">
        <a [class.active]="type.slug === currentSpecificationSlug"
           [routerLink]="['../' + type.slug]"
           class="nav-link" data-toggle="tab"
           role="tab">
          <i class="material-icons">{{type.icon}}</i>
          <span jhiTranslate="admin-config.specification-mng.{{type.slug}}.title"></span>
        </a>
      </li>
    </ul>
    <div [ngSwitch]="currentSpecificationSlug">
      <div *ngSwitchCase="'ui'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="updateUiConfig();"
                      *ngIf="isUiSpecValid"
                      [class.loading]="uiSpecificationProgress"
                      [disabled]="uiSpecificationProgress"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.ui.save' | translate}}
              </button>
              <button (click)="validateUiSpecification();"
                      *ngIf="!isUiSpecValid"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.validate' | translate}}
              </button>

              <div class="text-center">
                <div *ngIf="uiValidation && !uiValidation.valid"
                     [innerHtml]="uiValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onUiSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="uiSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'entity'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="validateXmEntitySpec();" *ngIf="!isXmEntitySpecValid" class="btn btn-primary mr-2"
                      jhiTranslate="admin-config.specification-mng.validate"
                      type="submit">
                Validate
              </button>
              <button (click)="updateEntityConfig();" *ngIf="isXmEntitySpecValid" class="btn btn-primary mr-2"
                      jhiTranslate="admin-config.specification-mng.entity.save"
                      type="submit">
                Update Entity specification
              </button>

              <button (click)="onShowConfigVisualizerDialog();"
                      class="btn btn-icon btn-just-icon btn-primary ml-2"
                      type="button">
                <i class="material-icons">visibility</i>
              </button>

              <button (click)="onShowConfigStatesManagementDialog();"
                      class="btn btn-icon btn-just-icon btn-primary ml-2"
                      type="button">
                <i class="material-icons">more</i>
              </button>
            </div>
            <div class="text-center">
              <div *ngIf="entityValidation && !entityValidation.valid" [innerHtml]="entityValidation?.errorMessage"
                   class="text-danger">
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onEntitySpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [gotoLine]="line"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'200px'"
                   [style.width]="'100%'"
                   [text]="entitySpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'timeline'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="validateTimelineConfig();" *ngIf="!isTimelineSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.validate"
                      type="submit">
                Validate
              </button>
              <button (click)="updateTimelineConfig();" *ngIf="isTimelineSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.timeline.save"
                      type="submit">
                Save Timeline specification
              </button>
              <div class="text-center">
                <div *ngIf="timelineValidation && !timelineValidation.valid" [innerHtml]="timelineValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onTimelineSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="timelineSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'uaa-login'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="validateLoginsSpecification();" *ngIf="!isUaaLoginSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.validate"
                      type="submit">
                Validate
              </button>
              <button (click)="updateLoginsSpecification();" *ngIf="isUaaLoginSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.uaa-login.save"
                      type="submit">
                Save Login specification
              </button>
              <div class="text-center">
                <div *ngIf="loginsValidation && !loginsValidation.valid" [innerHtml]="loginsValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onLoginsSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="loginsSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'uaa'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="validateUaaSpecification();" *ngIf="!isUaaSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.validate"
                      type="submit">
                Validate
              </button>
              <button (click)="updateUaaSpecification();" *ngIf="isUaaSpecValid" class="btn btn-primary"
                      jhiTranslate="admin-config.specification-mng.uaa.save"
                      type="submit">
                Save UAA specification
              </button>
              <div class="text-center">
                <div *ngIf="uaaValidation && !uaaValidation.valid" [innerHtml]="uaaValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onUaaSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="uaaSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'tenant'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="updateTenantConfig();"
                      *ngIf="isTenantSpecValid"
                      [class.loading]="tenantSpecificationProgress"
                      [disabled]="tenantSpecificationProgress"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.tenant.save' | translate}}
              </button>
              <button (click)="validateTenantSpecification();"
                      *ngIf="!isTenantSpecValid"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.validate' | translate}}
              </button>

              <div class="text-center">
                <div *ngIf="tenantValidation && !tenantValidation.valid" [innerHtml]="tenantValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onTenantSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="tenantSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'privateui'">
        <div class="card">
          <div class="card-body">
            <div class="text-center pb-3">
              <button (click)="updatePrivateUiConfig();"
                      *ngIf="isUiPrivateSpecValid"
                      [class.loading]="uiPrivateSpecificationProgress"
                      [disabled]="uiPrivateSpecificationProgress"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.privateui.save' | translate}}
              </button>
              <button (click)="validatePrivateUiSpecification();"
                      *ngIf="!isUiPrivateSpecValid"
                      class="btn btn-primary"
                      type="button">
                {{'admin-config.specification-mng.validate' | translate}}
              </button>

              <div class="text-center">
                <div *ngIf="uiPrivateValidation && !uiPrivateValidation.valid"
                     [innerHtml]="uiPrivateValidation?.errorMessage"
                     class="text-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <div (textChanged)="onPrivateUiSpecificationChange($event)"
                   [autoUpdateContent]="true"
                   [mode]="'yaml'"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [style.min-height]="'150px'"
                   [style.width]="'100%'"
                   [text]="uiPrivateSpecificationIn"
                   style="overflow-x: auto; border: 1px solid lightgray;"
                   xmAceEditor>
                <span jhiTranslate="admin-config.specification-mng.loading">loading specification...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
