/**
 XM avatars
 */
.xm-avatar-img-container {
    position: relative;
    display: inline-block;
}

.xm-avatar-img-container i {
    display: block;
    text-align: center;
    color: grey;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.xm-avatar-img-container img {
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.36), 0  4px 25px 0px rgba(0, 0, 0, 0.12), 0  8px 10px -5px rgba(0, 0, 0, 0.12);
}
