.xm-animate,
.xm-animate-hide {
  transition-property: -webkit-transform, transform, opacity;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.xm-animate {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0) scale(0.9);
  transform: translate3d(0, -10px, 0) scale(0.9);
  transition: cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;

  &.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.xm-animate-hide {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);

  &.ng-hide {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0) scale(0.9);
    transform: translate3d(0, -10px, 0) scale(0.9);
    transition: cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
  }
}
