$xm-logo-font-weight:     400 !default;
$xm-logo-icon-size:       42px !default;
$xm-logo-icon-size-x:     $xm-logo-icon-size !default;
$xm-logo-icon-size-y:     $xm-logo-icon-size !default;
$xm-logo-title-font-size: 18px !default;
$xm-logo-sidebar-color:   inherit !default;
$xm-logo-padding-x:       12px !default;
$xm-logo-padding-y:       15px !default;

:host {
  display:        flex;
  flex-direction: row;
  align-items:    center;
  vertical-align: center;
  padding:        $xm-logo-padding-y $xm-logo-padding-x;
}

.logo-img {
  height:    $xm-logo-icon-size-y;
  width:     $xm-logo-icon-size-x;
  min-width: $xm-logo-icon-size-x;
}

.logo-title {
  padding-left: $xm-logo-padding-x;
  font-size:    $xm-logo-title-font-size;
  color:        $xm-logo-sidebar-color;
  font-weight:  $xm-logo-font-weight;
  white-space:  nowrap;
  overflow:     hidden;
}
