<div class="card">
  <div class="card-header card-header-icon" data-background-color="primary">
    <i class="material-icons">info_outline</i>
  </div>

  <div class="card-content">
    <!--Header-->
    <h4 class="card-title" jhiTranslate="xm.xmEntity.data">Data</h4>

    <div class="image-container">
      <img src="./assets/img/data-placeholder.png" *ngIf="!formData" />
      <json-schema-form
        [framework]="'bootstrap-3'"
        [schema]="formData.schema"
        [layout]="formData.layout"
        [data]="xmEntity.data"
        (onSubmit)="onSubmitForm($event)"
        (formLayout)="showFormLayoutFn($event)"
        *ngIf="formData"
      >
      </json-schema-form>
    </div>
  </div>
</div>