<div
    [ngClass]="{'voucher': true, 'voucher-unknown': !isRedeemSuccess && !isRedeemError,  'voucher-success': isRedeemSuccess, 'voucher-error': isRedeemError }">
  <div class="voucher-header"></div>
  <div class="voucher-secret-line">
    <span>
      <input type="text" id="secret" name="secret" placeholder="0000 0000 0000 0000">
      <button class="btn btn-primary btn-round btn-sm" (click)="redeem()" jhiTranslate="xm.xmEntity.redeem.title">Redeem</button>
    </span>
  </div>
  <div class="voucher-footer">
    <div class="xm-congrats">
      <h1 jhiTranslate="xm.xmEntity.redeem.title" translateValues="{value: '2', currency: '&euro;'}"></h1>
    </div>
  </div>
</div>


