<div *ngIf="jsfAttributes?.schema" class="card">
  <div *ngIf="jsfAttributes?.entity?.formHeaderTitle &&
              jsfAttributes?.entity?.formHeaderIconName; then
              hasHeaderConfig else
              hasNotHeaderConfig;">
  </div>

  <div class="card-body min-height">
    <xm-loader [showLoader]="showLoader"></xm-loader>
    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (onSubmit)="onSubmitForm($event)"
                      *ngIf="jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf"
                      [options]="jsfAttributes.options | i18nJsf"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets">
    </json-schema-form>
  </div>
</div>

<ng-template #hasHeaderConfig>
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{jsfAttributes.entity.formHeaderIconName}}</i>
    </div>
    <h4 class="card-title">{{jsfAttributes.entity.formHeaderTitle | translate}}</h4>
  </div>
</ng-template>
<ng-template #hasNotHeaderConfig>
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">info_outline</i>
    </div>
    <h4 class="card-title" jhiTranslate="xm-entity.entity-data-card.title">Data</h4>
  </div>
</ng-template>
