<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{isBackLink ? 'link' : linkSpec.model.icon}}</i>
    </div>
    <h4 class="card-title">{{linkSpec.model.name | translate}}</h4>
  </div>

  <div class="card-body">
    <div class="text-center">
      <div *ngIf="modes.length > 1" class="btn-group">
        <button (click)="mode = 'list';"
                [disabled]="mode === 'list'"
                class="btn btn-round"
                color="primary"
                mat-flat-button
                type="button">
          <span jhiTranslate="xm-entity.link-list-card.list-view">List view</span>
        </button>
        <button (click)="mode = 'tree';"
                [disabled]="mode === 'tree'"
                class="btn btn-round"
                mat-flat-button
                color="primary"
                type="button">
          <span jhiTranslate="xm-entity.link-list-card.tree-view">Tree view</span>
        </button>
      </div>
    </div>

    <div *ngIf="mode == 'list'" class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let field of fields">
            <span>{{field.title | translate}}</span>
          </th>
          <th *ngIf="!isBackLink"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let link of links">
          <td>
            <div class="xm-avatar-img-container">
              <img src="{{link.target.avatarUrl ? link.target.avatarUrl : './assets/img/placeholder.png'}}">
              <i *ngIf="linkSpec.model.icon && !link.target.avatarUrl"
                 class="material-icons">{{linkSpec.model.icon}}</i>
            </div>
          </td>
          <td *ngFor="let field of fields">
            <a *ngIf="field.field =='name'; else barePropertyText"
               routerLink="/application/{{link.target.typeKey}}/{{link.target.id}}"
               title="{{link.target.key}}">
              {{ getFieldValue(link.target, field) }}
            </a>
            <ng-template #barePropertyText>
              {{ getFieldValue(link.target, field) }}
            </ng-template>
          </td>

          <td *ngIf="!isBackLink">
            <a (click)="onRemove(link)" *permitted="'LINK.DELETE'" class="text-muted" role="button">
              <i class="material-icons">close</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="mode === 'tree'" class="row">
      <div class="col-md-12">
        <xm-link-list-tree-section [linkSpec]="linkSpec.model" [links]="treeRootLinks" class="tree">
        </xm-link-list-tree-section>
      </div>
    </div>
  </div>
</div>
